/* ========= Form CSS ========= */

body {
    /*background-color: #fafafa;*/
}

.form-page {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0 50px 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
}

.form-section {
    width: 100%;
    margin: auto;
    padding: 0;
    min-height: 600px;
}

.form-container {
    width: 100%;
    margin: auto;
}

.form-container {
    max-width: 575px;
    margin: auto;
}

.form-container h6 {
    margin-bottom: 0;
    padding: 0;
}

.form-container h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    color: #000000;
    font-weight: bold;
    margin: 20px 0 30px 0;
}

.form-container .form-group {
    width: 450px;
    max-width: 100%;
    margin: auto;
    padding: 0;
}
.form-section .form-group.has-error{
    margin-bottom:20px;
}

.form-elements .btn-solid {
    margin-top: 60px;
}

.comboHeading h6::before {
    height: 40px;
}

.comboHeading h6::after {
    height: 40px;
}

.icons-row img {
    width: 38px;
    height: auto;
    margin: 2px;
}
.icons-row.mid img{
    width: 68px;
}

.icons-row {
    width: 100%;
    margin: auto;
    padding: 0 0 10px 0;
}

.form-heading {
    margin: auto;
}

.form-heading h5 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 30px;
}

.form-container {
    min-height: 700px;
}

.form-container.signup-consumer {
    /* width: 930px;
    max-width: 100%; */
    width:100%;
    max-width: 930px;
}

.signup-consumer .form-heading {
    max-width: 575px;
    margin: auto !important;
    display: block;
}

.signup-consumer .form-elements {
    width: 100%;
    margin: auto;
    padding: 0;
}

.signup-consumer .form-elements .form-group {
    position: relative;
}

.required-sign {
    width: 8px;
    height: auto;
    position: absolute;
    top: 2px;
    right: 7px;
    z-index:12;
}

.view-password {
    width: 24px;
    height: auto;
    position: absolute;
    top: 20px;
    right: 20px;
}

.form-container .form-group .custom-select-wrapper {
    margin-bottom: 20px;
}

.checkbox-row {
    width: 100%;
    margin: auto;
    padding: 0;
}

.checkbox-row .parsley-required{
    color:#EC603E;
}

.checkbox-row p {
    font-size: 8px;
    color: #EC603E;
    margin-bottom: 15px;
    margin-top: 10px;
}

.checkbox-row label {
    font-size: 16px;
    color: #2B2B2B;
}

.btn-container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}