.single-slider-carousel.owl-carousel .owl-dots {
  width: 100%;
  position: absolute;
  bottom: 10px;
}

.single_slider_item_wrapper {
  width: 100%;
  /*max-height: 600px;
  min-height: 300px;*/
  height: 90vh;
  overflow: hidden;
  position: relative;
}

.single-slider-carousel .single_slider_item_image {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.single-slider-carousel.owl-carousel .owl-item img {
  height: 100%;
  object-fit: cover;
}

.single-slider-carousel .sliderCaption {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  transform: translate(0px, -50%);
  -webkit-transform: translate(0px, -50%);
}

.single-slider-carousel .owl-item.active h3 {
  color: rgb(86, 98, 114);
  font-size: 60px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.single-slider-carousel .owl-item.active h3.fadeOut, .single-slider-carousel .owl-item.active a.fadeOut {
  animation: 1s .3s fadeInUp both;
  -webkit-animation: 1s .3s fadeInUp both;
}

.single-slider-carousel .owl-item.active p {
  -webkit-animation: 1s .3s fadeInUp both;
  animation: 1s .3s fadeInUp both;
}

.single-slider-carousel .slideOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Feel free to change duration  */

.animated {
  -webkit-animation-duration: 50 ms;
  animation-duration: 50 ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* .owl-animated-out - only for current item */

/* This is very important class. Use z-index if you want move Out item above In item */

.owl-animated-out {
  z-index: 1
}

/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */

.owl-animated-in {
  z-index: 0
}

/* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* single image block item css start */

.single-image-block-item {
  /*width:100%;*/
  height: 400px;
  position: relative;
  background: #000;
}

.image-gallery-thumb {
  width: 25%;
  height: 200px;
  overflow: hidden;
  float: left;
}

.image-gallery-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}