* { padding: 0px; margin: 0px; outline: none; }

/* font-family: 'Raleway', sans-serif; */

/* placeholder and Selection css */
::selection { color: #fff; background: #2c2c2c; }

::-moz-selection { color: #fff; background: #2c2c2c; }

::-webkit-input-placeholder { color: #A0A0A0; text-overflow: ellipsis; font-size: 18px; }

::-moz-placeholder { color: #A0A0A0; text-overflow: ellipsis; opacity: 1; font-size: 18px; }

:-ms-input-placeholder { color: #A0A0A0; text-overflow: ellipsis; opacity: 1; font-size: 18px; }

/* body css property */
body, html { height: 100%; -moz-osx-font-smoothing: grayscale; }

body { font-family: 'Roboto', sans-serif; height: 100%; font-size: 16px; color:#787878; line-height: 26px; font-weight: 400; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; }

h1, h2, h3 { margin-top: 0px; font-weight: 400; color:#000; }

h4, h5, h6 { margin-top: 0px; font-weight: 300; color:#000; }

h3, .heading-h3{ font-size:40px; }

h4, .heading-h4{ font-size:30px; }

h4.mid, .heading-h4-mid{ font-size:25px; }

h5, .heading-h5{ font-size:20px; }

h6, .heading-h6{ font-size:18px; }

.section-heading{ margin-bottom:30px; }

p { margin: 0 0 25px; line-height: 26px; }

strong { font-weight: 500; }

ul, ol, dl { list-style-position: outside; margin-bottom: 15px; padding: 0px; list-style: none; }

/* video and audio */
img { max-width: 100%; height: auto; }

video { background-size: cover; display: table-cell; vertical-align: middle; width: 100%; }

iframe { border: 0; }

/* common animation */
.transition *{ transition: all ease 0.4s; -webkit-transition: all ease 0.4s; -ms-transition: all ease 0.4s; }

/* preloader css */
#preloader { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: #fff; z-index: 999; }

/* link, buttons css */
a, a:hover, a:focus { text-decoration: none; transition: all ease 0.4s; -webkit-transition: all ease 0.4s; -ms-transition: all ease 0.4s; }

a:hover, a:active { text-decoration: none; }

.btn{ font-size: 16px; color:#00CAEE; border-radius: 0px; transition: all ease 0.4s; -webkit-transition: all ease 0.4s; -ms-transition: all ease 0.4s; }

.btn.btn-solid{ min-width:100px; padding:15px 20px; font-weight:600; background-color:#009cee; color:#fff; border:none; appearance: none; -webkit-appearance: none; transition: all ease 0.4s; -webkit-transition: all ease 0.4s; -ms-transition: all ease 0.4s; }

.btn.btn-solid:hover, .btn.btn-solid:focus{ background-color:#232323; }

.btn.btn-solid.btn-gray{ background-color: #F0F0F0; border: #D5D5D5 solid 1px; color:#555555; }

.btn.btn-solid:hover, .btn.btn-solid:focus{ background-color:#232323; color:#fff; }

a[disabled]{ opacity: 0.5; cursor: not-allowed; pointer-events: none; }

.btn.btn-sm{ padding: 8px 16px; font-size:13px; }

.suare-btn{ width:30px; height:30px; line-height: 30px; font-size: 18px; text-align: center; display: inline-block; background: #009cee; border:none; outline: none; color:#fff; border-radius: 100%; -webkit-border-radius: 100%; }

.suare-btn:hover{ background:#232323; color:#fff; }

/* color css */
.blue-gradient-bg{ background: #009cee; background: -moz-linear-gradient(-45deg,  #009cee 0%, #00caee 99%); background: -webkit-linear-gradient(-45deg,  #009cee 0%,#00caee 99%); background: linear-gradient(135deg,  #009cee 0%,#00caee 99%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009cee', endColorstr='#00caee',GradientType=1 ); }

.dark-gray{ color:#2F2F2F !important; }

.graybg-box{ padding: 20px; background: #E7E7E7; font-size: 18px; }

.graybg-box-heading > h1, .graybg-box-heading > h2, .graybg-box-heading > h3, .graybg-box-heading > h4, .graybg-box-heading > h5, .graybg-box-heading > h6{ margin: 0px; }


/* form element css */
.form-group { margin-bottom: 20px; }

.form-control{ height:55px; padding: 15px; border-radius: 0px; -webkit-border-radius: 0px; color:#495057; resize:none; }

.form-control:hover, .form-control:focus{ outline: none; box-shadow: none; }

.form-group label{ font-weight:500; color:#404040; }

.form-control.btm-outline{ border-width:0px 0px 1px 0px; padding-left: 0px; padding-right: 0px; }

textarea.form-control{ height:100px; }

select.form-control{ padding:0px 15px; height:55px !important; font-size: 1rem; background-image: url("%PUBLIC_URL%/images/gray-arrow.png"); background-repeat: no-repeat; background-position: right center; appearance: none; -webkit-appearance: none; }

.loginfo{ width:100%; display: inline-block; margin:10px 0px; }

.loginfo a{ color:#232323; text-decoration: underline; font-weight:600; }

.loginfo a:hover{ color:#009cee; }


/* home banner css start */
.home-banner-area{ width:100%; min-height:490px; position: relative; overflow: hidden; }

.home-banner-area img{ width:100%; float: left; }

.home-banner-content-area{ width:100%; height:100%; position: absolute; display: flex; display: -webkit-flex; align-items: center; }

.home-banner-area h1{ color:#008adb; font-size:110px; font-weight: 700; line-height: 85px; }

.home-banner-area h1 small{ display: block; font-size:54px; color:#222222; font-weight:400; }

/* with search panel */
.home-banner-content-area.banner-with-search{ align-items: flex-end; }

.banner-innr-content-wrap{ width:85%; margin:30px auto; }

.banner-innr-content-wrap .banner-search-area{ margin-top: 70px; }

.banner-search-area{ width:100%; position: relative; }

.banner-search-area input[type="text"], .form-control.blue-outline{ width:100%; height:70px; border:#00CAEE solid 2px; padding:10px 25px; box-shadow:#d6d6d6 0px 0px 10px; border-radius: 0px; -webkit-border-radius: 0px; outline: none; appearance: none; -webkit-appearance: none; }

.banner-search-area .btn.btn-solid{ height:70px; }
/* home banner css ended */


/* home login and app download area css start */
.home-login-app-download-area{ position: relative; overflow: hidden; /*background: url("../images/bg-map.png") no-repeat top right;*/ }

.home-login-heading, .home-app-heading{ min-height:38px; padding: 34px 0px; position: relative; color:#fff; font-size:40px; font-weight:300; }

.home-login-heading:before, .home-app-heading:after{ content:''; position: absolute; width:100%; height:100%; top:0px; }

.home-login-heading:after, .home-app-heading:before{ content:''; position: absolute; width:15px; height:100%; top:0px; }

.home-login-heading, .home-login-heading:before, .home-login-heading:after{ background:#232323; }

.home-app-heading, .home-app-heading:after, .home-app-heading:before{ background: #00CAEE; }

.home-app-heading{ padding-left: 30px; }

.home-login-heading:before{ left:-100%; }

.home-login-heading:after{ right:-15px; }

.home-app-heading:before{ left:-15px; }

.home-app-heading:after{ right:-100%; }

.home-login-content-area{ width:100%; position: relative; padding:65px 60px 65px 0px; }

.home-login-content-area:before, .home-login-content-area:after{ content:''; width:100%; height:100%; position: absolute; top:0px; }

.home-login-content-area, .home-login-content-area:before, .home-login-content-area:after{ background: #f6f6f6; }

.home-login-content-area:before{ left:-100%; }

.home-login-content-area:after{ width:15px; right:-15px; }

.home-app-container{ width:100%; display: inline-block; padding:50px 0px 20px 20px; }

.home-app-container .mobile-pic{ width:auto; max-width: 345px; float: left; }

.home-app-container .mobile-pic img{ width:100%; }

.home-app-container .app-content{ position: relative; overflow: hidden; text-align: right; }

.home-app-container .app-content h4{ font-weight:300; margin:10px 0px 20px 0px; }

.home-app-container .app-content p{ padding-left:20px; margin-bottom:30px; }

.app-download-btn-list{ padding:0px; margin:0px; float: right; }

.app-download-btn-list li{ display: inline-block; clear: both; margin-bottom: 10px; }

.app-download-btn-list li a{ display: block; }

/* home login and app download area css ended */



/* home ambasedor section css start */
.home-ambasedor-area{ position: relative; /*overflow: hidden;*/ padding-top: 20px; margin-bottom: 60px; /*padding-bottom: 60px;*/ }

.home-ambasedor-area .banner-area{ width:100%; display: inline-block; position: relative; }

.home-ambasedor-area .banner-area img{ width:100%; float: left; }

.home-ambasedor-area .banner-white-box-wrapper{ width:100%; min-height: 20px; position: absolute; left: 0; bottom: 0px; z-index: 1; }

.home-ambasedor-area.type-2{ margin-bottom:0px; }

.banner-white-box{ width:100%; display: inline-block; padding:55px 45px; background: #fff; box-shadow: #e4e4e4 0px 0px 19px; -webkit-box-shadow: #e4e4e4 0px 0px 19px; margin-bottom:-55px; }

.banner-white-box p{ font-size: 22px; line-height: 36px; margin:0px 0px 30px 0px; }
/* home ambasedor section css ended */


/* our partner section css start */
.home-partner-area{ position: relative; padding: 60px 0px 80px; overflow: hidden; }

.home-partner-area .section-heading{ font-size:32px; margin-bottom:38px; }

.text-after{ position: relative; padding-bottom: 20px; }

.text-after:after{ content: ''; position: absolute; bottom: 0; left: 0; right: 0; width: 70px; height: 5px; background: #00CAEE; margin: 0 auto; }

.partner-image-box{ width:225px; margin:0px auto; }

.partner-image-box a{ display: block; }

.partner-image-box img{ width:100%; }
/* our partner section css closed */


/* featured restaurant section css start */
.featured-restaurant{ width:100%; padding: 90px 0px 30px; position: relative; display: inline-block; }

.featured-box{ width:100%; display: inline-block; position: relative; box-shadow:#949494 0px 0px 10px; }

.featured-box .image-area{ width:100%; height:350px; background: #00CAEE; overflow: hidden; }

.featured-box .image-area > img{ width:100%; height:100%; object-fit: cover; transition: all ease-in-out 0.7s; }

.featured-box .image-area .ambassador-profile-pic-holder{ position: absolute; top:15px; right:5px; z-index: 2; }

.featured-box:hover .image-area > img{ transform: scale(1.1); }

.featured-box .featured-content-area{ position: relative; min-height:100px; padding:15px 20px 20px; background: #fff; }

.featured-box .featured-content-area h5{ font-weight:600; }

.featured-box .featured-content-area h5, .featured-box .featured-content-area h5 a{ color:#2F2F2F; }

.featured-box .featured-content-area h5 a:hover{ color:#00CAEE; }

.featured-box .featured-content-area .foodtype{ width:100%; display: inline-block; font-size: 16px; font-weight:400; color:#787878; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-bottom: 15px; }

.featured-box .featured-action-area{ margin-top:30px; padding-bottom: 0px; }

.chef-profile{ width:auto; display: flex; display: -webkit-flex; align-items: center; }

.chef-profile-pic-holder{ position: relative; display: inline-block; margin-right: 24px; }

.chef-profile-pic{ width:44px; height:44px; border-radius: 100%; overflow: hidden; border:#FFFF45 solid 3px; }

.chef-profile-pic img{ width:100%; height:100%; object-fit: cover; }

.chef-hat{ width:24px; display: inline-block; }

.chef-hat img{ width:100%; }

.chef-profile-pic-holder .chef-hat{ position: absolute; right: -10px; bottom: 2px; }

.chef-profile .chef-name{ width:auto; color:#212121; font-size:20px; font-weight:300; }

.chef-profile.small .chef-profile-pic-holder{ margin-right: 10px; }

.chef-profile.small .chef-profile-pic{ width:28px; height:28px; border: none; }

.chef-profile.small .chef-name{ font-size:18px; }

.ambassador-profile-pic-holder{ position: relative; display: inline-block; margin-right: 24px; }

.ambassador-profile-pic{ width:44px; height:44px; border-radius: 100%; overflow: hidden; border:#FFFF45 solid 3px; }

.ambassador-profile-pic img{ width:100%; height:100%; object-fit: cover; }

.ambassador-hat{ width:18px; display: inline-block; }

.ambassador-hat img{ width:100%; }

.ambassador-profile-pic-holder.big .ambassador-profile-pic{ width:52px; height:52px; }

.ambassador-profile-pic-holder.big .ambassador-hat{ width:28px; bottom:-10px; right:-10px; }

.ambassador-profile-pic-holder .ambassador-hat{ position: absolute; right: -7px; bottom: -5px; }

.featured-action-area{ width:100%; display: inline-block; padding: 20px 0px; border-top:#E8E8E8 solid 1px; }

.featured-action-area ul{ width:100%; padding:0px; margin: 0px; }

.featured-action-area ul li{ width:auto; display: inline-block; font-size:18px; margin-right: 20px; }

.featured-action-area ul li:last-child{ margin-right:0px; }

.featured-action-area ul li a{ color:#000; }

.featured-action-area ul li:hover a{ color:#000; }

.featured-action-area ul li img{ height:26px; display: inline-block; margin-right:10px; }
/* featured restaurant section css ended */


/* slider css start */
.featured-ambassador-slider .slick-slide{ margin:10px 15px; }
/* slider css ended */


/* footer top app section css start */
.footer-tp-app-sctn{ position: relative; overflow: hidden; margin: -8px 0px 0px 0px; padding: 115px 0px 0px 0px; min-height: 100px; background:#F0F0F0; }

.footer-tp-app-sctn .row{ position: relative; /*background: url("../images/bg-map.png") no-repeat left top;*/ }

.footer-tp-app-sctn .app-download-btn-list{ text-align: center; padding-top: 20px; }

.footer-tp-app-sctn .mobile-pic{ width:100%; max-width: 350px; height:192px; overflow: hidden; float: right; margin:0px -20px; }

.footer-tp-app-sctn .mobile-pic img{ width:100%; }
/* footer top app section css closed */


/* footer css start */
footer{ position: relative; padding:50px 0px; }

.footer-social-section{ width:100%; display: inline-block; }

.footer-social{ margin:0px -8px; padding:0px; float: right; }

.footer-social li{ width:auto; display: inline-block; margin:0px 8px; font-size:21px; }

.footer-social li, .footer-social li a{ color:#666666; }

.footer-social li a:hover{ color:#00CAEE; }

.footer-link-section{ width:100%; display: inline-block; margin:10px 0px 0px 0px; }

.footer-link-list{ margin:0px -20px; padding:0px; }

.footer-link-list li{ width:auto; display: inline-block; padding:0px 20px; line-height: 12px; border-right:#222222 solid 1px; }

.footer-link-list li:last-child{ border:none; }

.footer-link-list li, .footer-link-list li a{ color:#222222; }

.footer-link-list li a:hover{ color:#00CAEE; }

.footer-copywrite{ float: right; margin:0px; }
/* footer css ended */


/* slick banner css start */
.slick-banner-area{ width:100%; min-height:100px; padding: 40px 0px; position: relative; overflow: hidden; background-repeat: no-repeat; background-position: center center; background-size: cover; }

.slick-banner-area:before{ content:''; width:100%; height:100%; position: absolute; top:0px; left:0px; background: rgba(0,0,0,0.5); }

.slick-banner-area img{ width:100%; float: left; }

.slick-banner-area .home-banner-content-area{ /*top:0px; left:0px;*/ position: relative; }

.slick-banner-area .banner-search-area input[type="text"], .form-control.blue-outline{ box-shadow: none; }

/* slick banner css ended */


/* breadcrumb css start */
.breadcrumb-section{ position: relative; overflow: hidden; padding:45px 0px; }

ul.breadcrumb-ul-list{ width:100%; display: inline-block; padding:0px; margin:0px; }

ul.breadcrumb-ul-list li{ min-width:36px; height:36px; line-height: 36px; text-align: center; display: inline-block; position: relative; border:#CFCFCF solid 1px; background: #fff; margin-left: -5px; padding: 0px 10px 0px 30px; box-shadow: #cacaca 0px 0px 5px; }

ul.breadcrumb-ul-list li, ul.breadcrumb-ul-list li a{ color:#787878; font-size: 16px; }

ul.breadcrumb-ul-list li a, ul.breadcrumb-ul-list li span{ position: relative; display: block; z-index: 2; }

ul.breadcrumb-ul-list li:after{ content:''; position: absolute; right:-14px; top:4px; width:26px; height:26px; background: #fff; border-width:1px 1px 0px 0px; border-style: solid; border-color:#CFCFCF; transform: rotate(45deg); z-index: 1; }

ul.breadcrumb-ul-list li:first-child{ padding: 0px 0px 0px 10px; margin-left:0px; }

ul.breadcrumb-ul-list li:last-child, ul.breadcrumb-ul-list li:last-child a{ color:#00CAEE; }

ul.breadcrumb-ul-list li:last-child:hover,ul.breadcrumb-ul-list li:last-child:hover:after{ background:#fff; }

ul.breadcrumb-ul-list li, ul.breadcrumb-ul-list li a, ul.breadcrumb-ul-list li:after{ transition: all ease-in-out 0.4s; -webkit-transition: all ease-in-out 0.4s; }

ul.breadcrumb-ul-list li:hover, ul.breadcrumb-ul-list li:hover:after{ background-color:#00CAEE; }

ul.breadcrumb-ul-list li:hover a{ color:#fff; }
/* breadcrumb css ended */

/* inner page common css start */
.section-block{ position: relative; padding: 0px; margin-bottom: 45px; }

.shadow-box{ box-shadow: #bfbfbf 0px 0px 10px; }
/* inner page common css ended */

/* book table info box css start */
.book-table-infobox{ position: relative; min-height:256px; overflow: hidden; text-align: center; display:flex; display:-webkit-flex; justify-content: space-between; flex-flow: column; }

.book-table-infobox:before{ content:''; position: absolute; top:0px; left:0px; width:210px; height:213px; background: url("%PUBLIC_URL%/assets/images/item-bg-1.png") no-repeat top left; }

.book-table-infobox:after{ content:''; position: absolute; top:0px; right:0px; width:210px; height:213px; background: url("%PUBLIC_URL%/assets/images/item-bg-2.png") no-repeat top right; }

.book-table-infobox .info-content{ width:100%; padding: 25px; position: relative; z-index: 1; }

.book-table-infobox .info-content h5{ color:#5E5E5E; font-weight: 400; margin-bottom: 0px; }

.book-table-infobox .info-content h4{ color:#000000; font-weight: 500; margin-bottom:12px; }

.book-table-infobox .info-content p{ margin-bottom: 5px; font-size: 18px; line-height: 22px;; font-weight: 400; }

.book-action-panel{ width:auto; }

.book-action-panel .panel-content-wrap{ display: inline-block; min-width:70%; padding: 15px; border-top:#E7E7E7 solid 1px; }

.book-action-panel .panel-content-wrap .btn{ min-width:185px; }

ul.book-time-info-list{ display: inline-block; margin: 0px 40px 0px 0px; }

ul.book-time-info-list li{ display: inline-block; position: relative; font-size: 18px; color:#000; padding: 0px 20px; }

ul.book-time-info-list li:after{ content:''; width:1px; height:22px; top:50%; margin-top:-11px; background: #E7E7E7; position: absolute; right:0px; }

ul.book-time-info-list li:last-child:after{ display: none; }

ul.book-time-info-list li img{ margin-right:10px; }
/* book table info box css endee */


/* product row view box css start */
ul.product-add-list{ width:100%; display: inline-block; padding:0px; margin:0px; }

ul.product-add-list li{ width:100%; float: left; }

.prdct-row-viewbox{ position: relative; width: 100%; display: flex; display: -webkit-flex; justify-content: space-between; padding-bottom: 20px; margin-bottom: 27px; border-bottom:#E6E6E6 solid 1px; }

.prdct-row-viewbox .product-img-frame{ width:142px; height:116px; overflow: hidden; border:#e2e2e2 solid 2px;  }

.prdct-row-viewbox .product-img-frame img{ width:100%; height:100%; object-fit: cover; transition: all ease-in-out 0.4s; -webkit-transition: all ease-in-out 0.4s; }

.prdct-row-viewbox:hover .product-img-frame img{ transform: scale(1.08); -webkit-transform: scale(1.08); }

.prdct-row-viewbox .product-info-area{ padding:0px; flex: 1; -webkit-flex: 1; display: flex; display: -webkit-flex; justify-content: space-between; }

.prdct-row-viewbox .product-info-area .product-info-col{ flex: 1; padding:0px 30px; }

.prdct-row-viewbox .product-info-area .product-actn-col{ padding:0px 20px; }

.prdct-row-viewbox .product-info-area .product-actn-col .btn.btn-solid{ min-width:105px; padding:12px 20px; }

.prdct-row-viewbox h3{ font-size:25px; line-height: 28px; font-weight: 500; margin-bottom: 10px; }

.prdct-row-viewbox h3, .prdct-row-viewbox h3 a{ color:#2F2F2F; }

.prdct-row-viewbox h3:hover a{ color:#009cee; }

.prdct-row-viewbox .pirce-display{ font-size: 18px; color: #2F2F2F; line-height: 18px; margin-bottom:10px; }

.prdct-row-viewbox p{ font-size: 17px; margin-bottom: 10px; line-height: 20px; }

.elips{ width:100%; height: 18px; display: block; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; }

.elips-para{ width:100%; height: 42px; display: block; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.crtbx-content-wrapr{ padding:20px; }

.crtbox-heading{ font-size: 24px; text-align: center; margin-bottom: 10px; }

.crtitem-scrollcontentarea { width: 100%; height: 312px; display: inline-block; margin-bottom: 30px; }

ul.crtitem-added-list{ width:100%; display: inline-block; margin:0px; padding:0px; }

ul.crtitem-added-list li{ width:100%; float: left; position: relative; padding:15px 0px; }

.crtitem-added-box{ width:100%; padding: 0px; }

.crtitem-added-box h5{ font-weight:500; }

.crtitem-added-box .action-area{ width:100%; display: flex; display: -webkit-flex; justify-content: space-between; align-items: center; }

.crtitem-prize-box{ position: relative; }

.crtitem-prize-box input{ text-align: right; border: none; min-width: 40px; max-width: 40px; }

.cartitem-subtotal-box{ padding: 20px 20px 30px 20px; background: #E7E7E7; font-size: 18px; }

.subtotal-row{ width:100%; display: inline-block; margin-bottom:20px; }

.right-cart-panel .cartbox-close-btn{ display: none; }
/* product row view box css ended */


/* restaurant row view box css start */
.rstuarnt-add-list{ padding: 0px; margin:0px; }

.rstuarnt-add-list > li{ width:100%; display: inline-block; margin-bottom: 58px; }

.rstuarnt-row-viewbox{ position: relative; width: 100%; display: flex; display: -webkit-flex; justify-content: space-between; margin-bottom: 40px; }

.rstuarnt-row-viewbox .ambassador-profile-pic-holder{ position: absolute; top:15px; right:0px; }

.rstuarnt-row-viewbox .rstuarnt-img-frame{ width:142px; height:152px; overflow: hidden; border:#e2e2e2 solid 2px;  }

.rstuarnt-row-viewbox .rstuarnt-img-frame img{ width:100%; height:100%; object-fit: cover; transition: all ease-in-out 0.4s; -webkit-transition: all ease-in-out 0.4s; }

.rstuarnt-row-viewbox:hover .rstuarnt-img-frame img{ transform: scale(1.08); -webkit-transform: scale(1.08); }

.rstuarnt-row-viewbox .rstuarnt-info-area{ padding:0px; flex: 1; -webkit-flex: 1; display: flex; display: -webkit-flex; justify-content: space-between; }

.rstuarnt-row-viewbox .rstuarnt-info-col{ flex: 1; padding:0px 30px; }

.rstuarnt-row-viewbox h3{ font-size:22px; line-height: 24px; font-weight: 500; margin-bottom: 8px; }

.rstuarnt-row-viewbox h3, .rstuarnt-row-viewbox h3 a{ color:#2F2F2F; }

.rstuarnt-row-viewbox p{ font-size: 16px; margin-bottom: 10px; line-height: 22px; }

.rstuarnt-row-viewbox.small{ margin-bottom:20px; }

.rstuarnt-row-viewbox.small .rstuarnt-img-frame{ width:85px; height:74px; margin-right:20px; }

.rstuarnt-row-viewbox.small .rstuarnt-info-col { padding: 0px 0px; }

.rstuarnt-row-viewbox.small h3 { font-size: 18px; line-height: 20px; }

.rstuarnt-row-viewbox.small p{ font-size: 15px; margin-bottom: 5px; line-height: 18px; }

.rstuarnt-row-viewbox.small .rstuarnt-info-col{ padding-bottom: 18px; border-bottom:#EBEBEB solid 1px; }

.gray-actn-btn-area{ width:100%; display: inline-block; position: relative; padding:20px 0px; background: #ECECEC; }

.gray-actn-btn-area ul{ padding: 0px; margin:0px; display: flex; display: -webkit-flex; justify-content: space-between; }

.gray-actn-btn-area ul li{ flex: 1; border-right:#B8B8B8 solid 1px; font-size:18px; text-align: center; }

.gray-actn-btn-area ul li:last-child{ border:none; }

.gray-actn-btn-area ul li > img, .gray-actn-btn-area ul li a > img{ width:25px; margin-right: 10px; }

.gray-actn-btn-area ul li, .gray-actn-btn-area ul li a{ color:#000; }
/* restaurant row view box css ended */


/* sticky element on scroll css start */
.StickyElementAfterScroll_withfixheight{ transition: -webkit-transform .3s ease; transition: transform .3s ease; transition: transform .3s ease,-webkit-transform .3s ease; }

.Sticky .StickyElementAfterScroll_withfixheight{ -webkit-transform: translateY(10px); transform: translateY(10px);	position: fixed; top:0; z-index:2; }
/* sticky element on scroll css ended */


/* restaurant list page css start */
.featurd-rstrnt-list-area{ width:100%; display: inline-block; padding: 20px; }

.featurd-rstrnt-list{ padding: 0px; margin:0px; }

.featurd-rstrnt-list li:last-child .rstuarnt-row-viewbox.small .rstuarnt-info-col{ border-bottom:none; }
/* restaurant list page css ended */


/* form info box css start */
.form-infobox{ position: relative; min-height:256px; overflow: hidden; display:flex; display:-webkit-flex; justify-content: space-between; flex-flow: column; }

.form-infobox:before{ content:''; position: absolute; top:0px; left:0px; width:210px; height:213px; background: url("%PUBLIC_URL%/assets/images/item-bg-1.png") no-repeat top left; }

.form-infobox:after{ content:''; position: absolute; top:0px; right:0px; width:210px; height:213px; background: url("%PUBLIC_URL%/assets/images/item-bg-2.png") no-repeat top right; }

.form-infobox .info-content{ width:100%; padding:75px 25px 45px; position: relative; z-index: 1; }

.form-infobox .info-content h4{ color:#000000; font-weight: 500; margin-bottom:12px; text-align: center; }

.form-area-wrapper{ width:100%; max-width:70%; margin: 0px auto; clear: both; }

.form-section-head-tag{ width:100%; display: inline-block; position: relative; text-align: center; margin-bottom:40px; }

.form-section-head-tag:before{ content:''; position: absolute; left: 0; width:100%; height:1px; top:0px; bottom:0px; margin:auto; background:#E7E7E7; }

.form-section-head-tag span{ width:auto; display: inline-block; padding: 6px 20px; color:#fff; font-size: 20px; font-weight: 700; position: relative; z-index: 1; }
/* form info box css ended */


/* pagination-section css start */
.pagination-section{ width:100%; display: flex; display: -webkit-flex; justify-content: center; align-items: center; margin-top:30px; }

.pagination-section .page-count{ font-size:15px; color:#343434; padding:20px; }

.pagination-section .pagination-area{ position: relative; padding: 0px 20px; }

nav[aria-label='navigation'] ul.pagination{ margin:0px; border-radius: 0; }

nav[aria-label='navigation'] ul.pagination .page-link{ margin-left:0px; }

nav[aria-label='navigation'] ul.pagination li a{ border:none; padding: 0px; line-height: 58px; height:100%; background: transparent; display: block; color:#343434; }

nav[aria-label='navigation'] ul.pagination li{ width:64px; height:58px; position: relative; border:#CFCFCF solid 1px; background: #fff; margin:0px 1px; text-align: center; }

nav[aria-label='navigation'] ul.pagination li.page-item:first-child .page-link{ border-top-left-radius:0; border-bottom-left-radius:0; }

nav[aria-label='navigation'] ul.pagination li.page-item:last-child .page-link{ border-top-right-radius:0; border-bottom-right-radius:0; }

nav[aria-label='navigation'] ul.pagination li.page-item.active .page-link{ background: #EDEBEB; color:#343434; }
/* pagination-section css ended */


/* Increase/Decrease Input css start */
.incrsDcrsInput { width: auto; position: relative; display: inline-block; margin-right: -10px; border:#D5D5D5 solid 1px; }

.incrsDcrsInput .eventBtn { width: 38px; height: 38px; color: #fff; font-size: 14px; text-align: center; line-height: 42px; position: absolute; top: 0px; background:#fff; background-repeat: no-repeat; cursor: pointer; transition: all ease 0.2s; border:#D5D5D5 solid 1px; }

.incrsDcrsInput .eventBtn:before{ content:''; width: 16px; height:2px; background: #818181; position: absolute; top:0px; right:0px; bottom:0px; left:0px; margin:auto; }

.incrsDcrsInput .eventBtn:hover { color: #fff; }

.incrsDcrsInput .eventBtn:active { color: #fff; /*transform: scale(0.9); -webkit-transform: scale(0.9);*/ }

.incrsDcrsInput .eventBtn.dcrsBtn { left: 0; border-width:0px 1px 1px 0px; }

.incrsDcrsInput .eventBtn.incrsBtn { right: 0; border-width:0px 0px 1px 1px; }

.incrsDcrsInput .eventBtn.incrsBtn:after{ content:''; width: 2px; height:16px; background: #818181; position: absolute; top:0px; right:0px; bottom:0px; left:0px; margin:auto; }

.incrsDcrsInput .eventBtn[disabled=disabled] { pointer-events: none; opacity: 0.3; }

.incrsDcrsInput input[type=text] { width: 38px;  height: 37px; border: none; box-shadow: none; -webkit-box-shadow: none; display: inline-block; padding: 0px; text-align: center; background: transparent; color: #2F2F2F; font-size: 18px; font-weight: 600; margin: 0px 39px; }
/* Increase/Decrease Input css ended */


/* custom scroll css start */
.mCustomScrollbar * { transition: none; }

.mCSB_inside > .mCSB_container { margin-left: 20px; margin-right: 20px; }

.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden { margin-right: 20px; }

.mCustomScrollbar.content { overflow: auto; position: relative; padding: 0px; margin: 0px; width: 100%; max-width: 100%; height: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.mCSB_scrollTools { right: 5px; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar { background: #009cee !important; }

.mCSB_scrollTools .mCSB_draggerRail { background: rgba(0, 0, 0, 0.07); width: 1px; }

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar { width: 3px; }
/* custom scroll css ended */


/* custom checkbox css start */
label.custom_checkbox{ position: relative; padding-left: 25px; font-weight:500; }

label.custom_checkbox input{ opacity: 0; font-size:0px; color:transparent; position: absolute; }

label.custom_checkbox input + .chk_icon{ width:18px; height:18px; display: inline-block; background: #fff; border:1px solid #bbb; position: absolute; left:0px; top:3px; }

label.custom_checkbox input:checked + .chk_icon{ background: #f8b91f; border-color:#f8b91f; }

label.custom_checkbox input:checked + .chk_icon:after{ content:'\f00c'; font: normal normal normal 12px/1 FontAwesome; color:#fff; position: absolute; top: 2px; left: 3px; }
/* custom checkbox css ended */


/* book a table page css start */
.book-a-table-box{ padding: 15px 15px 45px 15px; }

.book-table-info-container{ padding: 15px 20px; width:100%; display: inline-block; }

.book-table-info-container [class|=heading]{ font-weight:500; }

.book-table-info{ width:100%; display: inline-block; position: relative; margin-bottom:25px; }

.book-table-info p{ margin-bottom:8px; line-height: 20px; }

.booking-form-section{ width:100%; display: inline-block; position: relative; }

.booking-form-heading{ margin-bottom:10px; }

.booking-form-section .form-group{ margin-bottom:18px; }

.booking-form-section .form-control{ font-size: 18px; }

.booking-form-section .booking-table-btn{ max-width:290px; width:100%; }

.form-section{ width:100%; display: inline-block; position: relative; margin-bottom:25px; }

.book-a-table-slider{ margin-bottom:30px; }

.book-a-table-slider .slick-slide{ width:100%; height:470px; overflow: hidden; }

.book-a-table-slider .slick-slide img{ width:100%; height:100%; object-fit: cover; }

.book-a-table-slider .slick-arrow{ position: absolute; top:50%; margin-top:-22px; z-index: 2; }

.book-a-table-slider .slick-prev{ left:0px; }

.book-a-table-slider .slick-next{ right:0px; }

.book-map-area{ width:100%; display: inline-block; position: relative; overflow: hidden; }

.book-map-area iframe{ width:100% !important; height: 280px !important; }
/* book a table page css ended */


/* modal css start */
.modal-content{ border-radius: 0px; -webkit-border-radius: 0px; }
/* modal css ended */


/* margin padding css start */
.margintop-10{ margin-top: 10px; }

.margintop-20{ margin-top: 20px; }

.margintop-30{ margin-top: 30px; }

.margintop-40{ margin-top: 40px; }

.marginbottom-0{ margin-bottom: 0px; }

.marginbottom-10{ margin-bottom: 10px; }

.marginbottom-20{ margin-bottom: 20px; }

.marginbottom-30{ margin-bottom: 30px; }

.marginbottom-40{ margin-bottom: 40px; }
/* margin padding css ended */
