body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	font-family:Arial, Helvetica, sans-serif;
}
body {
	-epub-hyphens:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
}
p{
	color:#000000;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:2;
	margin-left:0;
	margin-right:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-transform:none;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
}
.font-12{
	font-size: 12px;
}
.font-16{
	font-size: 16px;
}
.mt-20{
	margin-top: 20px;
}
.pad-tp-40{
	padding-top: 120px;
}
.mt-10{
	margin-top: 10px;
}
.mb-10 {
	margin-bottom:10px;
}
.mb-20{
	margin-bottom: 20px;
}
.mb-15{
	margin-bottom: 15px;
}
.mb-30{
	margin-bottom: 30px;
}
.mb-40{
	margin-bottom: 40px;
}
.mb-80{
	margin-bottom:80px;
}
.mb-70{
	margin-bottom:70px;
}
.mb-110{
	margin-bottom:110px;
}
.mb-25 {
	margin-bottom:25px;
}
.mtm-30 {
	margin-top:-20px;
}
.mb-36 {
	margin-bottom:36px;
}
.pd-15{
	padding: 15px;
}
.inline_block{
	display: inline-block;
}

.border-0 {
	border-width:0px;
}
.border-1{
	border:1px solid #000;
}
.border-solid{
	border-style:solid;
	border-width:1px;
}
.bg_blue {
	background-color:#dcedfa;
	padding:20px 17px;
}
.bg_black {
	border-color:#000000;
}
strong.font-600{
	font-weight: 600;
	font-size: 16px;
}
.font-14{
	font-weight: 400;
	font-size: 14px;
}
.font-16{
	font-weight: 400;
	font-size: 16px;
}
.font-18{
	font-weight: 500;
	font-size: 18px;
}
.font-900{
	font-weight: 900;
	font-size: 16px;
}
.italic {
	font-style:italic;
}
.align_left{
	text-align: left;
}
.align_center {
	text-align:center;
}
.align_right{
	text-align: right;
}
.align_justify{
	text-align: justify;
}
.clearfix{
	clear: both;
}
.text_uppercase{
	text-transform: uppercase;
}
.float_right{
	float: right;
}
.list_disc li{
	list-style-type: disc;
}
.text_indent{
	text-indent: 18px;
}
sup{
	font-size: 12px;
}
.normal-font{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 13px;
}
.font_gry{color: #cccccc;}
.float_left{
	float: left;
}

.font-600{
	font-weight: 600;
	font-size: 16px;
}
.padd-left-sm{
	padding-left:25px;
}

h4.relation_heading_text1 {
	color:#000000;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
}
h3.relation_heading_text1 {
	color:#000000;
	font-size:30px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-transform:none;
	font-family:Arial, Helvetica, sans-serif;
}
h5.relation_heading_text1 {
	color:#000000;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-transform:none;
	font-family:Arial, Helvetica, sans-serif;
}
p.relation_text {
	color:#000000;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:2;
	margin-left:0;
	margin-right:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-transform:none;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
}
.body, p.body {
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-left:0;
	margin-right:0;
	page-break-after:auto;
	page-break-before:auto;
	text-decoration:none;
	text-transform:none;
	font-size:16px;
}

   
.relation_text_indent_30{
	text-indent: 50px;
}
.relation_heading_intro{ 
	margin-top:50px;
	margin-bottom:10px;
	text-align: center;
}
.relation_heading_intro1{ 
	font-size:40px;
	line-height: 1.8;
	text-align: left;
	font-weight:500;
}
.relation_heading_intro2{ 
	font-size:40px;
	line-height: 1.8;
	text-align: center;
	font-weight:500;
	text-transform: uppercase;
	margin-top:50px;
}
.bg_blue h5.relation_heading_textbl {
	color:#000000;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-transform:none;
	font-family:Arial, Helvetica, sans-serif;
}

ul li{color:#000000;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:2;
	margin-left:0;
	margin-right:0;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-transform:none;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:10px;
}
ul li.list_style_none{
	list-style: none;
}

ol li{color:#000000;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:2;
	margin-left:0;
	margin-right:0;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-transform:none;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:10px;
}
ol li.list_style_none{
	list-style: none;
}



