* { padding: 0px; margin: 0px; outline: none; }

/* placeholder and Selection css */
::selection { color: #fff; background: #2c2c2c; }

::-moz-selection { color: #fff; background: #2c2c2c; }

::-webkit-input-placeholder { color: #2c2c2c; text-overflow: ellipsis; font-size: 16px; }

::-moz-placeholder { color: #2c2c2c; text-overflow: ellipsis; opacity: 0.5; font-size: 16px; }

:-ms-input-placeholder { color: #2c2c2c; text-overflow: ellipsis; opacity: 0.5; font-size: 16px; }

/* body css property */
body, html { height: 100%; -moz-osx-font-smoothing: grayscale; }

body { font-family: 'Roboto', sans-serif; height: 100%; font-size: 15px; line-height: 26px; font-weight: 400; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; }

/* typography css */
h1, h2, h3, h4, h5, h6 { margin-top: 0px; }

p { margin: 0 0 25px; line-height: 26px; }

b, strong { font-weight: 600; }

ul, ol, dl { list-style-position: outside; margin-bottom: 15px; padding: 0px; list-style: none; }

/* video and audio */
img { max-width: 100%; height: auto; }

video { background-size: cover; display: table-cell; vertical-align: middle; width: 100%; }

iframe { border: 0; }

/* Button and link css */
a, a:hover, a:focus { text-decoration: none; }

a:hover, a:active { text-decoration: none; }

.btn{ font-size: 13px; border-radius: 0px; transition: all ease 0.4s; -webkit-transition: all ease 0.4s; -ms-transition: all ease 0.4s; }

.btn.btn-warning{ color:#000; background: #fdc800; font-size:14px; border-color:#fdc800; font-weight: 600; letter-spacing: 0px; padding: 12px 25px; }

.btn.btn-primary{ color:#fff; background: #002147; font-size:14px; border-color:#002147; font-weight: 600; letter-spacing: 0px; padding: 12px 25px; }

.btn.btn-primary:hover{ background: #fdc800 !important; color:#000 !important; border-color:#fdc800 !important; }

.btn.btn-sm{ padding: 8px 16px; font-size:13px; }

/* common animation css */
.transition *{ transition: all ease 0.4s; -webkit-transition: all ease 0.4s; -ms-transition: all ease 0.4s; }

header{ width:100%; float:left; position: relative; z-index:2; transition: -webkit-transform .3s ease; transition: transform .3s ease; }
.hdrTop{ width:100%; float:left; background:#002147; }
.hdrslick-link{ width:100%; display: inline-block; }
.hdrslick-link ul{ width:auto; margin:5px 0px; padding: 0px; }
.hdrslick-link li{ display: inline-block; color:#d0d6dd; font-size:14px; border-right:#d0d6dd solid 1px; padding: 0px 10px; line-height: 15px; }
.hdrslick-link li:last-child{ border:none; }
.hdrslick-link li a{ color:#d0d6dd; }
.hdrslick-link li i{ color:#fdc800; margin-right:5px; }


.hdrBtm{ width:100%; padding:0px; float:left; position: relative; background:rgba(0, 255, 255, 0.7); }
.StickyElementAfterScroll{ transition: -webkit-transform .3s ease; transition: transform .3s ease; transition: transform .3s ease,-webkit-transform .3s ease; }
.Sticky{ /*-webkit-transform: translateY(-60px); transform: translateY(-60px); */	position: fixed; top:0; left:0; }

#preloader { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: #fff; z-index: 999; }

.home-banner-area{width:100%; position: relative; overflow: hidden; }

.banner-blue-bg-box-area{ width:100%; position: absolute; bottom:0px; left:0px; z-index: 1; }
.blue-bg-box-listarea{ background: #002147;padding: 0px; margin: 0px; display: flex; -webkit-display: flex; -moz-display: flex; -ms-display: flex; }
.blue-bg-box-listarea li{ flex:1; padding: 30px; color:#fff; border-right:rgba(255,255,255,0.4) solid 1px; }
.blue-bg-box-listarea li:last-child{ border:none; } 
.blue-bg-box-listarea li a{ color:#fff; }
.blue-bg-box-listarea li h3{ font-size: 22px; color:#fdc800; }
.blue-bg-box-listarea li> div{ position: relative; overflow: hidden; }
.blue-bg-box-listarea li p{ margin:0px; font-weight:300; }
.blue-bg-box-listarea li i{ font-size:35px; color:#fdc800; float: left; padding-right: 20px; }



.about-section{ width:100%; position: relative; overflow: hidden; padding:85px 0px; background: url("../images/about-bg.jpg") no-repeat right top; background-size: contain; }

.section-haeding{ font-size: 46px; color: #002147; font-weight:700; margin: 0 0 15px; position: relative; }
.section-haeding-mid{ font-size: 30px; color: #002147; font-weight:500; margin: 0 0 40px; position: relative }

.featured-area{ position: relative; overflow: hidden; padding:85px 0px; background: #f5f5f5; }
.featured-slider-area{ position: relative; margin:0px -15px; }
.featured-slider .slick-slide{ padding:10px; margin:0px 5px; }

.thumbnail-info-box *{ transition: all ease 0.4s; -webkit-transition: all ease 0.4s; -ms-transition: all ease 0.4s; }
.thumbnail-info-box{ width:100%; display: inline-block; position: relative; background: #fff; box-shadow: #cecece 0px 0px 7px; -webkit-box-shadow: #cecece 0px 0px 7px; }
.thumbnail-info-box .tag{ width:auto; line-height: 20px; padding:4px 10px; color: #fff; background: #fdc800; position: absolute; top:10px; right:10px; z-index: 1; border-radius:4px; -webkit-border-radius:4px; }
.thumbnail-info-box .image-frame{ width:100%; height:200px; overflow: hidden; position: relative;  
     }
.thumbnail-info-box .image-frame img{ width:100%; height:100%; object-fit:cover; }
.thumbnail-info-box .image-overlay{ width:0%; height:100%; position: absolute; display: flex; -webkit-display: flex; -ms-display: flex; align-items:center; justify-content: center; top:0px; left:0px; overflow: hidden; background: rgba(0,0,0,0.4); text-align: center; }
.thumbnail-info-box .image-link-icon{  width:50px; height:50px; line-height: 50px; text-align:center; color:#fdc800; font-size:24px; display: inline-block; border:#fdc800 2px solid; border-radius: 100%; position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); z-index: 1; opacity:0; }
.thumbnail-info-box .image-frame:hover .image-link-icon{ opacity: 1; }
.thumbnail-info-box .image-frame:hover .image-overlay{ width:100% }
.thumbnail-info-box .content-box{ width:100%; min-height: 100px; padding:20px; position: relative; }
.thumbnail-info-box .content-box h3{ font-size: 18px; line-height: 1.4; font-weight: 600; color:#002147; }
.thumbnail-info-box .content-box h3 a{ color:#002147; cursor: pointer; }
.thumbnail-info-box .content-box h3:hover a{ color:#fdc800; }
.thumbnail-info-box .content-box p{ color:#5a5a5a; line-height: 22px; margin:0px; }
.thumbnail-info-box .review-area{ width:100%; display: block; padding:10px; border-top:#d4d4d4 solid 1px; }
.thumbnail-info-box .user-thumb-with-rate{ width:auto; display: inline-block; vertical-align: middle; }
.thumbnail-info-box .user-thumb-with-rate .user{ width:40px; height:40px; overflow: hidden; border-radius:100%; -webkit-border-radius:100%; float:left; margin-right:10px; }
.thumbnail-info-box .user-thumb-with-rate .user img{ width:100%; height:100%; object-fit: cover; }
.thumbnail-info-box .user-thumb-with-rate div.rate-area{ position: relative; overflow: hidden; color:#fdc800; line-height:40px; }
.thumbnail-info-box .small-icon-link{ float: right; }
.thumbnail-info-box .small-icon-link ul { padding:0px; margin:7px -4px; }
.thumbnail-info-box .small-icon-link ul li{ margin: 0px 4px; display: inline-block; }
.thumbnail-info-box .small-icon-link ul li a{ color:#5a5a5a; }



.home-video-tour-section{
     overflow: hidden; position: relative; min-height:500px;
}
.home-video-tour-section .section-bg-image{ 
     width:100%; height:100%; object-fit: cover; position: absolute; top:0; left:0; z-index: 1;
}
.home-video-tour-section .section-overlay{
     width:100%; height:100%; position: absolute; top:0; left:0; background: #0021479e; z-index: 1;
}
.home-video-tour-section .video-content-area{
     width:100%; position: absolute; z-index: 1; top:50%; left:0px; transform: translate(0px, -50%); -webkit-transform: translate(0px, -50%); color:#fff; text-align: center;
}
.home-video-tour-section .section-haeding{
     color:#fff;
}
.home-video-tour-section p{
     font-size: 15px; line-height: 26px; color: #a3bed5;
}
.play-button{ 
     width:70px; height:70px; line-height: 66px; display: inline-block; color:#fff; font-size:20px; border:#fff solid 2px; border-radius: 100%;
}
.play-button:hover{
     border-color:#fdc800; color:#fdc800;
}



.skill-area{ position: relative; overflow: hidden; padding:85px 0px; }
.skill-slider-area{ position: relative; margin:0px -15px; }
.skill-slider .slick-slide{ padding:10px; margin:0px 5px; }

.skill-thumb{ position: relative; overflow: hidden; }
.skill-thumb .skill-frame{ width:100%; height:260px; overflow: hidden; }
.skill-thumb .skill-frame img{ width:100%; height:100%; object-fit: cover; }
.skill-thumb .skill-frame:hover img{ transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); }
.skill-thumb .skill-content{ position: relative; overflow: hidden; padding: 20px 0px; }
.skill-thumb .skill-content:after{ content:''; position: absolute; width:50px; height:4px; background:#fdc800; bottom:0px; left:0px; }
.skill-thumb h3{ font-size: 23px; color:#111; }
.skill-thumb h3 a{ color:#111; }
.skill-thumb h3:hover a{ color:#fdc800; }
.skill-thumb p{ color: #646464; margin:0px; }


.post-and-event-area{
     position: relative; overflow: hidden; padding:85px 0px; background: #f5f5f5;
}
.whitebox{
     width:100%; overflow: hidden; position: relative; background: #fff; padding: 15px; margin-bottom:20px;
}
ul.post-list{
     overflow: hidden; padding: 0; margin: -20px;
}
ul.post-list > li{
     width:100%; float: left; padding: 20px; border-bottom:#f5f5f5 solid 1px;
}
ul.post-list > li:last-child{
     border:none;
}
ul.post-list > li .img-frame{ 
     width:150px; height:100px; overflow: hidden; float: left; margin-right: 20px;
}
ul.post-list > li .img-frame img{ 
     width:100%; height:100%; object-fit: cover; 
}
ul.post-list li .post-contnt-area{
     overflow: hidden; position: relative;
}
ul.post-list li h3{ 
     font-size: 18px; color:#111; 
}
ul.post-list li h3 a{ 
     color:#111; 
}
ul.post-list li h3:hover a{ 
     color:#fdc800; 
}
ul.post-list li .postdate{
     font-size: 16px; line-height: 14px; color:#fdc800; font-style: italic; margin-bottom: 8px;
}
ul.post-list li p{ 
     color: #646464; margin:0px; 
}
ul.post-list .date-box{
     width:100px; float: left; background: #fdc800; text-align: center; position: relative; margin-right: 20px;
}
ul.post-list .date-box:after, ul.post-list .date-box:before{
     content:''; position: absolute; width:10px; height: 10px; background: #002147; top:10px; border-radius: 100%; -webkit-border-radius: 100%;
}
ul.post-list .date-box:before{
     left:10px;
}
ul.post-list .date-box:after{
     right:10px;
}
ul.post-list .date-box .year{
     position: relative; overflow: hidden; padding: 8px; line-height: 18px; color:#fff; background: #002147;
}
ul.post-list .date-box .month{
     position: relative; overflow: hidden; padding: 15px 0px; line-height: 10px;
}
ul.post-list .date-box h4{
     font-size: 24px; font-weight:600; margin: 0px 0px 4px 0px;
}
ul.post-list .post-location-info{
     position: relative; overflow: hidden; font-weight:600;
}
ul.post-list ul.post-location-info{
     overflow: hidden; position: relative; margin: 13px -15px 0px;
}
ul.post-list ul.post-location-info li{
     display: inline-block; border-right:#b3b3b3 solid 1px; padding: 0px 15px; color:#002147; line-height: 16px;
}
ul.post-list ul.post-location-info li:last-child{
     border:none;
}
ul.post-list ul.post-location-info a{
     color:#002147;
}



.home-infograph-count-area{
     overflow: hidden; position: relative; padding: 100px 0px;
}
.home-infograph-count-area .section-bg-image{ 
     width:100%; height:100%; object-fit: cover; position: absolute; top:0; left:0; z-index: 1;
}
.home-infograph-count-area .section-overlay{
     width:100%; height:100%; position: absolute; top:0; left:0; background: #0021479e; z-index: 1;
}

.infocounter-area{
     width:100%; display: flex; -webkit-display: flex; -ms-display: flex; position: relative; z-index: 1; 
}
.infocounter-area .conunt-area{
     width: auto; float: left; position: relative; margin-right: 20px; border-bottom: 2px solid #fdc800; padding-bottom: 15px;     
     font-size: 72px; color:#fff; line-height: 56px;
}
.infocounter-area .count-content{
     position: relative; overflow: hidden; font-size: 18px; line-height: 1.5; color:#fff;
}


.home-testimonial-area{
     overflow: hidden; position: relative; padding: 85px 0px;
}
.testimonial-slider .slick-slide{
     margin: 0px 15px 40px;
}
.testimonial-block{
     width:100%; display: inline-block; position: relative;
}
.testimonial-block h3{ 
     font-size: 20px; color:#002147; margin-bottom:8px;
}
.testimonial-block h3 a{ 
     color:#002147; 
}
.testimonial-block h3:hover a{ 
     color:#fdc800; 
}
.testimonial-block .designation{
     width:100%; display: inline-block; color: #646464; margin-bottom:40px;
}
.testimonial-block .testimonial-content-area{
      width:100%; display: inline-block; position: relative; padding: 30px; background-color: #f8f8f8; color: #646464;
}
.testimonial-block .testimonial-content-area:after{
     content: ''; position: absolute; width: 0;  height: 0; left: 38px;  top: -30px; border: 15px solid; border-color: transparent transparent #f8f8f8 #f8f8f8;
}
.testimonial-block .testimonial-content-area .contnt-wrap{
     overflow: hidden; position: relative;
}
.testimonial-block .testimonial-content-area p{
     margin: 0px;
}
.testimonial-block .frame{
     width:110px; height:110px; overflow:hidden; border: 10px solid #fff; border-radius:100%; -webkit-border-radius:100%; float:right; margin-top:-70px;
}
.testimonial-block .frame img{
     width:100%; height:100%; object-fit: cover;
}



.home-join-area{
     position: relative; overflow: hidden; padding: 65px 0px; background: #fdc800;
}
.home-join-box{
     overflow: hidden; position: relative; display: flex; -webkit-display: flex; -ms-display: flex; background: #002147; align-items: center;
}
.home-join-box .img-frame{
     width:70%;
}
.home-join-box .img-frame img{
     width:100%; height:100%; object-fit: cover;
}
.home-join-box .content{
     width:30%; padding: 30px; text-align: center;
}
.home-join-box .content h3{
     font-size: 36px; font-weight: 400; margin-bottom: 30px; line-height: 1.2; color: #fff;
}


.home-brand-area{
     position: relative; position: relative; padding: 85px 0px;
}




footer { 
     padding: 0px 0px 0px 0px; background: #002147; position: relative;
}
footer h3 { 
     color: #fff; font-size: 20px; text-transform:capitalize; margin-bottom: 20px; position: relative; 
}
footer p { 
     color: #fff;
}
footer .footer-logo-section { 
     width: 100%; padding: 40px 0px 40px 0px; position: relative; background: rgba(0, 0, 0, 0.2); color: #fff; 
}
footer .footer-top-section { 
     width: 100%; padding: 85px 0px; position: relative; 
}
footer .footer-bottom-section { 
     width: 100%; padding: 20px 0px; position: relative; background: #001a39; 
}
footer .footer-bottom-section p { 
     margin: 0px; color: #8399b9; 
}
footer .footer-bottom-section a { 
     color: #fff; 
}
footer .footer-bottom-section a:hover { 
     color: #fff; 
}
footer .right-side-text { 
     text-align: right; 
}
footer ul.footer-link { 
     width: 100%; 
}

footer ul.footer-link li { 
     width: 100%; display: inline-block; color: #fff; margin-bottom: 5px; 
}
footer ul.footer-link li i{
     color:#fdc800; margin-right:10px;
}
footer ul.footer-link.two-col li{
     width:50%; float: left;
}
footer ul.footer-link li a { 
     color: #fff; 
}
footer ul.footer-link li a:hover { 
     color: #c0c0c0; padding-left: 4px; 
}
footer ul.footer-link li:last-child { 
     margin-bottom: 0px; 
}
footer ul.footer-social { 
     margin: 0px -3px; 
}
footer ul.footer-social li { 
     display: inline-block; margin: 0px 3px; transition: all ease 0.3s; -webkit-transition: all ease 0.3s; 
}
footer ul.footer-social li a { 
     width: 30px; height: 30px; display: block; border: rgba(255, 255, 255, 0.2) solid 1px; color: #848d98; font-size: 14px; text-align: center; line-height: 30px; transition: all ease 0.3s; -webkit-transition: all ease 0.3s; 
}
footer ul.footer-social li:hover a { 
     background: #fdc800; color:#002147;
}