/* footer css */

footer {
    padding: 0px 0px 0px 0px;
    background: #2F5D9E;
    position: relative;
    z-index: 2;

    h3{
        color:#fff;
        font-size:16px;
        text-transform: uppercase;
        padding-bottom:10px;
        margin-bottom:20px;
        position: relative;
        &:after{
            content:'';
            width:30px;
            height:3px;
            background:#fff;
            position: absolute;
            bottom:0px;
            left:0px;
        }
    }
    p{
        color: #d2d2d2;
        font-size: 14px;
        line-height: 20px;
    }

    .footer-logo-section{
        width:100%;
        padding:40px 0px 40px 0px;
        position: relative;
        background: rgba(0,0,0,0.2);
        color:#fff;
    }

    .footer-top-section{
        width:100%;
        padding:40px 0px 40px 0px;
        position: relative;
    }

    .footer-bottom-section{
        width:100%;
        padding:15px 0px;
        position: relative;
        background: rgba(0, 0, 0, 0.4);
        p{
            margin:0px;
            color:#8399b9;
        }
        a{
            color:#adadad;
            &:hover{
                color:#fff;
            }
        }
    }
    .right-side-text{
        text-align: right;
    }

    ul.footer-link{
        width:100%;
        li{
            width:100%;
            display:inline-block;
            font-size:14px;
            color:#fff;
            margin-bottom:5px;
            a{
                color:#fff;
                &:hover{
                    color:#c0c0c0;
                    padding-left:4px;
                }
            }
            &:last-child{
                margin-bottom:0px;
            }
        }
    }

    ul.footer-social{
        margin:0px -3px;
        li{
            display:inline-block;
            margin:0px 3px;
            transition: all ease 0.3s;
            -webkit-transition: all ease 0.3s;
            a{
                width:40px;
                height:40px;
                display:block;
                background: rgba(255, 255, 255, 0.2);
                color:#fff;
                font-size:14px;
                text-align: center;
                line-height: 40px;
                transition: all ease 0.3s;
                -webkit-transition: all ease 0.3s;
            }
            &:hover{
                a{
                    background: rgba(255, 255, 255, 0.5); 
                }
            }
        }
    }


    .footer-inline-social{
        width:auto;
        position: relative;
        label{
            width:auto;
            color:#fff;
            margin:0px 10px 0px 0px;
        }
    }


    .footer-newsletter{
        width:auto;
        position: relative;
        input[type=text],
        input[type=email]{
            width:100%;
            height: 40px;
            margin:0px;
            padding:10px;
            color:#fff;
            font-size:14px;
            border:#fff solid 1px;
            &::-webkit-input-placeholder {
                color:#fff; font-size:14px;
            }
            &::-moz-placeholder {
                color:#fff; opacity: 0.5; font-size:14px;
            }
            &:-ms-input-placeholder {
                color:#fff; opacity: 0.5; font-size:14px;
            }
        }
        input[type=submit]{
            width:100px;
            height: 40px;
            line-height:40px;
            position: absolute;
            top:0px;
            right:0px;
            background:#fff;
            border:none;
            color:#090d35;
            font-size: 14px;
            font-weight: 500;
        }
    }


    .footer-blog-post-list{
        width:100%;
        display:inline-block;
        position: relative;
        ul{
            width:100%;
            display:inline-block;
            li{
                width:100%;
                float: left;
                padding:10px 0px;
                border-bottom:rgba(255,255,255,0.3) solid 1px;
                .foot-blg-pic{
                    width:45px;
                    height:35px;
                    float: left;
                    background-color:rgba(0,0,0,0.4);
                    overflow: hidden;
                    margin:0px 10px 0px 0px;
                    img{
                        width:100%;
                        height:100%;
                        object-fit: cover;
                    }
                }
                p{
                    font-size:13px;
                    line-height:16px;
                    color:rgba(255,255,255,0.3);
                    margin:0px;
                }
                &:last-child{
                    border-bottom:none;
                }
                a{
                    color:rgba(255,255,255,0.6);
                    &:hover{
                        color:rgba(255,255,255,0.9);
                    } 
                }
            }
        }
    }
    
}






