.home-search-area{
    width:100%; padding:20px 0px; position: relative; background:#6c7476;
}
.search-form-wrap{
    width:100%; padding:0px; position: relative; display: -ms-flexbox; display: flex; align-items:center;
    .colum{
        position: relative; flex:1;
        &:first-child{
            flex-basis:400px;
            input[type=text]{
                border-radius:10px 0px 0px 10px; border-width:0px 2px 0px 0px;
            }
        }
        &:nth-child(2){
            flex-basis:200px; 
        }
    }
    input[type=text]{
        margin:0px; background:#fff; border-radius:0px; border-color:rgba(0,0,0,0.2); border-width:0px 0px 0px 0px; border-style:solid;
    }
    input[type=submit]{
        width:100%; height:64px; margin:0px; background:#0190c8; border:none; border-radius:0px 10px 10px 0px; color:#fff;
    }
}