.iconic-info-block{
    padding:0px;
    margin:0px 0px 30px 0px;
    position: relative;
    text-align:center;
    .iconic-area{
        width:100%;
        display:inline-block;
        margin:0px 0px 20px 0px;
        .iconic-frame{
            width:60px;
            height:60px;
            overflow: hidden;
            display:inline-block;
            img{
                width:100%;
                height:100%;
                object-fit: cover;
            }
        }
    }
    .iconic-info-area{
        width:100%;
        display:inline-block;
    }
    h4{
        margin-bottom:20px;
        color:#474747;
        a{
            color:#474747;
            &:hover{
                color:blue;
            }
        }
    }
    p{
        line-height:22px;
        margin-bottom:0px;
    }
}