
/* infograph css */

.letter-spacing-2{ letter-spacing:2px; }

.heading-xl{ font-size:43px; line-height:47px; letter-spacing:1px;  padding:0px; margin:0px 0px 30px 0px; }

.heading-lg{ font-size:30px; line-height:36px; letter-spacing:1px; padding:0px; margin:0px 0px 30px 0px; }

.heading-md{ font-size:23px; line-height:27px; letter-spacing:1px; padding:0px; margin:0px 0px 20px 0px; }
