.language-drpdwn-with-flag{
    .btn{
        background:transparent;
        line-height: 24px;
        padding:0px;
        &:focus{
            box-shadow:none;
            outline:none;
        }
    }
    .dropdown-menu{
        top:10px !important;
        li{
            width:100%;
            margin:0px;
            a{
                width:100%;
                display:inline-block;
                padding:5px 10px;
                label{
                    margin:0px;
                }
            }
        }
    }
    .flag{
        width:20px;
        height:20px;
        float:left;
        margin:0px 10px 0px 0px;
        background-repeat:no-repeat;
        background-position:top left;
        &.en-glyphicon{
            background-image:url("../images/flag-icon/us-flag-24.png");
        }
        &.ar-glyphicon{
            background-image:url("../images/flag-icon/ar-flag-24.png");
        }
    }
}