.masonry-area{
    width:100%;
    padding:0px;
    position: relative;
}

/*.masonry {
    -webkit-column-count: 3;
    -moz-column-count:3;
    column-count: 3;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    margin:0;
    padding: 0;
    font-size: .85em;

    .masonry-item {
        display: inline-block;
        background: #fff;
        padding: 1em;
        margin: 0 0 1.5em;
        width: 100%;
        -webkit-transition:1s ease all;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-shadow: 2px 2px 4px 0 #ccc;

        img{
            max-width:100%;
            width:100%;
        }
    }
}*/

.masonry {
    
    column-width: 30%;
    -webkit-column-width: 30%;
    -moz-column-width: 30%;

    column-count: 5;
    -webkit-column-count:5;
    -moz-column-count:5;

    column-gap: 0;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    

    .masonry-item {
        margin-bottom: 0px;

        img{
            max-width:100%;
            width:100%;
        }
    }
    .masonry-item-content{
        width:100%;
        display: inline-block;
        padding:10px;
        background: #ffffc5;
        min-height:100px;
    }
}



@media only screen and (min-width: 769px) and (max-width: 1200px){
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media only screen and (min-width: 321px) and (max-width: 768px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (max-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}