/* slider nav css */
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev{ width:40px; height:40px; background:green !important; color:#fff; }

.owl-carousel .owl-nav button i{ color:#fff; }
