

.slick-arrow:before{
    color: #000000; 
}
.slick-prev, .slick-next{
    width:60px; height:60px; overflow: hidden; margin-top:-30px; z-index: 1;
}
.slick-prev{
    left:-35px;
}
.slick-next{
    right:-35px;
}
.slick-prev:before, .slick-next:before{
   opacity: 1; font-family: 'FontAwesome'; line-height: 58px; font-weight: 900; font-size: 90px;
}
.slick-prev:before{
    content: '\f104';
}
.slick-next:before{
    content: '\f105'; 
}
.slick-white-arrow .slick-arrow:before{
    color: #fff; 
}




.common-horizontal-slider{
    position: relative;
}
.dot-wrap{
    direction: rtl;
}
.common-horizontal-slider .slick-dots li button:before {
    content: '';
}
.common-horizontal-slider .slick-dots{
    bottom: 0; text-align: center;
    /*margin-right: 4rem;*/
}
.common-horizontal-slider .controlar-wrapper{
    width:auto; min-width: 22%; padding: 0px 60px; position: relative; display: inline-block; text-align: center; left:50%; transform: translate(-50%, 0px); -webkit-transform: translate(-50%, 0px);
}
.common-horizontal-slider .slick-dots li button {
    width: 10px; height: 10px; border: 1px solid #fff; background: #000; border-radius: 50%;
}
.common-horizontal-slider .slick-dots li.slick-active button {
    transform: scale(2.2);
}
.common-horizontal-slider .controlar-wrapper .arrow-wrap{
    width:40%; display: inline-block; background: rgb(0, 0, 0);
}
.common-horizontal-slider .slick-prev, .common-horizontal-slider .slick-next{
    width:60px; height:60px; overflow: hidden; position: absolute; transform:none; -webkit-transform:none; margin-top:-30px; z-index: 1;
}
.common-horizontal-slider .slick-prev:before, .common-horizontal-slider .slick-next:before{
    color: #000000; opacity: 1; font-family: 'FontAwesome'; line-height: 58px; font-weight: 900;
}
.common-horizontal-slider .slick-prev{
    left:0px;
}
.common-horizontal-slider .slick-next{
    right:0px;
}
.common-horizontal-slider .slick-prev:before{
    content: '\f104'; font-size: 60px;
}
.common-horizontal-slider .slick-next:before{
    content: '\f105'; font-size: 90px;
}

/*
.common-horizontal-slider .slick-prev, .common-horizontal-slider .slick-next{
    top: inherit;
    bottom:12px;
    z-index: 99;
}
.common-horizontal-slider .slick-next{
    bottom: -5px;
}
.common-horizontal-slider .slick-prev:before, .common-horizontal-slider .slick-next:before{
    color: #000000;
    opacity: 1;
    font-family: 'FontAwesome';
}
.common-horizontal-slider .slick-prev:before{
    font-size: 90px;
}
.common-horizontal-slider .slick-next:before{
    content: '\f104';
}
.common-horizontal-slider .slick-prev:before{
    content: '\f105';
}
.common-horizontal-slider .slick-prev:before{
    color: #fff;
}
.common-horizontal-slider .slick-prev {
    right: -93px;
    left: 0;
    margin: 0 auto;
}
.common-horizontal-slider .slick-next{
    right: 34%;
    left: 0;
    margin: 0 auto;
}
*/
.common-horizontal-slider .slick-track {
    display: flex; align-items:center;
  }
 .common-horizontal-slider .slick-track .slick-slide {
    display: flex; align-self: center; flex-direction: column;
  }
  .slider-two.common-horizontal-slider .controlar-wrapper{
    position: absolute; bottom: -43px; left: 0; right: 0;
  }
  .slider-two.common-horizontal-slider .slick-prev {
    right: 42%; left: auto;
}
.slider-two.common-horizontal-slider .slick-next:before{
    color: #fff; font-size: 42px;
}
.slider-two.common-horizontal-slider .slick-next{
    bottom: 7px;
}
.slider-two.common-horizontal-slider .slick-next {
    right: 16%;
}




/* common slick slider css start */
.common-horizontal-slider .slick-track .slick-slide {
    display: flex; align-self: center; flex-direction: column;
}
.single-slide-slider-with-v-dot.slick-dotted.slick-slider, .white-v-dot.slick-dotted{
    margin:0px;
}
.single-slide-slider-with-v-dot .slick-dots, .white-v-dot.slick-dotted .slick-dots{
    bottom: 65px; width:36%; left:auto; right:0;
}
.single-slide-slider-with-v-dot .slick-dots li, .white-v-dot.slick-dotted .slick-dots li{
    display: block; margin-top: 40px;
}
.single-slide-slider-with-v-dot .slick-dots li button, .white-v-dot .slick-dots li button{
    width:26px; height:26px; background: transparent; color:transparent; font-size:0px; border:4px solid #fff;
}
.single-slide-slider-with-v-dot .slick-dots li button:before, .white-v-dot .slick-dots li button:before{
    display: none;
}
.single-slide-slider-with-v-dot .slick-dots li.slick-active button, .white-v-dot .slick-dots li.slick-active button{
    background: #fff;
}

@media(max-width:991px){

    .slick-prev, .slick-next{
        margin: 0px;
    }
    .slick-next {
        right: 42px;
    }
    .slick-prev {
        left: 42px;
    }
    .slick-prev:before, .slick-next:before{
        font-size: 44px;
    }

    .single-slide-slider-with-v-dot .slick-dots, .white-v-dot .slick-dots {
        bottom: 65px; width: 100%;
    }
    .single-slide-slider-with-v-dot .slick-dots li, .white-v-dot .slick-dots li{
        display: inline-block;
    }
    .single-slide-slider-with-v-dot .slick-dots li button, .white-v-dot .slick-dots li button {
        width: 13px; height: 13px; border: 2px solid #fff;
    }



}
/* common slick slider css ended */



