header{ width:100%; min-height:77px; padding: 20px 0px; float:left; position: relative; z-index:2; transition: -webkit-transform .3s ease; transition: transform .3s ease; }

.header-strip-container{ width:100%; max-width:1684px; position: relative; margin: 0px auto; }

.header-logo-area{ width:auto; position: absolute; top:-20px; left:0px; }

.header-logo-area a{ width:auto; display: inline-block; padding: 0px; }

.header-logo-area img{ width:100%; }

.header-right-panel{ width:auto; float: right; }

ul.hdr-login-list{ display: inline-block; margin: 0px -20px 0px 0px; }

ul.hdr-login-list li{ display: inline-block; border-left:rgba(255,255,255,0.4) solid 1px; }

ul.hdr-login-list li:first-child{ border:none; }

ul.hdr-login-list li a{ display: inline-block; color:#fff; padding: 5px 20px 5px 15px; }