
* { padding: 0px; margin: 0px; outline: none; }

/* body css property */
::-webkit-input-placeholder { 
    color: #000000; text-overflow: ellipsis;  
}
::-moz-placeholder { 
    color: #000000; text-overflow: ellipsis; opacity: 1; 
}
:-ms-input-placeholder { 
    color: #000000; text-overflow: ellipsis; opacity: 1; 
}

body, html {
    min-height: 100vh; -moz-osx-font-smoothing: grayscale; position: relative; overflow-x:hidden;
}
body {
    /*font-family: 'Poppins', sans-serif;*/ font-family: 'Lato', sans-serif; font-size: 20px; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; font-size: 14px; padding-top: 90px;
}

h1, h2, h3, h4, h5, h6 { 
    margin-top: 0px;  font-family: 'Poppins', sans-serif;
}
p { 
    margin: 0 0 25px; font-size: 30px; line-height: 36px; color: #212121; 
}
b, strong { 
    font-weight: 600; 
}
ul, ol, dl { 
    list-style-position: outside; margin-bottom: 15px; padding: 0px; list-style: none; 
}
img { 
    max-width: 100%; height: auto; 
}
a, a:hover, a:focus { 
    color: #133648; text-decoration: none; transition: ease-in-out 0.5s; 
}
a:hover, a:active { 
    color: #133648; text-decoration: none; 
}
a:focus, a:active, button:focus, button:active, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus { 
    outline: none; 
}
.commonspaceofheader{
    margin-top: 90px !important;
}

/* body css property */



#preloader {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgb(0, 0, 0); z-index: 999;
}



/* common css start */
.btn{
    border-radius: 0; -webkit-border-radius: 0; transition: all ease 0.4s; -webkit-transition: all ease 0.4s;
}
.btn-solid{
    background: #fff; color:#000; font-weight:700; padding: 8px 18px; font-size: 14px;
}
.btn-line{
    border:#000 solid 2px; background: transparent; color:#000; font-weight:700; padding: 8px 18px; font-size: 14px;
}
.btn-solid:hover, .btn-line:hover{
    background:#BED62F; border-color:#BED62F;
}

.white-text{
    color:#fff;
}
.blue-text{
    color:#33BFE3;
}
.green-text{
    color:#BED62F;
}
.heading-lg{
    font-size: 70px; line-height: 78px; font-weight: 700; margin-bottom:60px;
}
.heading-lg .light{
    font-weight:500;
}
.heading-md{
    font-size: 60px; line-height: 68px; font-weight: 700; margin-bottom:30px;
}
.heading-sm{
    font-size: 40px; line-height: 48px; font-weight: 700; margin-bottom:50px;
}
.heading-btm-bold-para{
    font-family: 'Lato', sans-serif; font-weight:600; font-size:30px; line-height: 35px; margin-bottom:60px;
}
.zoomin:hover{
    transform: scale(1.2, 1.2); z-index: 1;
}


.row-block{
    position: relative; overflow: hidden;
}
/* common css ended */



/* header  start */
.header_area{
    margin: 0; padding: 20px 0px; background: #000; min-height: 90px; position: fixed; top:0; width:100%; z-index:10;
}
.header_area .logo > img{
    max-width:300px; width:100%;
}
.header_area .row{
    position: relative; flex-wrap:nowrap; -ms-flex-wrap: nowrap;  -webkit-flex-wrap: nowrap;
}
.header_area .row > div.col{
    width:auto;
}
.header_area .col-6{
    position: unset;
}
.menu_withLogo{
    padding:25px 0;
}
.logo{
    margin: 0; padding: 0; display: inline-block; padding-right: 20px;
}

.cta_btn_area{
    padding: 25px 0; float: right;
}
.search-col{
    font-size:22px; width:75px; position: relative;
}
.header-search-btn i{
    transition: all ease 0.7s; -webkit-transition: all ease 0.7s; -ms-transition: all ease 0.7s; cursor: pointer;
}
.header-search-btn:hover i{
    color:#33BFE3;
}
/* header  end */


/* overlay search panel css start */
.overlay-search-panel, .overlay-search-panel *{
    transition: all ease 0.7s; -webkit-transition: all ease 0.7s; -ms-transition: all ease 0.7s;
}
.overlay-search-panel{
    width:100%; height:0%; position: fixed; top:0px; right:0; background:rgba(0,0,0,0.95); z-index: 1;  overflow: hidden; opacity: 0;
}
.overlay-search-panel.opened{
    height:100%; opacity: 1;
}
.overlay-search-panel .search-close-btn{
    width:70px; height:70px; position: absolute; top:40px; right:40px; font-size:35px; color:#fff; line-height: 60px; text-align: center; border:transparent solid 4px; border-radius: 100%; -webkit-border-radius: 100%; opacity: 0;
}
.overlay-search-panel .search-close-btn:hover{
    color:#33BFE3; border-color:#33BFE3; transform: rotate(90deg);
}
.overlay-search-panel.opened .search-close-btn{
    opacity: 1;
}
.overlay-search-panel .search-field-area{
    width:80%; min-height: 30px; position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); display: flex; -webkit-display: flex; -ms-display: flex; opacity: 0;
}
.overlay-search-panel .search-field-area input[type=text]{
    width:90%; height:90px; padding: 20px 0px; color:#fff; font-size:30px; background: transparent; border:none; border-bottom:#fff solid 2px;
}
.overlay-search-panel input[type=text]::-webkit-input-placeholder { 
    color: #fff; text-overflow: ellipsis;
}
.overlay-search-panel input[type=text]::-moz-placeholder { 
    color: #fff; text-overflow: ellipsis; opacity: 1;
}
.overlay-search-panel input[type=text]:-ms-input-placeholder { 
    color: #fff; text-overflow: ellipsis; opacity: 1;
}
.overlay-search-panel button[type=submit]{
    font-size:30px; border:none; border-bottom: #8BC34A solid 2px; width:20%; height:90px; padding: 20px 0px; background: transparent; color:#8BC34A; text-align: center; cursor: pointer; margin-left:20px;
}
.overlay-search-panel button[type=submit]:hover{
    background: #8BC34A; color:#000;
}
.overlay-search-panel .search-field-area.visible{
    opacity: 1;
}
/* overlay-search panel css closed */


/* banner area start */
.banner_area{
    margin: 0; padding: 0; min-height: 936px; background: #000; overflow: hidden; position: relative; z-index: 9; display: flex; -webkit-display: flex; -ms-display: flex; align-items: center;
}
.banner_area_wrapper{
    width:100%;
}
.banner_cont{
    margin: 0 0 0 0; padding: 0; position: relative; z-index: 1;
}
.banner_cont a.btn{
    float: right;
}
.banner_txt{
    font-size: 70px; line-height: 70px; color:#00afdd; text-align: right; margin-bottom:90px;
}
.banner_txt span{
    display: block; color: #fff; font-size: 69px; line-height: 70px; font-family: 'Poppins', sans-serif; font-weight: 700; padding: 25px 0 0px 0; 
}

/* banner blub css */
.blub-full-frame-area{
    width:auto; float: right; position: relative; padding: 0px 25px; 
}
.blub-full-frame-area:before,
.blub-full-frame-area:after{
    content:''; position: absolute;  width:4px; height:0px; background: #00c8e5; transition: all ease 0.7s; -webkit-transition: all ease 0.7s; -ms-transition: all ease 0.7s;
}
.blub-full-frame-area:before{
    left:0; bottom:0;
}
.blub-full-frame-area:after{
    right:0; top:0;
}
.blub-full-frame-area.let-animate:before,
.blub-full-frame-area.let-animate:after{
    height:350px;
}
.banner-animate-frame{
    width:100%; max-width: 500px; height:500px; display: inline-block; position: relative;
}
.banner-animate-frame:before{
    content: ''; position: absolute; top:0; left: 0; width:100%; height:100%; background: url("../images/Half-rectangle-2.png") no-repeat top right; background-size: 100%; z-index: -1;
}
.banner-animate-frame:after{
    content: ''; position: absolute; top:0; left: 0; width:100%; height:100%; background: url("../images/Half-rectangle-1.png") no-repeat top right; background-size: 100%;background-position: bottom left; z-index: 1;
}
.banner-animate-frame .bulb{
    width:100%; display: inline-block; text-align: center; margin-top: -21%; position: relative; top: 60%; opacity: 0; transition: all ease 1s; -webkit-transition: all ease 1s; -ms-transition: all ease 1s;
}
.banner-animate-frame .bulb.show{
    top:2%; opacity: 1;
}
.banner-animate-frame .bulb img{
    width: 94%;
}
.banner-animate-frame .bulb-glow{
    width:100%; height:565px; position: absolute; top:-120px; left:0px; z-index: 1; text-align: center; overflow: hidden; background: url("../images/Lightbulb-glow.png") no-repeat top center; background-size: 140%; opacity: 0; transition: all ease 1s; -webkit-transition: all ease 1s; -ms-transition: all ease 1s;
}
.banner-animate-frame .bulb-glow.show{
    opacity: 1;
}
.banner-animate-frame .bulb-glow img{
    width: 100%;
}

/* banner area end */


/* home white info section open */
.home-white-info-section{
    padding: 100px 0px;
}
.home-white-info-section h3{
    font-size:60px; line-height: 70px; font-weight:700;
}
/* home white info section closed */


/* team member box open */
.team-member-box, .team-member-box *{
    transition: all ease 0.7s; -webkit-transition: all ease 0.7s; -ms-transition: all ease 0.7s;
}
.team-member-box{
    width:100%; position: relative; overflow: hidden;
}
.team-member-box .member-thumb{
    width:100%; height:350px; overflow: hidden;
}
.team-member-box .member-thumb img{
    width:100%; height:100%; object-fit: cover;
}
.team-member-box .overlay-content-area{
    width:100%; padding: 20px; position: absolute; bottom:0; left:0; z-index: 1;
}
.team-member-box .overlay-content-area h3{
    font-size:24px; font-weight:700; color:#fff; margin: 0px;
}
.team-member-box .overlay-content-area .subheading{
    font-size:20px; font-weight:700; color:#fff; opacity: 0; margin-bottom: -30px;
}
.team-member-box .social-area{
    position: absolute; right:-20px; bottom:20px; opacity: 0;
}
.team-member-box .social-icon{
    width:40px; height:40px; line-height: 35px; display: block; text-align: center; border:#fff solid 3px; border-radius: 100%; font-size:18px; margin-top:5px;
}
.team-member-box .social-icon a{
    display: block;
}
.team-member-box .social-icon i{
    color:#fff;
}
/* hover */
.team-member-box:hover .overlay-content-area h3{
    font-size:32px;
}
.team-member-box:hover .overlay-content-area .subheading{
    opacity: 1; margin-bottom: 0px; 
}
.team-member-box:hover .social-area{
    opacity: 1; right:20px; transition-delay: 0.3s; -webkit-transition-delay: 0.3s; -ms-transition-delay: 0.3s;
}
/* team member box closed */



/* team member type 2 box open */
.team-member-box-type-2, .team-member-box-type-2 *{
    transition: all ease 0.7s; -webkit-transition: all ease 0.7s; -ms-transition: all ease 0.7s;
}
.team-member-box-type-2{
    width:100%; position: relative; overflow: hidden;
}
.team-member-box-type-2 .member-thumb{
    width:100%; height:350px; overflow: hidden;
}
.team-member-box-type-2 .member-thumb img{
    width:100%; height:100%; object-fit: cover;
}
.team-member-box-type-2 .overlay-content-area{
    width:100%; padding:10px 20px; position: absolute; bottom:-90px; left:0; z-index: 1;
}
.team-member-box-type-2 .overlay-content-area h3{
    font-size:24px; font-weight:700; letter-spacing:1px; color:#fff; margin: 0px 0px 4px 0px;
}
.team-member-box-type-2 .overlay-content-area .subheading{
    font-size:14px; font-weight:600; color:#fff; text-transform: uppercase; opacity: 0; /*margin-bottom: -30px;*/
}
.team-member-box-type-2 .social-area{
    position: absolute; right:-20px; top:20px; opacity: 0;
}
.team-member-box-type-2 .social-icon{
    width:40px; height:40px; line-height: 35px; display: block; text-align: center; border:#fff solid 3px; border-radius: 100%; font-size:18px; margin-top:5px;
}
.team-member-box-type-2 .social-icon a{
    display: block;
}
.team-member-box-type-2 .social-icon i{
    color:#fff;
}
/* hover */
.team-member-box-type-2:hover .overlay-content-area{
    bottom:0;
}
.team-member-box-type-2:hover .overlay-content-area .subheading{
    opacity: 1; margin-bottom: 0px; transition-delay: 0.5s; -webkit-transition-delay: 0.5s; -ms-transition-delay: 0.5s;
}
.team-member-box-type-2:hover .social-area{
    opacity: 1; right:20px; transition-delay: 0.3s; -webkit-transition-delay: 0.3s; -ms-transition-delay: 0.3s;
}
/* team member type 2 box closed */




.big-banner-with-sideinfo{
    width:100%; height:950px; position: relative; display: flex; -webkit-display: flex; -ms-display: flex; overflow: hidden;
}
.big-banner-with-sideinfo .image-frame{
    width:67%; overflow: hidden; background: #000; position: relative;
}
.big-banner-with-sideinfo .image-frame img{
    width:100%; height:100%; object-fit: cover;
}
.big-banner-with-sideinfo .info-area{
    width:38%; background:url("../images/gradian-shape.svg") no-repeat top left; background-size: cover; margin-left:-5%; position: relative; z-index: 1;
}
.big-banner-with-sideinfo .info-area .info-inner{
    padding: 35% 25% 100px 15%; height: 100%; overflow: hidden; position: relative;
}
.big-banner-with-sideinfo h3{
    font-size: 45px; line-height: 50px; color:#fff; font-weight: 700; margin-bottom:40px;
}
.big-banner-with-sideinfo p{
    color:#fff; font-size:30px; line-height: 42px; margin-bottom:35px;
}
/* white */
.big-banner-with-sideinfo.white .info-area{
    width:45%; margin-left:0; background: #fff; position: relative;
}
.big-banner-with-sideinfo.white .info-area:after{
    content:''; position: absolute; width: 0; height: 0; top:12%; right:-40px; border-top: 70px solid transparent; border-bottom: 70px solid transparent; border-left: 60px solid #fff;
}
.big-banner-with-sideinfo.white h3{
    color:#000;
}
.big-banner-with-sideinfo.white p{
    color:gray;
}
.big-banner-with-sideinfo .overlay-content-area{
    width:100%; height:100%; padding:7% 5%; position: absolute; top:0; left:0; z-index: 1;
}



.static-content-banner{
    width:100%; position: relative; display: flex; -webkit-display: flex; -ms-display: flex; overflow: hidden;
}
.static-content-banner .solid-content-area{
    width:40%; position: relative; display: flex; -webkit-display: flex; -ms-display: flex;align-items: center;
    background: rgb(0,248,243);
    background: -moz-linear-gradient(top,  rgba(0,248,243,1) 0%, rgba(0,175,221,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,248,243,1) 0%,rgba(0,175,221,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,248,243,1) 0%,rgba(0,175,221,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f8f3', endColorstr='#00afdd',GradientType=0 );
}
.static-content-banner .solid-content-area .content-wrap{
    padding: 0px 10%;
}
.static-content-banner h3{
    color:#fff; margin-bottom:15px;
}
.static-content-banner p{
    color:#fff; font-size:30px; line-height: 42px;
}
.static-content-banner .image-frame{
    position: relative; min-height: 500px;
}
.static-content-banner .image-frame img{
    width:100%; height:100%; object-fit: cover;
}
.static-content-banner .overlay-content-area{
    width:100%; text-align: center; padding: 30px; position: absolute; top:50%; left:0; transform: translate(0px, -50%); -webkit-transform: translate(0px, -50%); -ms-transform: translate(0px, -50%); -moz-transform: translate(0px, -50%); z-index: 1;
}





.video-play-button {
    width: 32px; height: 44px; display: inline-block; position: relative; border-radius: 50%; padding: 18px 20px 18px 28px;
  }
.video-play-button:hover:before {
    content: ""; width: 80px; height: 80px; position: absolute; z-index: 0; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); display: block; border-radius: 50%;
    background: rgb(0,248,243);
     background: -moz-linear-gradient(top,  rgba(0,248,243,1) 0%, rgba(0,175,221,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,248,243,1) 0%,rgba(0,175,221,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,248,243,1) 0%,rgba(0,175,221,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f8f3', endColorstr='#00afdd',GradientType=0 ); 
    animation: pulse-border 1500ms ease-out infinite;
}
.video-play-button:after {
    content: ""; width: 80px; height: 80px; display: block; position: absolute;  z-index: 1; left: 50%; top: 50%;
    transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%);
    background: rgba(255,255,255,0.45); border-radius: 50%;
    transition: all ease 0.4s; -webkit-transition: all ease 0.4s; -ms-transition: all ease 0.4s;
}
.video-play-button:hover:after {
    background: rgb(0,248,243);
    background: -moz-linear-gradient(top,  rgba(0,248,243,1) 0%, rgba(0,175,221,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,248,243,1) 0%,rgba(0,175,221,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,248,243,1) 0%,rgba(0,175,221,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f8f3', endColorstr='#00afdd',GradientType=0 );
}
.video-play-button:hover:after {
    background-color: darken(#fa183d, 10%);
}
.video-play-button img {
    position: relative; z-index: 3; max-width: 100%; width: auto; height: auto;
 }
.video-play-button span {
    display: block; position: absolute; z-index: 3; width: 0; height: 0; border-left: 22px solid #fff; border-top: 16px solid transparent; border-bottom: 16px solid transparent; top: 15%; left: 35%; transition: all ease 0.4s; -webkit-transition: all ease 0.4s; -ms-transition: all ease 0.4s;
}
.video-play-button:hover span{
    transform: scale(1.2, 1.2);
}
@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}


.thumb-info-box{
    width:100%; position: relative; overflow: hidden; display: flex; -webkit-display: flex; -ms-display: flex; box-shadow: #bdbdbd 0px 0px 6px; -webkit-box-shadow: #bdbdbd 0px 0px 6px;
}
.thumb-info-box .thumb-frame{
    width:50%; overflow: hidden; background: chocolate;
}
.thumb-info-box .thumb-frame img{
    width:100%; height:100%; object-fit: cover;
}
.thumb-info-box .info-area{
    width:50%; min-height:250px; background: #fff; padding:25px 35px; position: relative;
}
.thumb-info-box .info-area:after{
    content:''; position: absolute; width: 0; height: 0; top:17%; left:-20px; border-top: 40px solid transparent; border-bottom: 40px solid transparent; border-right: 30px solid #fff;
}
.thumb-info-box h3{
    font-size: 20px; font-weight: 600; margin-bottom:20px;
}
.thumb-info-box h4{
    font-size: 18px; font-weight: 600; color:#00afdd; margin-bottom:20px;
}
.thumb-info-box p{
    margin:0px; line-height: 16px;
}
/* for zikzak view */
.even-loop .thumb-info-box:nth-child(even) .thumb-frame, .thumb-info-box.revert-position .thumb-frame{
    order:2;
}
.even-loop .thumb-info-box:nth-child(even) .info-area:after, .thumb-info-box.revert-position .info-area:after{
    left:auto; right:-20px; border-left: 30px solid #fff; border-right: 0px solid transparent
}




/* home our services area css start */
.home-our-service-section{
    background: #000;
}
/* home our services area css ended */



/* home join team section css start */
.home-join-team-section{
    min-height:1029px; position: relative; display: flex; -webkit-display: flex; -ms-display: flex; align-items: center; background: #000 url("../images/team-bg.jpg") no-repeat; background-position: top left; background-size: cover;
}
.home-join-team-overlay{
    width:100%; height:100%; position: absolute; top: 0; left:0; background: #000;
}
.home-join-team-section .join-team-form-section{
    width:100%; display: inline-block; position: relative; text-align: center; z-index: 1;
}
.home-join-team-section .heading-lg{
    margin-bottom:40px;
}
.home-join-team-section p{
    margin-bottom:70px;
}
.search-panel{
    width:100%; display: flex; -webkit-display: flex; -ms-display: flex; align-items: center; position: relative; background: #fff; border-radius: 3px; -webkit-border-radius: 3px;
}
.search-panel .panel-col{
    width: auto; position: relative;
}
.search-panel .panel-left-col{
    width:80%;
}
.search-panel .panel-right-col{
    width:20%;
}
.search-panel .field-wrap{
    display: flex; -webkit-display: flex; -ms-display: flex;
}
.search-panel .field-wrap .field-col-1{
    width:35%; border-right:#000 solid 1px;
}
.search-panel .field-wrap .field-col-2{
    width:30%; border-right:#000 solid 1px;
}
.search-panel .field-wrap .field-col-3{
    width:35%;
}
.search-panel input[type=text]{
    width:100%; height: 44px; font-size:17px; border:none; font-family: 'Lato', sans-serif; padding:10px 30px;
}
.search-panel input[type=submit]{
    width:100%; height:60px; border:none; background: #C3DB31; font-size: 15px; font-weight:600; text-align: center; font-family: 'Lato', sans-serif;
    border-top-right-radius: 3px; border-bottom-right-radius: 3px; cursor: pointer; transition: all ease 0.7s; -webkit-transition: all ease 0.7s; -ms-transition: all ease 0.7s;
}
.search-panel input[type=submit]:hover{
    background: #ecff78;
}
/* home join team section css ended */



/* home expert css start */
.home-expert-section{
   min-height:600px; background: #000 url("../images/BG-Cubes.png") no-repeat; padding: 130px 0px; background-position: top left; background-size: cover; background-attachment: fixed;
}
.expert-slide-slider-area{
    position: relative; padding: 0; margin: 0px -60px;
}
.expert-slide-slider .slick-slide.slick-active,
.expert-slide-slider .slick-slide.slick-current,
.expert-slide-slider .slick-slide.slick-cloned.slick-active{
    opacity: 1;
}
.expert-slide-slider .slick-slide{
    margin:50px 0px; transition: all ease 0.4s; -webkit-transition: all ease 0.4s; -ms-transition: all ease 0.4s;
}
.expert-slide-slider .slick-list{
    padding: 0px 60px;
}
.expert-slide-slider .slick-slide, .expert-slide-slider .slick-slide.slick-cloned{
    opacity: 0; transition-delay: 0.6s;
}
/* home expert css ended */


/* home talent section css start */
.home-talent-section{
    padding: 100px 0px 0px 0px;
}
.home-talent-section .talent-heading-section{
    position: relative; overflow: hidden; margin-bottom:40px;
}
.home-talent-section .talent-album-section{
    position: relative; overflow: hidden;
}
.home-talent-section .album-big-image-box{
    width:61%; height:900px; position: relative; overflow: hidden; float: right;
}
.home-talent-section .album-big-image-box img{
    width:100%; height:100%; object-fit:cover;
}
.home-talent-section .album-buttons-row-area{
    position: absolute; width:100%; height: 100%; display: flex; -webkit-display: flex; -ms-display: flex; align-items: center;
}
.home-talent-section .image-icon{
    width:197px; height:200px; display: inline-block; position: relative; overflow: hidden; margin:15px 10px; cursor: pointer;
}
.home-talent-section .image-icon img{
    width:100%; height:100%;
}
.home-talent-section .image-icon img.highlight{
    position: absolute; top:0px; left:0px; z-index: 1; transition: all ease 2s; -webkit-transition: all ease 2s; -ms-transition: all ease 2s; opacity: 0;
}
.home-talent-section .image-icon:hover img.highlight, .home-talent-section .image-icon.active-image-icon img.highlight{
    opacity: 1;
}
.home-talent-section .album-big-image-box .current-image{
    opacity: 0; position: absolute; top:0px; right: 0px; z-index: 2; transition: all ease 0.5s;
}
.home-talent-section .album-big-image-box .current-image.show{ 
    opacity: 1; 
}
.home-talent-section .image-icon:first-child{
    display: block; margin-left: 240px;
}
/* home talent section css ended */




/* What happening section start */
.sec-padding{
    padding: 100px 0;
}
.What_happening_sec .What_happening_title h2{
    width: 60%; margin-bottom: 0;
}
.What_happening_sec .What_happening_title p{
    font-family: 'Lato', sans-serif; float: right; font-size: 30px; font-weight: 700; width: 73%; line-height: 42px; color: #33bfe3;
}
.what_happening_img_box{
    margin-top: 97px;
}
.feed-content-box{
    min-height: 304px; padding: 36px 57px; display: flex;
}
.feed-icon{
    flex: 1 100%;
}
.feed-img-box{
    min-height: 248px; max-width: 601px; width: 100%;
}
.feed-img-box img{
    height: 100%; object-fit: cover;
}
.feed-box{
    background: #F2F2F2;
}
.feed-content h5{
    font-size: 40px; font-weight: 700; line-height: 49px; color: #000000; margin-bottom: 45px;
}
.feed-content p{
    font-size: 15px; font-weight: 400; line-height: 20px; color: #000000;
}
.feed-img-box .image-frame{
    position: relative;
}
.feed-img-box .overlay-content-area{
    position: absolute; top: 50%; left: 0; right: 0; text-align: center; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%);
}
.feed-box2{
    background: #DAF249;
}
.feed-box2 .feed-content-box{
    padding: 0;
}
.feed-box2 .feed-img-box{
    padding: 36px 50px 0;
}
.feed-box2 .feed-content h5, .feed-box6 .feed-content h5{
    margin-bottom: 20px; font-size: 22px;
}
.feed-box4{
    height: 100%;
}
.feed-box4 .feed-content{
    background: #33BFE3; height: 100%;
}
.feed-box4 p{
    font-size: 20px; font-weight: 700; line-height: 30px; font-style: italic; color: #fff; width: 85%;
}
.feed-box4 h2{
    font-size: 61px; color: #fff; line-height: 74px; font-weight: 700; text-align: right;     margin-top: 30px;
}
.feed-box4 .feed-content, .feed-box5{padding: 36px 57px;}
.feed-box5{background: #33BFE3;}
.feed-box5 .feed-content{margin-top: 45px; margin-bottom: 0;}
.feed-box5 .feed-content h5{color: #fff;}
.feed-box5 .feed-img-box{min-height: auto; max-width: 100%;}
.feed-box5 .feed-content h5{margin-bottom: 0;}
.feed-box6 .feed-img-box {
    height: 552px;
    max-width: 100%;
    width: 100%;
    flex: 0 0 50%;
    min-height: 100%;
}
.feed-box6{display: flex; background: #DAF249; overflow: hidden;}
.feed-box6 .feed-icon{flex: auto; height: 100%;}
.feed-box6 .feed-content-box{min-height: auto; flex-direction: column; 
    justify-content: center;}
.what_happening_col_left .row + .row, .what_happening_col_right .row + .row{margin-top: 40px;}
.what_happening_col_left .what_happening_inner_col_left{padding-right: 20px;}
.what_happening_col_left .what_happening_inner_col_right{padding-left: 20px; padding-right: 20px;}
.what_happening_col_right .what_happening_inner_col_left, .what_happening_col_right .what_happening_inner_col_right{padding-left: 20px;}
.what_happening_col_left .row + .row .what_happening_inner_col_left{padding-right: 0;}
.what_happening_col_left .row + .row .what_happening_inner_col_right{padding-left: 0;}
.feed-content p {
    margin: 0;
}




/* home community section css start */
.community_section{
    padding: 0px 0px 80px 0px;
}
.community_section:after{
    position: absolute; top: 0; right: 0; content: ''; width: 50%; height: 100%;  background-color: #000; z-index: -1;
}
.community_section .black-section-content-area{
    padding: 100px 40px 40px 40px;
}
.community_section .black-section-content-area p{
    color:#fff;
}
.community_section .common-horizontal-slider{
    padding: 0px 0px 0px 0px;
}
.community_section .slick-slider-one{
    margin-bottom:130px;
}
.community_section .common-horizontal-slider .slick-next:before{
    color:#fff;
}
.community_section .controlar-wrapper .dot-wrap{
    width:auto; display: inline-block;
}
.community_section .controlar-wrapper .slick-dots{
    position: relative;
}
.common-horizontal-slider .item {
    min-height:460px; position: relative; margin: 20px 30px 20px 20px; padding: 50px 45px; background: #ffffff; -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.5); -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.5); box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.5); border-top-left-radius: 50px; border-bottom-right-radius: 50px; transition: all ease 0.7s; -webkit-transition: all ease 0.7s; -ms-transition: all ease 0.7s; overflow: hidden;
}
.common-horizontal-slider .community_sec{
    position: relative;
}
.community-img-box .community-img{
    width: 150px; height: 150px; border-radius: 50%; float: left; border:#fff solid 2px;
}
.community-content-box{
    float: left;
}
.community-content-box h5{
    font-size: 40px; line-height: 49px; color: #000; font-weight:600;
    margin: 30px 0px 50px;
}
.community-content-box p{
    color: #000; font-size:20px; line-height: 24px; color:#707070; font-family: 'Lato', sans-serif; margin:0px;
}
.common-horizontal-slider.slider .slick-current{
    background: rgba(0,162,222,0);
}
.common-horizontal-slider.slider .slick-current.item{
    box-shadow: none;
}
.common-horizontal-slider .slick-current.item:after{
    content:''; width:100%; height:100%; position: absolute; left:0px; top:0px; z-index: -1;   
    background: -moz-linear-gradient(top,  rgba(0,162,222,1) 0%, rgba(0,255,245,1) 100%); 
    background: -webkit-linear-gradient(top,  rgba(0,162,222,1) 0%,rgba(0,255,245,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,162,222,1) 0%,rgba(0,255,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a2de', endColorstr='#00fff5',GradientType=0 );
}
.common-horizontal-slider.slider .slick-current .community-img{
    width: 200px; height: 200px; border-radius: 50%; float: left; border:#fff solid 2px;
}
.common-horizontal-slider.slider .slick-current .community-content-box h5{
    color:#fff; font-size:50px; line-height: 60px; margin: 50px 0px 80px;
}
.common-horizontal-slider.slider .slick-current .community-content-box p{
    color:#fff; font-size:25px; line-height: 30px;
}
/* home community section css ended */


/* custom-select-dropdown css start */
.select2-container.custom-select-dropdown{
    width:100%;
}
.select2-container.custom-select-dropdown .select2-choice{
    height:44px; border:none; background: #fff; padding:10px 20px; font-size:17px; font-family: 'Lato', sans-serif; color:#000; border-radius: 0; -webkit-border-radius: 0; text-align: left;
}
.select2-container.custom-select-dropdown .select2-choice .select2-arrow{
    width: 45px; border:none; background: transparent;
}
.select2-container.custom-select-dropdown .select2-choice .select2-arrow b{
    background: url("../images/down-arrow.svg") no-repeat center center !important;
}
.select2-container.custom-select-dropdown.select2-container-active .select2-choice{
    box-shadow:none; -webkit-box-shadow:none; -ms-box-shadow:none;
}
.select2-drop{
    margin-top: 14px; border-radius: 5px;
}
.select2-drop-active{
    border:none;
}
.select2-results .select2-result-label{
    font-size:14px; padding: 7px 10px; font-weight: 600; border-bottom: #f5f5f5 solid 1px;
}
.select2-results .select2-highlighted{
    background: #bed62f;
}
/* custom select dropdown css ended */






/* Footer start */
.footer-wrapper{
    background: #00afdd; padding:70px 0px 32px;
}
.footer-left p{ 
    margin: 20px 0 0 0; padding: 0; color: #fff; font-size: 16px; font-weight: 600;
}
.footer-right{
    text-align: right;
}
.footer-right p{
    width: 255px; margin-left: auto; margin-bottom: 17px;
}
.footer-right a, .footer-right p{
    font-size: 16px; color: #fff; font-weight:600; line-height: 22px;
}
.social-icon-list{
    margin: 17px 0 0 0; padding: 0;
}
.social-icon-list li{
    display: inline-block;
}
.social-icon-list li a{
    font-size: 30px; margin: 0 17px 0 17px;
}
.social-icon-list li:first-child a{
    margin-left: 0;
}
.social-icon-list li:last-child a{
    margin-right: 0;
}
/* Footer end */




/* inner page banner css start */
.innr_banner_area{
    width:100%; height: 600px; overflow: hidden; position: relative;
}
.innr_banner_area img{
    width:100%; height:100%; object-fit: cover;
}
/* inner page banner css ended */



/* solution page css start */
.black-bg{
    background-color: #000;
}
.green-bg{
    background-color: #BFD730;
}
.blue-bg{
    background-color: #00AFDD;
}

.bullet-list ul{
    padding: 0px; margin: 0px 0px 30px 0px; display: block; 
}
.bullet-list ul li{
    width:100%; display: inline-block; font-size:30px; line-height: 36px; margin-bottom:30px;font-weight:600; padding-left: 30px; position: relative;
}
.bullet-list ul li:before{
    content:''; width:10px; height:10px; position: absolute; top:14px; left:0px; background: #000; border-radius: 100%; -webkit-border-radius: 100%;
}
.bullet-list.white-list ul li{
    color:#fff;
}
.bullet-list.white-list ul li:before{
    background: #fff;
}

.solution-page-content-section{
    width:100%; position: relative; overflow: hidden;
}

.solution-liting-section ul{
    width: 100%; margin:0px; padding: 0px;
}
.solution-liting-section ul li{
    width:100%; float: left; display: flex; -webkit-display: flex; background: #fff;
}
.solution-liting-section ul li > div.content-col{
    width: 50%; min-height: 300px; position: relative; display: flex; -webkit-display: flex; align-items: center; justify-content: center;
}
.solution-liting-section ul li > div.content-col.color-bg{
    background: #47CAEB;
    background: -moz-linear-gradient(45deg,  #00fff5 0%, #47caeb 69%); 
    background: -webkit-linear-gradient(45deg,  #00fff5 0%,#47caeb 69%);
    background: linear-gradient(45deg,  #00fff5 0%,#47caeb 69%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fff5', endColorstr='#47caeb',GradientType=1 ); 
}
.solution-liting-section ul li > div.content-col.color-bg:after{
    content: ''; position: absolute; top: 50px; right: -50px; width: 0; height: 0; border-top: 50px solid transparent; border-left: 50px solid #47CAEB; border-bottom: 50px solid transparent;
}
.solution-liting-section ul li:nth-child(even) > div.content-col.color-bg{
    order:2;
    background: #47caeb;
    background: -moz-linear-gradient(45deg,  #47caeb 31%, #00fff5 100%);
    background: -webkit-linear-gradient(45deg,  #47caeb 31%,#00fff5 100%);
    background: linear-gradient(45deg,  #47caeb 31%,#00fff5 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47caeb', endColorstr='#00fff5',GradientType=1 );
}
.solution-liting-section ul li:nth-child(even) > div.content-col.color-bg:after{
    border-left: 0px solid transparent; border-right: 50px solid #47CAEB; left:-50px; right:auto;
}
.solution-liting-section ul li h3{
    margin: 0px; font-size:70px; line-height: 110px; color:#fff; font-weight:700;
}
.solution-liting-section ul li .content-wrap{
    padding: 50px 130px; text-align: left; width:100%; font-size:40px; line-height: 48px;
}
.solution-liting-section ul li .content-wrap p{
    margin-bottom:0px;
}
.solution-liting-section ul li a{
    font-size:19px;font-weight: 700; color:#47CAEB; font-family: 'Poppins', sans-serif;
}


.all-ITBD-engineers-section{
    background: url("../images/all-ITBD_engineers-bg.png") no-repeat top left; background-size: cover; padding: 100px 0px 50px;
}
.ovlay{
    width:100%; height:100%; position: absolute; top:0px; left:0px; /* Permalink - use to edit and /* /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#73c4ef+26,000000+42&0.27+1,0.88+79,0.91+99 */
background: -moz-radial-gradient(center, ellipse cover,  rgba(115,196,239,0.27) 1%, rgba(115,196,239,0.47) 26%, rgba(0,0,0,0.59) 42%, rgba(0,0,0,0.88) 79%, rgba(0,0,0,0.91) 99%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(115,196,239,0.27) 1%,rgba(115,196,239,0.47) 26%,rgba(0,0,0,0.59) 42%,rgba(0,0,0,0.88) 79%,rgba(0,0,0,0.91) 99%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(115,196,239,0.27) 1%,rgba(115,196,239,0.47) 26%,rgba(0,0,0,0.59) 42%,rgba(0,0,0,0.88) 79%,rgba(0,0,0,0.91) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4573c4ef', endColorstr='#e8000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */




}
.all-ITBD-engineers-section .container{
    z-index: 1; position: relative;
}
.all-ITBD-engineers-section h3{
    line-height: 80px; margin-bottom: 90px;
}
.all-ITBD-engineers-section ul{
    width: 100%; display: inline-block;
}
.all-ITBD-engineers-section ul li{
    width: 100%; float: right; position: relative; padding: 0px 62px 0px 0px; margin:0px 0px 40px 0px; font-weight:600; font-size:25px; line-height: 30px; text-align: right; color:#fff;
}
.all-ITBD-engineers-section ul li i{
    width:42px; height:34px; position: absolute; right:0px;
}
.all-ITBD-engineers-section ul li i img{
    width:100%;
}


.dedicated-black-section{
    padding: 60px 50px; background: #000; margin: 0px 0px 100px 0px;
}
.dedicated-black-section h3{
    color:#fff; margin-bottom:30px;
}
.dedicated-black-section p{
    margin: 0px 0px 25px 0px; font-size: 30px; line-height: 36px; color:#fff;
}

.howItWork-Blue-section{
    background: #00AFDD; color:#fff; padding: 80px 60px 25px 80px;
}
.howItWork-green-section{
    background: #BFD730; color:#fff; padding: 80px 60px 25px 80px;
}

.howItWork-section{
    margin: 0px 0px 0px 0px;
}

.on-demand-section{
    padding-top:55px; padding-bottom:35px;
}
.on-demand-section h3{
    color:#fff; margin-bottom:40px;
}
.on-demand-section p{
    margin-bottom:35px;
}

.direct-hire-section{
    padding:100px 0px 70px;
}

.howItWork-Black-Section{
    padding: 115px 0px 80px;
}

.NOC-Black-Section{
    position: relative; z-index: 1;
}
.NOC-Black-Section .black-bg{
    padding: 50px 65px 25px;
}
.NOC-Black-Section p{
    color:#fff; font-size:30px; line-height: 60px; font-weight:700; font-family:  'Poppins', sans-serif;
}

.NOC-green-Section{
    padding: 280px 0px 60px; margin-top:-180px;
}

.NOC-white-blue-Section .blue-bg{
    padding: 134px 100px 100px;
}

.black-bg-common{
    padding: 70px 70px 20px 70px;
}

/* solution page css ended */


.mb-0{
    margin-bottom:0px;
}
.mb-30{
    margin-bottom:30px;
}
