@media(min-width:1400px){

    /* common css start */
    .heading-lg{
        font-size: 80px; line-height: 100px;
    }
    .btn-solid {
        padding: 11px 19px; font-size: 19px;
    }

    .big-banner-with-sideinfo h3 {
        font-size:60px; line-height: 75px;
    }
    .big-banner-with-sideinfo p {
        margin-bottom: 55px;
    }
    /* common css ended */


    /* header section css start */
    .header_area .menu-col{
        flex: 0 0 61.333333%; max-width: 61.333333%;
    }
    /* header section css ended */


    /* home banner css start */
    .banner_txt{
        font-size: 88px; line-height: 80px;
    }
    .banner_txt span{
        font-size: 87px; line-height: 80px; font-weight: 700;
    }
    /* home banner css ended */


    /* home talent section css start */
    .home-talent-section .heading-row .col-lg-5 {
        -ms-flex: 0 0 35.666667%; flex: 0 0 35.666667%; max-width: 35.666667%;
    }
    .home-talent-section .heading-row p{
        margin-bottom:70px;
    }
    .home-talent-section .album-row .col-lg-5 {
        -ms-flex: 0 0 35.666667%; flex: 0 0 35.666667%; max-width: 35.666667%;
    }
    /* home talent section css ended */


}

@media(min-width:1700px){
    .container{ 
        max-width: 1600px; 
    }

    /* solution page css start */
    .howItWork-content-row-section .col-lg-4 {
        -ms-flex: 0 0 27.333333%; flex: 0 0 27.333333%; max-width: 27.333333%;
    }
    .howItWork-content-row-section .col-lg-8 {
    -ms-flex: 0 0 72.666667%; flex: 0 0 72.666667%; max-width: 72.666667%;
}
    /* solution page css ended */
}


@media(max-width:1746px){
    .feed-content h5 {
        font-size: 30px;
    }
    .feed-box .feed-icon {
        padding-right: 9px;
    }
    .feed-box4 p {
        font-size: 20px;
        width: 100%;
    }
    .feed-box4 h2 {
        margin-bottom: 0;
    }
}
@media(max-width:1699px){

    /* common css start */
    .btn-solid {
        padding: 8px 14px; font-size: 16px;
    }
    /* common css ended */

    /* header css start */
    .header_area .logo > img {
        max-width: 125px;
    }
    .search-col {
        font-size: 18px;
    }
    .header_area .menu-col{
        text-align: center;
    }
    /* header css ended */

    /* header menu css start */
    .menu_area ul {
        margin: 0 -16px;
    }
    .menu_area ul li {
        padding: 0 16px;
    }
    .menu_area ul li a {
        font-size: 16px;
    }
    /* header menu css ended */

}
@media(max-width:1500px){
    .feed-content-box, .feed-box4 .feed-content, .feed-box5 {
        padding: 30px 45px;
    }
    .feed-box2 .feed-img-box {
        padding: 20px 30px 0;
    }
    .what_happening_col_right{
        overflow: hidden;
    }
    .what_happening_col_right .row + .row, .feed-box6{
        height: 100%;
    }
}
@media(max-width:1399px){

    /* common css start */
    .btn-solid {
        padding: 8px 14px; font-size: 13px;
    }
    /* common css ended */

    /* header menu css start */
    .menu_area ul {
        margin: 0 -10px;
    }
    .menu_area ul li {
        padding: 0px 10px;
    }
    .menu_area ul li a {
        font-size: 15px;
    }
    /* header menu css ended */

}
@media(max-width:1330px){
    .feed-content h5 {
        font-size: 25px;
    }
    .feed-box4 p {
        font-size: 17px;
    }
    .feed-box4 h2 {
        font-size: 50px; margin-bottom: 0;
    }
}
@media(max-width:1220px){
    .feed-box2 .feed-content h5, .feed-box6 .feed-content h5 {
        margin-bottom: 10px; font-size: 20px; line-height: 24px; margin-top: 10px;
    }
    .feed-content h5 {
        margin-bottom: 35px;
    }
}
@media (max-width: 1199px){

    /* common css start */
    .btn-solid {
        padding: 5px 12px; font-size: 11px;
    }
    /* common css ended */

    /* header menu css start */
    .menu_area ul li {
        padding: 0px 8px;
    }
    /* header menu css ended */
    
    .feed-box4 p {
        font-size: 15px;
    }
    .feed-box4 h2 {
        font-size: 40px;
    }
    .feed-content h5 {
        font-size: 20px;
    }
    .feed-content-box, .feed-box4 .feed-content, .feed-box5 {
        padding: 20px 30px;
    }
    .what_happening_col_right{overflow: hidden;}
    .what_happening_col_right .row + .row, .feed-box6{height: 100%;}
}
@media (max-width: 1024px){
    .feed-content h5 {
        font-size: 20px; line-height: 24px;
    }
}
@media(min-width:992px){
    /* header section css start */
    .header_area .auto-col{
        width:auto; flex: 0 0 auto; max-width: none;
    }
    /* header section css ended */
}
@media(max-width:991px){

    /* common css start */
    body{
        padding-top: 78px;
    }
    .select2-results .select2-result-label{
        text-align: center;
    }
    /* common css ended */

    /* header section css start */
    .header_area {
        padding: 15px 0px; min-height: 78px;
    }
    header  .menu-col{
        order:1; position: absolute;
    }
    header .logo-col{
        order:2; text-align: center;
    }
    .header_area .logo > img {
        max-width: 100px;
    }
    header .search-col, 
    header .right-col{
        display: none;
    }
    /* header section css ended */


    /* home banner css start */
    .banner_area{
        text-align: center; min-height: 200px; padding: 100px 0px 140px;
    }
    .banner_area .col-lg-7{
        order:2;
    }
    .banner_area .col-lg-5{
        order:1;
    }
    .banner_area .banner_txt{
        font-weight:700; margin-bottom:26px;
    }
    .banner_area .banner_txt span{
        padding: 0px;
    }
    .banner_area .banner_cont a.btn {
        float: none;
    }
    /* home banner css ended */


    /* home banner bulb css start */
    .blub-full-frame-area {
        width: 400px; float:none; display: inline-block; margin-bottom:60px;
    }
    .blub-full-frame-area.let-animate:before, 
    .blub-full-frame-area.let-animate:after {
        height: 200px;
    }
    .banner-animate-frame {
        height: 365px;
    }
    /* home banner bulb css ended */


    /* home big banner with sideinfo css open */
    .home-our-service-section .single-slide-slider-with-v-dot .slick-dots {
        bottom: 45px; width: 100%;
    }
    .home-our-service-section .big-banner-with-sideinfo .image-frame img{
        opacity: 0.6;
    }
    /* home big banner with sideinfo css closed */

    /* big banner with sideinfo css start */
    .big-banner-with-sideinfo{
        min-height: 450px; height:auto; flex-direction: column;
    }
    .big-banner-with-sideinfo .image-frame,
    .big-banner-with-sideinfo .info-area{
        width:100%;
    }
    .big-banner-with-sideinfo .image-frame{
        height:335px;
    }
    .big-banner-with-sideinfo .overlay-content-area{
        text-align: center; display: flex; -webkit-display: flex; -ms-display: flex; align-items: center;
    }
    .big-banner-with-sideinfo .overlay-content-area > *{
        margin: 0px; width:100%;
    }
    .big-banner-with-sideinfo .info-area{
        margin-left:0px; min-height: 400px; margin-top:-30px; background-image: url("../images/Blue-gradient-shape.png");
    }
    .big-banner-with-sideinfo .info-area .info-inner {
        padding: 70px 18% 35px; text-align: center;
    }
    .big-banner-with-sideinfo h3{
        margin-bottom: 25px;
    }
    /* big banner with sideinfo css ended */


    /* home join the team section css start */
    .search-panel {
        flex-direction: column; background: transparent;
    }
    .search-panel input[type=text]{
        border-radius: 5px; -webkit-border-radius: 5px; text-align: center;
    }
    .search-panel .select2-container.custom-select-dropdown .select2-choice{
        border-radius: 5px; -webkit-border-radius: 5px; text-align: center;
    }
    .search-panel .field-wrap{
        flex-direction: column;
    }
    .search-panel .field-wrap .field-col-1,
    .search-panel .field-wrap .field-col-2,
    .search-panel .field-wrap .field-col-3{
        width:100%; margin-bottom:18px;
    }
    .search-panel .panel-left-col{
        width:100%; margin-bottom: 30px;
    }
    .search-panel .panel-right-col{
        width:auto;
    }
    .search-panel input[type=submit]{
        padding: 5px 18px; height:30px; font-size: 11px; font-weight: 700; border-radius: 0px; -webkit-border-radius: 0px;
    }

    /* home join the team section css ended */


    .what_happening_col_right .row{
        margin-top: 40px;
    }
    .what_happening_col_left .what_happening_inner_col_right{
        padding-right: 0;
    }
    .what_happening_col_right .what_happening_inner_col_left, .what_happening_col_right .what_happening_inner_col_right{
        padding-left: 0;
    }
    .feed-box5{
        text-align: center;
    }
    .what_happening_col_right .row + .row, .feed-box6 {
        height: auto;
    }
    .feed-box6 .feed-icon{
        flex: 1 100%;
    }
    .feed-box6 .feed-img-box img{
        height: auto;
    }
    .What_happening_sec .What_happening_title h2{
        width: 100%;
    }
}


@media(max-width:767px){

    /* Common css start */
    .heading-lg {
        font-size: 30px; line-height: 40px;
    }
    .heading-btm-bold-para{font-size: 15px; line-height: normal;}

    /* Common css end */


    /* home banner section start */
    .banner_txt { font-size: 30px; line-height: 46px; text-align: center; }
    .banner_txt span {font-size: 25px; line-height: 27px;}
    .big-banner-with-sideinfo h3 {font-size: 25px; line-height: 30px;}
    .big-banner-with-sideinfo p {font-size: 15px; line-height: 17px;}

    /* home banner section end */


    /* home what happening section css start */
    .feed-box6 {
        height: auto;
    }
    .feed-box6 .feed-img-box {
        height: auto;
    }
    .feed-box6 .feed-img-box img {
        height: 100%; object-fit: inherit;
    }
    .feed-img-box {
        min-height: auto; max-width: 100%; width: 100%;
    }
    .feed-img-box img {
        height: auto; object-fit: inherit; width: 100%;
    }
    
    .feed-content-box {
        min-height: auto;
    }
    .feed-content-box img{
        width: 100%;
    }
    .feed-img-box img.feed-social-icon, .feed-box .feed-content-box img.feed-social-icon, .feed-box5 .feed-social-icon, .linkdin-icon-box .feed-social-icon{
        width: auto;
    }
    .feed-box2 .feed-img-box {
        padding: 20px 30px;
    }
    .what_happening_col_left .what_happening_inner_col_left{
        padding-right:0;
    }
    .what_happening_col_left .what_happening_inner_col_right{
        padding-left: 0;
    }
    .what_happening_col_left .row:first-child .what_happening_inner_col_left{
        margin-bottom: 7px;
    }

    .feed-box .feed-icon{
        padding-right: 47px;
        text-align: right;
        align-self: center;
    }
    .feed-box2 .feed-icon{padding-right: 15px; text-align: right; flex: 1 50%;}
    .feed-content h5, .feed-box2 .feed-content h5, .feed-box6 .feed-content h5 {
        font-size: 23px;
        line-height: 24px;
    }
    .feed-box2 .feed-content h5, .feed-box2 .feed-content p{color: #fff;}
    .feed-box2 .feed-img-box{display: flex;}
    .feed-box2 .feed-img-box .feed-icon img{width: auto; filter: invert(1); -webkit-filter: invert(1);}
    .feed-box2 .feed-content h5{margin-top: 0;}
    .feed-box2 {
        background: #33BFE3;
    }
    .feed-content p{font-size: 12px;}
    .What_happening_sec .What_happening_title h2 {
        margin: 0 auto;
        text-align: center;
    }
    .What_happening_sec .What_happening_title p{font-size: 15px; width: 100%; text-align: center; line-height: normal;}
    .What_happening_sec .What_happening_title p{margin: 22px 0;}
    .what_happening_img_box{margin-top: 0;}
    .what_happening_col_left .row + .row, .what_happening_col_right .row + .row, .what_happening_col_right .row{margin-top: 7px;}
    /* home what happening section css ended */


    /* Community css start */
    .common-horizontal-slider .item{
        min-height: 100px;
    }
    .common-horizontal-slider.slider .slick-current .community-img-box{
        text-align: center;
    }
    .common-horizontal-slider.slider .slick-current .community-img-box .community-img{
        float: none; display: inline-block;
    }
    .community-img-box .community-img, .common-horizontal-slider.slider .slick-current .community-img-box .community-img{
        width:90px; height:90px;
    }
    .community-content-box h5, .common-horizontal-slider.slider .slick-current .community-content-box h5 {
        font-size: 22px;
        line-height: 33px;
        margin: 33px 0 24px 0;
    }
    .common-horizontal-slider.slider .community-content-box p,
    .common-horizontal-slider.slider .slick-current .community-content-box p{font-size: 12px; line-height: normal; text-align: center;}
    /* Community css end */

    /* footer css */
    .footer-left, .footer-right{text-align: center;}
    .footer-right p{margin: 0 auto 22px auto;}
    .footer-wrapper {padding: 40px 0px 18px;}
    .footer-left p{margin: 14px 0 0 0; font-size: 14px; line-height: 22px; font-weight: 400;}
    .order-one{-ms-flex-order: 2; order: 2; -webkit-order: 2;}
    .order-two{-ms-flex-order: 1; order: 1; -webkit-order: 1;}
    .social-icon-list{margin: 50px 0;}
    /* footer css end */

}


@media(max-width:540px){

    /* common css start */
    .heading-lg {
        margin-bottom: 20px;
    }
    .heading-btm-bold-para{
        margin-bottom: 30px;
    }
    .select2-results .select2-result-label {
        font-size: 12px;
    }
    .zoomin:hover {
        transform: scale(1, 1); -webkit-transform: scale(1, 1);
    }
    /* common css ended */

    /* home banner css start */
    .banner_area {
        padding: 80px 0px 140px;
    }
    .banner_area .banner_txt {
        font-size: 27px;
    }
    /* home banner css ended */

    /* home banner blub css start */
    .blub-full-frame-area {
        width: 190px; margin-bottom: 50px; padding:0px 15px;
    }
    .blub-full-frame-area.let-animate:before, .blub-full-frame-area.let-animate:after {
        height: 90px;
    }
    .banner-animate-frame {
        height: 165px;
    }
    .banner-animate-frame .bulb-glow {
        height: 400px; top: -28px;
    }
    /* home banner blub css ended */


    /* home white info section css start */
    .home-white-info-section h3 {
        font-size: 26px; line-height: 34px;
    }
    /* home white info section css ended */


    /* join the team section css start */
    .home-join-team-section{
        min-height: 200px; padding: 140px 0px;
    }
    .home-join-team-section .heading-lg {
        margin-bottom: 15px;
    }
    .home-join-team-section p {
        margin-bottom: 47px;
    }
    .search-panel input[type=text], .select2-container.custom-select-dropdown .select2-choice {
        height: 36px; font-size: 12px; padding: 6px 30px;
    }
    .home-join-team-section .join-team-form-section {
        padding: 0px 8%;
    }
    /* join the team section css ended */


    /* home expert section css start */
    .home-expert-section .heading-btm-bold-para{
        margin: 0px;
    }
    .expert-slide-slider .slick-slide{
        padding: 0px 40px;
    }
    .expert-slide-slider .slick-slide .team-member-box-type-2 .member-thumb{
        height:230px;
    }
    .team-member-box-type-2 .social-area {
        opacity: 1; right: 10px; top: 10px;
    }
    .team-member-box-type-2 .social-icon {
        width: 30px; height: 30px; line-height: 25px; font-size: 12px;
    }
    .team-member-box-type-2 .overlay-content-area {
        bottom: 0;
    }
    .team-member-box-type-2 .overlay-content-area .subheading {
        opacity: 1;
    }
    .team-member-box-type-2 .overlay-content-area h3 {
        font-size: 18px; font-weight: 600;
    }
    .team-member-box-type-2 .overlay-content-area .subheading {
        font-size: 9px; font-weight: 400;
    }
    .expert-slide-slider-area.white-v-dot .slick-dots {
        bottom: -50px; width: 100%; position: relative;
    }
    .expert-slide-slider-area .slider{
        margin:0px;
    }
    /* home expert section css ended */


    /* home tatent section css start */
    .home-talent-section {
        padding: 60px 0px 0px 0px; text-align: center;
    }
    .home-talent-section .album-big-image-box {
        height: 465px; width:100%;
    }
    .home-talent-section .image-icon {
        width: 100px; height: 102px;
    }
    .talent-image-icon-box{
        text-align: left; width: 250px; display: inline-block; position: relative; z-index: 2;
    }
    .home-talent-section .image-icon:first-child {
        margin-left: 140px;
    }
    .home-talent-section .talent-heading-section {
        padding: 0px 26px;
    }
    /* home tatent section css ended */


    /* social feed area css start */
    .sec-padding {
        padding: 60px 0 39px;
    }
    .what_happening_img_box {
        margin-top: 50px;
    }

    .feed-content-box, .feed-box4 .feed-content, .feed-box5 {
        padding: 30px 25px;
    }
    .feed-icon {
        flex: 1 73%;
    }
    .feed-content h5 {
        margin-bottom: 22px;
    }
    .feed-content p {
        line-height: 17px;
    }
    .feed-box2 .feed-img-box {
        padding: 35px 40px;
    }
    .feed-box2 .feed-img-box .feed-icon img {
        width: 35px;
    }
    .linkdin-icon-box{
        width: 40px;
    }
    .feed-box6 .feed-img-box {
        flex: 0 0 44%;
        min-height: 100%;
    }
    .feed-content h5, .feed-box2 .feed-content h5, .feed-box6 .feed-content h5 {
        font-size: 25px;
        line-height: 24px;
    }
    /* social feed css ended */


    /* community section css start */
    .community_section{
        text-align: center; padding: 0px 0px 40px 0px;
    }
    .community_section:after{
        width:100%;
    }
    .community_section .row > div:first-child{
        background: #fff;
    }
    .community_section .slick-slider-one {
        margin-bottom: 20px;
    }
    .community_section .slick-arrow{
        display: none !important;
    }
    .common-horizontal-slider .slick-dots li button {
        width: 15px;
        height: 15px;
        border: 2px solid #fff;
        background: #000;
        border-radius: 0;
        -webkit-border-radius: 0;
    }
    .common-horizontal-slider .slick-dots li.slick-active button{
        transform: scale(1,1); -webkit-transform: scale(1,1); background: #fff;
    }
    .community_section .controlar-wrapper{
        width: 100%; min-width: 22%; padding: 0px 0px;
    }
    .community_section .left-col{
        padding-bottom: 20px;
    }
    .community_section .black-section-content-area {
        padding: 40px 30px 0px 30px;
    }
    .community_section .black-section-content-area .heading-btm-bold-para {
        font-weight: 500; color:#e0e0e0; line-height: 18px; font-size: 14px;
    }
    /* community section css ended */



}
