
* { padding: 0px; margin: 0px; outline: none; }

/* body css property */
::-webkit-input-placeholder { 
    color: #000000; text-overflow: ellipsis;  
}
::-moz-placeholder { 
    color: #000000; text-overflow: ellipsis; opacity: 1; 
}
:-ms-input-placeholder { 
    color: #000000; text-overflow: ellipsis; opacity: 1; 
}

body, html {
    min-height: 100vh; -moz-osx-font-smoothing: grayscale; position: relative; overflow-x:hidden;
}
body {
    font-family: 'Poppins', sans-serif; font-size: 20px; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; font-size: 14px; padding-top: 90px;
}

h1, h2, h3, h4, h5, h6 { 
    margin-top: 0px; 
}
p { 
    margin: 0 0 25px; font-size: 12px; line-height: 28px; color: #212121; 
}
b, strong { 
    font-weight: 600; 
}
ul, ol, dl { 
    list-style-position: outside; margin-bottom: 15px; padding: 0px; list-style: none; 
}
img { 
    max-width: 100%; height: auto; 
}
a, a:hover, a:focus { 
    color: #133648; text-decoration: none; transition: ease-in-out 0.5s; 
}
a:hover, a:active { 
    color: #133648; text-decoration: none; 
}
a:focus, a:active, button:focus, button:active, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus { 
    outline: none; 
}
.commonspaceofheader{
    margin-top: 90px !important;
}

/* body css property */



#preloader {
    width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgb(0, 0, 0); z-index: 999;
}



/* common css start */
.btn{
    border-radius: 0; -webkit-border-radius: 0; transition: all ease 0.4s; -webkit-transition: all ease 0.4s;
}
.btn-solid{
    background: #fff; color:#000; font-weight:700; padding: 8px 18px; font-size: 14px;
}
.btn-line{
    border:#000 solid 2px; background: transparent; color:#000; font-weight:700; padding: 8px 18px; font-size: 14px;
}

.white-text{
    color:#fff;
}
.blue-text{
    color:#00afdd;
}
.heading-lg{
    font-size: 70px; line-height: 78px; font-weight: 700; margin-bottom:60px;
}
.heading-sm{
    font-size: 40px; line-height: 48px; font-weight: 700; margin-bottom:50px;
}
.heading-btm-bold-para{
    font-family: 'Lato', sans-serif; font-weight:600; font-size:30px; line-height: 35px; margin-bottom:60px;
}
.zoomin:hover{
    transform: scale(1.2, 1.2); z-index: 1;
}


.row-block{
    position: relative; overflow: hidden;
}
/* common css ended */



/* header  start */
.header_area{
    margin: 0; padding: 20px 0px; background: #000; min-height: 90px; position: fixed; top:0; width:100%; z-index:10;
}
.header_area .logo > img{
    max-width:300px; width:100%;
}
.header_area .row{
    position: relative; flex-wrap:nowrap; -ms-flex-wrap: nowrap;  -webkit-flex-wrap: nowrap;
}
.header_area .row > div.col{
    width:auto;
}
.header_area .col-6{
    position: unset;
}
.menu_withLogo{
    padding:25px 0;
}
.logo{
    margin: 0; padding: 0; display: inline-block; padding-right: 20px;
}
.menu_area{
    margin: 0; padding: 0; display: inline-block;
}
.menu_area ul{
    margin: 0; padding: 0; list-style: none;
}
.menu_area ul li{
    margin: 0; padding: 0; list-style: none; display: inline-block; padding: 0 15px; position: relative;
}
.menu_area ul li a{
    color:#fff; font-size: 18px; font-weight:500;
}
.menu_area ul li:hover a{
    color:#51ce51;
}
.menu_area ul li.active a{
    color:#51ce51;
}
.cta_btn_area{
    padding: 25px 0; float: right;
}
/* header  end */


/* banner area start */
.banner_area{
    margin: 0; padding: 0; min-height: 936px; background: #000; overflow: hidden; position: relative; z-index: 9; display: flex; -webkit-display: flex; -ms-display: flex; align-items: center;
}
.banner_area_wrapper{
    width:100%;
}
.banner_cont{
    margin: 0 0 0 0; padding: 0; position: relative; z-index: 1;
}
.banner_cont a.btn{
    float: right;
}
.banner_txt{
    font-size: 70px; line-height: 70px; color:#00afdd; text-align: right; margin-bottom:90px;
}
.banner_txt span{
    display: block; color: #fff; font-size: 69px; line-height: 70px; font-family: 'Poppins', sans-serif; font-weight: 700; padding: 25px 0 0px 0; 
}

/* banner blub css */
.blub-full-frame-area{
    width:auto; float: right; position: relative; padding: 0px 25px; 
}
.blub-full-frame-area:before,
.blub-full-frame-area:after{
    content:''; position: absolute;  width:4px; height:0px; background: #00c8e5; transition: all ease 0.7s; -webkit-transition: all ease 0.7s; -ms-transition: all ease 0.7s;
}
.blub-full-frame-area:before{
    left:0; bottom:0;
}
.blub-full-frame-area:after{
    right:0; top:0;
}
.blub-full-frame-area.let-animate:before,
.blub-full-frame-area.let-animate:after{
    height:350px;
}
.banner-animate-frame{
    width:100%; max-width: 500px; height:500px; display: inline-block; position: relative;
}
.banner-animate-frame:before{
    content: ''; position: absolute; top:0; left: 0; width:100%; height:100%; background: url("../images/Half-rectangle-2.png") no-repeat top right; background-size: 100%; z-index: -1;
}
.banner-animate-frame:after{
    content: ''; position: absolute; top:0; left: 0; width:100%; height:100%; background: url("../images/Half-rectangle-1.png") no-repeat top right; background-size: 100%;background-position: bottom left; z-index: 1;
}
.banner-animate-frame .bulb{
    width:100%; display: inline-block; text-align: center; margin-top: -21%; position: relative; top: 60%; opacity: 0; transition: all ease 1s; -webkit-transition: all ease 1s; -ms-transition: all ease 1s;
}
.banner-animate-frame .bulb.show{
    top:2%; opacity: 1;
}
.banner-animate-frame .bulb img{
    width: 94%;
}
.banner-animate-frame .bulb-glow{
    width:100%; height:565px; position: absolute; top:-120px; left:0px; z-index: 1; text-align: center; overflow: hidden; background: url("../images/Lightbulb-glow.png") no-repeat top center; background-size: 140%; opacity: 0; transition: all ease 1s; -webkit-transition: all ease 1s; -ms-transition: all ease 1s;
}
.banner-animate-frame .bulb-glow.show{
    opacity: 1;
}
.banner-animate-frame .bulb-glow img{
    width: 100%;
}

/* banner area end */


/* home white info section open */
.home-white-info-section{
    padding: 100px 0px;
}
/* home white info section closed */


/* team member box open */
.team-member-box, .team-member-box *{
    transition: all ease 0.7s; -webkit-transition: all ease 0.7s; -ms-transition: all ease 0.7s;
}
.team-member-box{
    width:100%; position: relative; overflow: hidden;
}
.team-member-box .member-thumb{
    width:100%; height:350px; overflow: hidden;
}
.team-member-box .member-thumb img{
    width:100%; height:100%; object-fit: cover;
}
.team-member-box .overlay-content-area{
    width:100%; padding: 20px; position: absolute; bottom:0; left:0; z-index: 1;
}
.team-member-box .overlay-content-area h3{
    font-size:24px; font-weight:700; color:#fff; margin: 0px;
}
.team-member-box .overlay-content-area .subheading{
    font-size:20px; font-weight:700; color:#fff; opacity: 0; margin-bottom: -30px;
}
.team-member-box .social-area{
    position: absolute; right:-20px; bottom:20px; opacity: 0;
}
.team-member-box .social-icon{
    width:40px; height:40px; line-height: 35px; display: block; text-align: center; border:#fff solid 3px; border-radius: 100%; font-size:18px; margin-top:5px;
}
.team-member-box .social-icon a{
    display: block;
}
.team-member-box .social-icon i{
    color:#fff;
}
/* hover */
.team-member-box:hover .overlay-content-area h3{
    font-size:32px;
}
.team-member-box:hover .overlay-content-area .subheading{
    opacity: 1; margin-bottom: 0px; 
}
.team-member-box:hover .social-area{
    opacity: 1; right:20px; transition-delay: 0.3s; -webkit-transition-delay: 0.3s; -ms-transition-delay: 0.3s;
}
/* team member box closed */



/* team member type 2 box open */
.team-member-box-type-2, .team-member-box-type-2 *{
    transition: all ease 0.7s; -webkit-transition: all ease 0.7s; -ms-transition: all ease 0.7s;
}
.team-member-box-type-2{
    width:100%; position: relative; overflow: hidden;
}
.team-member-box-type-2 .member-thumb{
    width:100%; height:350px; overflow: hidden;
}
.team-member-box-type-2 .member-thumb img{
    width:100%; height:100%; object-fit: cover;
}
.team-member-box-type-2 .overlay-content-area{
    width:100%; padding:10px 20px; position: absolute; bottom:-90px; left:0; z-index: 1;
}
.team-member-box-type-2 .overlay-content-area h3{
    font-size:24px; font-weight:700; letter-spacing:1px; color:#fff; margin: 0px 0px 4px 0px;
}
.team-member-box-type-2 .overlay-content-area .subheading{
    font-size:14px; font-weight:600; color:#fff; text-transform: uppercase; opacity: 0; /*margin-bottom: -30px;*/
}
.team-member-box-type-2 .social-area{
    position: absolute; right:-20px; top:20px; opacity: 0;
}
.team-member-box-type-2 .social-icon{
    width:40px; height:40px; line-height: 35px; display: block; text-align: center; border:#fff solid 3px; border-radius: 100%; font-size:18px; margin-top:5px;
}
.team-member-box-type-2 .social-icon a{
    display: block;
}
.team-member-box-type-2 .social-icon i{
    color:#fff;
}
/* hover */
.team-member-box-type-2:hover .overlay-content-area{
    bottom:0;
}
.team-member-box-type-2:hover .overlay-content-area .subheading{
    opacity: 1; margin-bottom: 0px; transition-delay: 0.5s; -webkit-transition-delay: 0.5s; -ms-transition-delay: 0.5s;
}
.team-member-box-type-2:hover .social-area{
    opacity: 1; right:20px; transition-delay: 0.3s; -webkit-transition-delay: 0.3s; -ms-transition-delay: 0.3s;
}
/* team member type 2 box closed */




.big-banner-with-sideinfo{
    width:100%; height:950px; position: relative; display: flex; -webkit-display: flex; -ms-display: flex; overflow: hidden;
}
.big-banner-with-sideinfo .image-frame{
    width:70%; overflow: hidden; background: #000;
}
.big-banner-with-sideinfo .image-frame img{
    width:100%; height:100%; object-fit: cover;
}
.big-banner-with-sideinfo .info-area{
    width:35%; background:url("../images/gradian-shape.svg") no-repeat top left; background-size: cover; margin-left:-5%; position: relative; z-index: 1;
}
.big-banner-with-sideinfo .info-area .info-inner{
    padding: 35% 25% 100px 18%; height: 100%; overflow: hidden; position: relative;
}
.big-banner-with-sideinfo h3{
    font-size: 45px; line-height: 50px; color:#fff; font-weight: 700; margin-bottom:40px;
}
.big-banner-with-sideinfo p{
    color:#fff; font-size:30px; line-height: 42px; margin-bottom:35px;
}
/* white */
.big-banner-with-sideinfo.white .info-area{
    width:45%; margin-left:0; background: #fff; position: relative;
}
.big-banner-with-sideinfo.white .info-area:after{
    content:''; position: absolute; width: 0; height: 0; top:12%; right:-40px; border-top: 70px solid transparent; border-bottom: 70px solid transparent; border-left: 60px solid #fff;
}
.big-banner-with-sideinfo.white h3{
    color:#000;
}
.big-banner-with-sideinfo.white p{
    color:gray;
}
.big-banner-with-sideinfo .overlay-content-area{
    width:100%; height:100%; padding:7% 5%; position: absolute; top:0; left:0; z-index: 1;
}



.static-content-banner{
    width:100%; position: relative; display: flex; -webkit-display: flex; -ms-display: flex; overflow: hidden;
}
.static-content-banner .solid-content-area{
    width:40%; position: relative; display: flex; -webkit-display: flex; -ms-display: flex;align-items: center;
    background: rgb(0,248,243);
    background: -moz-linear-gradient(top,  rgba(0,248,243,1) 0%, rgba(0,175,221,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,248,243,1) 0%,rgba(0,175,221,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,248,243,1) 0%,rgba(0,175,221,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f8f3', endColorstr='#00afdd',GradientType=0 );
}
.static-content-banner .solid-content-area .content-wrap{
    padding: 0px 10%;
}
.static-content-banner h3{
    color:#fff; margin-bottom:15px;
}
.static-content-banner p{
    color:#fff; font-size:30px; line-height: 42px;
}
.static-content-banner .image-frame{
    position: relative; min-height: 500px;
}
.static-content-banner .image-frame img{
    width:100%; height:100%; object-fit: cover;
}
.static-content-banner .overlay-content-area{
    width:100%; text-align: center; padding: 30px; position: absolute; top:50%; left:0; transform: translate(0px, -50%); -webkit-transform: translate(0px, -50%); -ms-transform: translate(0px, -50%); -moz-transform: translate(0px, -50%); z-index: 1;
}





.video-play-button {
    width: 32px; height: 44px; display: inline-block; position: relative; border-radius: 50%; padding: 18px 20px 18px 28px;
  }
.video-play-button:hover:before {
    content: ""; width: 80px; height: 80px; position: absolute; z-index: 0; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); display: block; border-radius: 50%;
    background: rgb(0,248,243);
     background: -moz-linear-gradient(top,  rgba(0,248,243,1) 0%, rgba(0,175,221,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,248,243,1) 0%,rgba(0,175,221,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,248,243,1) 0%,rgba(0,175,221,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f8f3', endColorstr='#00afdd',GradientType=0 ); 
    animation: pulse-border 1500ms ease-out infinite;
}
.video-play-button:after {
    content: ""; width: 80px; height: 80px; display: block; position: absolute;  z-index: 1; left: 50%; top: 50%;
    transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%);
    background: rgba(255,255,255,0.45); border-radius: 50%;
    transition: all ease 0.4s; -webkit-transition: all ease 0.4s; -ms-transition: all ease 0.4s;
}
.video-play-button:hover:after {
    background: rgb(0,248,243);
    background: -moz-linear-gradient(top,  rgba(0,248,243,1) 0%, rgba(0,175,221,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,248,243,1) 0%,rgba(0,175,221,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,248,243,1) 0%,rgba(0,175,221,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f8f3', endColorstr='#00afdd',GradientType=0 );
}
.video-play-button:hover:after {
    background-color: darken(#fa183d, 10%);
}
.video-play-button img {
    position: relative; z-index: 3; max-width: 100%; width: auto; height: auto;
 }
.video-play-button span {
    display: block; position: absolute; z-index: 3; width: 0; height: 0; border-left: 22px solid #fff; border-top: 16px solid transparent; border-bottom: 16px solid transparent; top: 15%; left: 35%; transition: all ease 0.4s; -webkit-transition: all ease 0.4s; -ms-transition: all ease 0.4s;
}
.video-play-button:hover span{
    transform: scale(1.2, 1.2);
}
@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}


.thumb-info-box{
    width:100%; position: relative; overflow: hidden; display: flex; -webkit-display: flex; -ms-display: flex; box-shadow: #bdbdbd 0px 0px 6px; -webkit-box-shadow: #bdbdbd 0px 0px 6px;
}
.thumb-info-box .thumb-frame{
    width:50%; overflow: hidden; background: chocolate;
}
.thumb-info-box .thumb-frame img{
    width:100%; height:100%; object-fit: cover;
}
.thumb-info-box .info-area{
    width:50%; min-height:250px; background: #fff; padding:25px 35px; position: relative;
}
.thumb-info-box .info-area:after{
    content:''; position: absolute; width: 0; height: 0; top:17%; left:-20px; border-top: 40px solid transparent; border-bottom: 40px solid transparent; border-right: 30px solid #fff;
}
.thumb-info-box h3{
    font-size: 20px; font-weight: 600; margin-bottom:20px;
}
.thumb-info-box h4{
    font-size: 18px; font-weight: 600; color:#00afdd; margin-bottom:20px;
}
.thumb-info-box p{
    margin:0px; line-height: 16px;
}
/* for zikzak view */
.even-loop .thumb-info-box:nth-child(even) .thumb-frame, .thumb-info-box.revert-position .thumb-frame{
    order:2;
}
.even-loop .thumb-info-box:nth-child(even) .info-area:after, .thumb-info-box.revert-position .info-area:after{
    left:auto; right:-20px; border-left: 30px solid #fff; border-right: 0px solid transparent
}




/* home our services area css start */
.home-our-service-section{
    background: #000;
}
/* home our services area css ended */



/* home join team section css start */
.home-join-team-section{
    min-height:1029px; position: relative; display: flex; -webkit-display: flex; -ms-display: flex; align-items: center; background: #000 url("../images/team-bg.jpg") no-repeat; background-position: top left; background-size: cover;
}
.home-join-team-overlay{
    width:100%; height:100%; position: absolute; top: 0; left:0; background: #000;
}
.home-join-team-section .join-team-form-section{
    width:100%; display: inline-block; position: relative; text-align: center; z-index: 1;
}
.home-join-team-section .heading-lg{
    margin-bottom:40px;
}
.home-join-team-section p{
    margin-bottom:70px;
}
.search-panel{
    width:100%; display: flex; -webkit-display: flex; -ms-display: flex; align-items: center; position: relative; background: #fff; border-radius: 3px; -webkit-border-radius: 3px;
}
.search-panel .panel-col{
    width: auto; position: relative;
}
.search-panel .panel-left-col{
    width:80%;
}
.search-panel .panel-right-col{
    width:20%;
}
.search-panel .field-wrap{
    display: flex; -webkit-display: flex; -ms-display: flex;
}
.search-panel .field-wrap .field-col-1{
    width:35%; border-right:#000 solid 1px;
}
.search-panel .field-wrap .field-col-2{
    width:30%; border-right:#000 solid 1px;
}
.search-panel .field-wrap .field-col-3{
    width:35%;
}
.search-panel input[type=text]{
    width:100%; height: 44px; font-size:17px; border:none; font-family: 'Lato', sans-serif; padding:10px 30px;
}
.search-panel input[type=submit]{
    width:100%; height:60px; border:none; background: #C3DB31; font-size: 15px; font-weight:600; text-align: center; font-family: 'Lato', sans-serif;
    border-top-right-radius: 3px; border-bottom-right-radius: 3px; cursor: pointer; transition: all ease 0.7s; -webkit-transition: all ease 0.7s; -ms-transition: all ease 0.7s;
}
.search-panel input[type=submit]:hover{
    background: #ecff78;
}
/* home join team section css ended */



/* home expert css start */
.home-expert-section{
   min-height:600px; background: #000 url("../images/BG-Cubes.png") no-repeat; padding: 130px 0px; background-position: top left; background-size: cover; background-attachment: fixed;
}
.expert-slide-slider-area{
    position: relative; padding: 0; margin: 0px -60px;
}
.expert-slide-slider .slick-slide.slick-active,
.expert-slide-slider .slick-slide.slick-current,
.expert-slide-slider .slick-slide.slick-cloned.slick-active{
    opacity: 1;
}
.expert-slide-slider .slick-slide{
    margin:50px 0px; transition: all ease 0.4s; -webkit-transition: all ease 0.4s; -ms-transition: all ease 0.4s;
}
.expert-slide-slider .slick-list{
    padding: 0px 60px;
}
.expert-slide-slider .slick-slide, .expert-slide-slider .slick-slide.slick-cloned{
    opacity: 0; transition-delay: 0.6s;
}
/* home expert css ended */


/* custom-select-dropdown css start */
.select2-container.custom-select-dropdown{
    width:100%;
}
.select2-container.custom-select-dropdown .select2-choice{
    height:44px; border:none; background: #fff; padding:10px 20px; font-size:17px; font-family: 'Lato', sans-serif; color:#000; border-radius: 0; -webkit-border-radius: 0; text-align: left;
}
.select2-container.custom-select-dropdown .select2-choice .select2-arrow{
    width: 45px; border:none; background: transparent;
}
.select2-container.custom-select-dropdown.select2-container-active .select2-choice{
    box-shadow:none; -webkit-box-shadow:none; -ms-box-shadow:none;
}
.select2-drop{
    margin-top: 14px; border-radius: 5px;
}
.select2-drop-active{
    border:none;
}
.select2-results .select2-result-label{
    font-size:14px; padding: 7px 10px; font-weight: 600; border-bottom: #f5f5f5 solid 1px;
}
.select2-results .select2-highlighted{
    background: #bed62f;
}
/* custom select dropdown css ended */



/* common slick slider css start */
.single-slide-slider-with-v-dot.slick-dotted.slick-slider{
    margin:0px;
}
.single-slide-slider-with-v-dot .slick-dots{
    bottom: 65px; width:32%; left:auto; right:0;
}
.single-slide-slider-with-v-dot .slick-dots li{
    display: block; margin-top: 40px;
}
.single-slide-slider-with-v-dot .slick-dots li button{
    width:26px; height:26px; background: transparent; color:transparent; font-size:0px; border:4px solid #fff;
}
.single-slide-slider-with-v-dot .slick-dots li button:before{
    display: none;
}
.single-slide-slider-with-v-dot .slick-dots li.slick-active button{
    background: #fff;
}
/* common slick slider css ended */


.mb-0{
    margin-bottom:0px;
}
.mb-30{
    margin-bottom:30px;
}
