<!--  *ngFor="let element of arrayElement" -->
    <div class="card" [ngClass]="{'border-primary': element.type=='blueprint'}" style="margin-bottom:30px;">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body" [ngClass]="{'text-primary': element.type=='blueprint'}">
            <h5 class="card-title">{{element.name}}<br><small>{{element.type}}</small></h5>
            <p class="card-text">{{element.content}}</p>
            <a href="#" class="btn btn-primary">View Detail</a>
        </div>
    </div>