/* go to top button css */
#toTop {
    padding: 5px 3px;
    background: #000;
    color: #fff;
    position: fixed;
    bottom: 0;
    right: 5px;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    z-index: 9;
    cursor: pointer;
}