
/* window size greater than 1400px */
@media screen and (min-width:1400px) {
    .container {
        max-width: 1280px;
    }
}

/* window size greater than 1024px */
@media screen and (min-width:1024px) {
    
    
}

@media screen and (min-width:992px) {


}



/* responsive css start */
@media screen and (max-width:1399px) {


}

@media screen and (max-width:1366px) {

    
}

@media screen and (max-width:1199px) {

    
}


@media screen and (max-width:991px) {


}


@media screen and (max-width:768px) {

    
}


@media screen and (max-width:767px) {





    header .topSectn ul li{ margin:0px 5px; }
    header .topSectn ul.social{ display: none; }
    header .topSectn .col-md-3.justify-content-between { justify-content: flex-end !important; }
    header .btmSectn { padding: 5px 0px 10px; }
    .contact-iconic-info li{ margin:0px 10px; font-size: 12px; }
    .contact-iconic-info li .info-icon { font-size: 16px; display: none; }

    .primary-menu { padding: 12px 0px; z-index: 9; }
    .primary-menu .mobile-navbar { color: #fff; font-size: 24px; line-height: 30px; }
    .primary-menu .burgermenu-icon { height: 30px; }
    .primary-menu .burgermenu-icon:after { height: 18px; }
    .primary-menu .burgermenu-icon:after{ border-color:#fff; }
    .primary-menu .burgermenu-icon:before{ background:#fff; }
    .primary-menu .mobilemenu_ul{ margin-top:10px; }


    .singleAnimatedBanner .bnnr-cnt-wrap p{ display: none; }
    .singleAnimatedBanner .owl-nav{ display: none; }
    .singleAnimatedBanner .bnnr-headng { font-size: 20px; line-height: 28px; margin: 0px 0px 14px 0px; }

}

