/*
font-family: 'Poppins', sans-serif;
font-family: 'Lato', sans-serif;
*/
* { padding: 0px; margin: 0px; outline: none; }

/* placeholder and Selection css */
::selection { 
     color: #fff; background: #2c2c2c; 
}

::-moz-selection { 
     color: #fff; background: #2c2c2c; 
}

::-webkit-input-placeholder { 
     color: #2c2c2c; text-overflow: ellipsis; font-size: 16px; 
}

::-moz-placeholder { 
     color: #2c2c2c; text-overflow: ellipsis; opacity: 0.5; font-size: 16px; 
}

:-ms-input-placeholder { 
     color: #2c2c2c; text-overflow: ellipsis; opacity: 0.5; font-size: 16px; 
}

/* body css property */
body, html { 
     height: 100%; -moz-osx-font-smoothing: grayscale; 
}

body { 
     font-family: 'Lato', sans-serif; height: 100%; background: #210129; font-size: 15px; line-height: 26px; font-weight: 400; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; padding-top: 60px;
}

body.on-side {  
     margin-left: 0px !important; 
}
h1, h2, h3, h4, h5, h6 {
      margin-top: 0px; 
     }

p { 
     margin: 0 0 25px; line-height: 26px; 
}

b, strong { 
     font-weight: 600; 
}

ul, ol, dl { 
     list-style-position: outside; margin-bottom: 15px; padding: 0px; list-style: none; 
}

.transition *{ 
     transition: all ease 0.4s; -webkit-transition: all ease 0.4s; -ms-transition: all ease 0.4s; 
}

#preloader { 
     width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: #fff; z-index: 999; 
}

/* video and audio */
img { 
     max-width: 100%; height: auto; 
}

video { 
     background-size: cover; display: table-cell; vertical-align: middle; width: 100%; 
}

iframe { 
     border: 0; 
}

a, a:hover, a:focus { 
     text-decoration: none; 
}

a:hover, a:active { 
     text-decoration: none; 
}

.btn{ 
     font-size: 13px; border-radius: 0px; transition: all ease 0.4s; -webkit-transition: all ease 0.4s; -ms-transition: all ease 0.4s; 
}

.btn.btn-warning{ 
     color:#000; background: #fdc800; font-size:14px; border-color:#fdc800; font-weight: 600; letter-spacing: 0px; padding: 12px 25px; 
}

.btn.btn-primary{ 
     color:#fff; background: #002147; font-size:14px; border-color:#002147; font-weight: 600; letter-spacing: 0px; padding: 12px 25px; 
}

.btn.btn-primary:hover{ 
     background: #fdc800 !important; color:#000 !important; border-color:#fdc800 !important; 
}

.btn.btn-sm{ 
     padding: 8px 16px; font-size:13px; 
}

.btn.btn-solid{
     border-radius: 5px; -webkit-border-radius: 5px; border:none;
     background: #e55c34;
     background: -moz-linear-gradient(top,  #e55c34 0%, #fec601 100%);
     background: -webkit-linear-gradient(top,  #e55c34 0%,#fec601 100%);
     background: linear-gradient(to bottom,  #e55c34 0%,#fec601 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e55c34', endColorstr='#fec601',GradientType=0 );

}
.btn small{
     color:#505050;
}
.btn.btn-lg{
     padding:15px 35px; font-size: 20px;
}
.btn.btn-sm{
     padding:10px 15px; font-size: 16px;
}




header{ 
     width:100%; position: fixed; top:0px; left:0px; z-index:2; transition: -webkit-transform .3s ease; transition: transform .3s ease; font-family: 'Poppins', sans-serif;
}
.hdrBtm{ 
     width:100%; min-height: 20px; padding:0px; float:left; position: relative;
     /*background: #5d1c5c;
     background: -moz-linear-gradient(top,  #5d1c5c 0%, #a21655 100%);
     background: -webkit-linear-gradient(top,  #5d1c5c 0%,#a21655 100%);
     background: linear-gradient(to bottom,  #5d1c5c 0%,#a21655 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d1c5c', endColorstr='#a21655',GradientType=0 );*/
     background: #270031;
}
.StickyElementAfterScroll{ 
     transition: -webkit-transform .3s ease; transition: transform .3s ease; transition: transform .3s ease,-webkit-transform .3s ease; 
}
.Sticky{ /*-webkit-transform: translateY(-60px); transform: translateY(-60px); */ position: fixed; top:0; left:0; }

header .col{
     position: static;
}
.header-logo{
     display: inline-block; max-width: 100px; margin-right: 20px;
}
.header-nav{
     position:absolute; left:0px; top:0px; color:#fff; cursor: pointer; font-size: 16px; 
     padding:15px 20px; transition: all ease-in-out 0.4s; -webkit-transition: all ease-in-out 0.4s;
}
.header-nav:hover{
     background: rgba(255,255,255,0.2);
}


.stickySideBar{
     width:100%; max-width: 300px; height: 100%; position: fixed; top: 0; left:-300px; transition: all ease-in-out 0.3s; -webkit-transition: all ease-in-out 0.3s; z-index: 21;
}
.stickySideBar:after{
     content: ''; width:100%; height:100%; position: fixed; background:#000; opacity: 0.6; left:0px; top:0; transition: all ease-in-out 0.3s; -webkit-transition: all ease-in-out 0.3s; visibility: hidden;
}
.stickySideBar-inner{
     width:100%; height:100%; position: absolute; top:0; left: 0; background: #fff8e2; z-index: 1; padding:15px 20px;
}
.stickySideBar.rightSideBar{
     left:auto; right:-300px;
}
.stickySideBar.openedSidebar{
     left:0px; z-index: 99;
}
.stickySideBar.openedSidebar:after{
     width:100%; visibility: visible;
}

.stickySideBar .sidebarHeader{
     width:100%; display: inline-block; text-align: center;
}
.stickySideBar .sidebarHeader .logoarea{
     width:100px; display: inline-block; margin-bottom:20px;
}
.stickySideBar .sidebarHeader .logoarea img{
     width:100%;
}
.sidebarCloseButton{
     position: absolute; left:0px; top:0px; cursor: pointer; font-size: 16px; color:#000; padding:15px 20px; transition: all ease-in-out 0.4s; -webkit-transition: all ease-in-out 0.4s;
}
.sidebarCloseButton:hover{
     background: rgba(255,255,255,0.4);
}

ul.sidebarMenus{
     width:100%; display: inline-block; margin:0px; padding:0px; font-family: 'Poppins', sans-serif;
}
ul.sidebarMenus li{
     width:100%; float: left; position: relative; font-size:14px; font-weight:500;
}
ul.sidebarMenus li, ul.sidebarMenus li a{
     color:#503d00; display: block; transition: all ease-in-out 0.4s; -webkit-transition: all ease-in-out 0.4s;
}
ul.sidebarMenus li i{
     width: 25px; font-size:26px; margin-right: 10px; float: left;
}
ul.sidebarMenus li:hover a{
     color:#000;
}
ul.sidebarMenus li a{
     padding:10px 0px;
}





.home-body-section{
     width:100%; min-height: 700px; position: relative; overflow: hidden;
}
.home-body-section h2{
     font-size: 60px; color:#fff; font-weight:700; margin-bottom:30px;
}
.home-body-section h3{
     font-size: 50px; color:#fff; font-weight:700; margin-bottom:30px;
}
.home-body-section h4{
     font-size: 24px; color:#fff; font-weight:700;
}
.home-body-section p{
     font-size:24px; line-height: 36px; color:#77a3f3; margin-bottom: 60px;
}

.bannerBlock{
     width:100%; position: relative; padding:100px 0px;
}


.second-baner-block{
     width:100%; position: relative; padding:60px 0px;
}

.third-baner-block{
     width:100%; position: relative; padding:60px 0px 180px;
}


.rounded-box *{
     transition: all ease-in-out 0.4s; -webkit-transition: all ease-in-out 0.4s;
}
.rounded-box{
     width:100%; height:250px; position: relative; padding:30px; background: #1b2a3b; color:#fff; border-radius: 20px; -webkit-border-radius: 20px; margin-bottom: 30px; overflow: hidden; background-repeat: no-repeat; background-size: cover;
}
.rounded-box h4{
     margin-bottom:30px;
}
.rounded-box p {
    font-size: 18px; line-height: 26px; color:#fff;
}
.rounded-box .overlay-text{
     position: absolute; left:0px; bottom:0px; width:100%; height:40%; padding:30px 25px;
}
.rounded-box i{
     font-size: 50px; opacity: 0.5;
}
.rounded-box .overlay-text h4{
     margin-bottom: 0px;
}
.rounded-box .overlay-text p{
     opacity: 0; display: none;
}
.rounded-box:hover .overlay-text{
     height: 100%; background: blue;
}
.rounded-box:hover .overlay-text h4{
     margin-bottom: 30px;
}
.rounded-box:hover .overlay-text p{
     opacity: 1; display: block;
}

.payment-logo{
     display: inline-block; max-width: 100px;
}
.payment-logo img{
     width:100%;
}
.payment-slider .slick-slide{
     text-align: center;
}

.login-body-section{
     width:100%; min-height: 700px; position: relative; overflow: hidden; color:#fff; padding-top: 50px;
}
.login-area{
     width:100%; max-width:400px; margin:0px auto;
}
.login-area > h4{
     font-weight:500; display: block; text-align: center; margin-bottom:30px;
}
.login-tab-area{
     width:100%; position: relative; display: inline-block; border-radius: 3px; -webkit-border-radius: 3px; background: #fff; box-shadow: gray 0px 0px 10px; -webkit-box-shadow: gray 0px 0px 10px;
}
.login-tab-area .nav-tabs a{
     display: inline-block; padding:10px 20px; color:gray;
}
.login-tab-area .nav-tabs a.active{
     color:#000;
}
.login-tab-area .tab-content{
     padding:0px; color:#000;
}
.login-tab-area .form-wrap{
     padding: 30px 50px;
}
.form-check input[type="checkbox"]{
     margin-top: 8px;
}
.log-social-area{
     width:100%; background: #dedede; padding:15px 30px 25px; text-align: center; border-radius: 0px 0px 3px 3px;
}
ul.social{
     width:100%; display: inline-block; margin:10px 0px 0px 0px;
}
ul.social li{
     display: inline-block; margin:0px 5px;
}
ul.social li a{
     width:44px; height:40px; line-height: 38px; display: block; background: #fff; border-radius:100%; text-align: center; color:#0a023b; font-size:20px; border:#fff solid 1px; transition: all ease-in-out 0.4s; -webkit-transition: all ease-in-out 0.4s;
}
ul.social li:hover a{
     border-color:#0a023b;
}



footer { 
 padding: 0px 0px 0px 0px; background: #002147; position: relative;
}
footer h3 { 
     color: #fff; font-size: 20px; text-transform:capitalize; margin-bottom: 20px; position: relative;
}
footer p { 
     color: #fff;
}
footer .footer-logo-section { 
     width: 100%; padding: 40px 0px 40px 0px; position: relative; background: rgba(0, 0, 0, 0.2); color: #fff; 
}
footer .footer-top-section { 
     width: 100%; padding: 85px 0px; position: relative; 
}
footer .footer-bottom-section { 
     width: 100%; padding: 20px 0px; position: relative; background: #001a39; 
}
footer .footer-bottom-section p { 
     margin: 0px; color: #8399b9; 
}
footer .footer-bottom-section a { 
     color: #fff; 
}
footer .footer-bottom-section a:hover { 
     color: #fff; 
}
footer .right-side-text { 
     text-align: right; 
}
footer ul.footer-link { 
     width: 100%; 
}

footer ul.footer-link li { 
     width: 100%; display: inline-block; color: #fff; margin-bottom: 5px; 
}
footer ul.footer-link li i{
     color:#fdc800; margin-right:10px;
}
footer ul.footer-link.two-col li{
     width:50%; float: left;
}
footer ul.footer-link li a { 
     color: #fff; 
}
footer ul.footer-link li a:hover { 
     color: #c0c0c0; padding-left: 4px; 
}
footer ul.footer-link li:last-child { 
     margin-bottom: 0px; 
}
footer ul.footer-social { 
     margin: 0px -3px; 
}
footer ul.footer-social li { 
     display: inline-block; margin: 0px 3px; transition: all ease 0.3s; -webkit-transition: all ease 0.3s; 
}
footer ul.footer-social li a { 
     width: 30px; height: 30px; display: block; border: rgba(255, 255, 255, 0.2) solid 1px; color: #848d98; font-size: 14px; text-align: center; line-height: 30px; transition: all ease 0.3s; -webkit-transition: all ease 0.3s; 
}
footer ul.footer-social li:hover a { 
     background: #fdc800; color:#002147;
}






@media only screen and (max-width:767px){
     .primary-menu{
          position: absolute; right: 0px; top: 5px;
     }
     .header-logo {
          margin-left: 30px;
     }

     .btn.btn-lg {
          padding: 10px 35px;
          font-size: 15px;
     }

     .bannerBlock {
          padding: 20px 0px;
     }
     .bannerBlock .btn, .second-baner-block .btn{
          margin-bottom: 30px;
     }

     .home-body-section h2, .home-body-section h3 {
          font-size: 26px;
     }
     .home-body-section p {
          font-size: 18px; line-height: 22px;
     }

     .second-baner-block {
          padding: 15px 0px;
     }

     .third-baner-block {
          padding: 60px 0px 60px;
     }

     footer .col-md-4{
          margin-bottom: 30px;
     }
     footer .footer-bottom-section{
          text-align: center;
     }
     footer .right-side-text{
          text-align: center;
     }

}