/* Navigation css start */

        .primary-menu {
            position: relative; display: inline-block;
        }

        .primary-menu .fa.fa-angle-down {
            margin-left: 6px;
        }

        .primary-menu ul {
            font-size: 0;
            margin: 0;
            padding: 0;
        }

        .primary-menu > ul{
            background:transparent;
        }

        .primary-menu ul li {
            display: inline-block;
            position: relative;
        }

        .primary-menu ul li a {
            color: #fff;
            display: block;
            font-size: 14px;
            padding: 15px 14px;
            transition: 0.3s linear;
            -webkit-transition: 0.3s linear;
        }

        .primary-menu ul li:hover,
        .primary-menu ul li.submenu:hover > a {
            background: #126d9b;
        }

        .primary-menu ul li:hover ul{
            /*z-index:9;*/
        }

        .primary-menu ul li.submenu a{
            padding-right:20px;
            position: relative;
        }

        .primary-menu ul li.submenu > a:after{
            content:'';
            position: absolute;
            top:50%;
            right:10px;
            width:7px;
            height:2px;
            margin-top:-1px;
            background:#fff;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            z-index:1;
        }
        .primary-menu ul li.submenu > a:before{
            content:'';
            position: absolute;
            top:50%;
            right:6px;
            width:7px;
            height:2px;
            margin-top:-1px;
            background:#fff;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            z-index:1;
        }

        .primary-menu ul li ul {
            border-bottom: 5px solid #2ba0db;
            display: none;
            position: absolute;
            width: 250px;
            z-index:99;
            /*z-index:-1;*/
        }

        .primary-menu ul ul li.submenu > a:after{
            content:'';
            position: absolute;
            top:50%;
            right:10px;
            width:7px;
            height:2px;
            margin-top:-3px;
            background:#fff;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            z-index:1;
        }
        .primary-menu ul ul li.submenu > a:before{
            content:'';
            position: absolute;
            top:50%;
            right:10px;
            width:7px;
            height:2px;
            margin-top:1px;
            background:#fff;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            z-index:1;
        }

        .primary-menu ul li ul li {
            width:100%;
            border-top: 1px solid #444;
            display: block;
        }

        .primary-menu ul li ul li:first-child {
            border-top: none;
        }

        .primary-menu ul li ul li a {
            width:100%;
            background: #373737;
            display: inline-block;
            padding: 15px 14px;
        }

        .primary-menu ul li ul li a:hover {
            background: #126d9b;
        }

        .primary-menu ul li ul li ul {
            left: 100%;
            top: 0px;
        }

        .mobile-navbar{
            background:#ff0000;
            display:none;
            height:40px;
        }
        .primary-menu .burgermenu-icon{
            width:40px;
            height:40px;
            float:right;
            background:#ff00ff;
        }
        
        @media (max-width:991px){
            .mobile-view .mobile-navbar{
                display:block;
            }
            .primary-menu .mobilemenu_ul{
                left:-100%;
                opacity:0;
            }
            .mobile-view .mobilemenu_ul.flyout_left{
                position: relative;
                display:block;
                visibility:hidden;
                transition: all ease 0.4s;
                -webkit-transition: all ease 0.4s;
                left:-100%;
                opacity:0;
            }
            .mobile-view .mobilemenu_ul.flyout_left.ul_opened{
                left:0%; opacity:1; visibility:visible;
            }
            .mobile-view .mobilemenu_ul{
                display:none;
                width:100%;
                position: absolute;
            }
            .mobile-view ul{
                margin:0px;
            }
            .mobile-view ul li {
                width: 100%;
                display:inline-block;
            }
            .mobile-view ul li ul{
                width:100%;
                position: relative;
                left:0;
                /*display:inline-block;*/
                border:none;
            }
            .mobile-view ul li.show-sub >ul{
                display:inline-block;
            }
            .mobile-view ul li a {
                width: 100%;
                display:inline-block;
                padding: 15px 14px;
                border-bottom:#126d9b solid 1px;
            }
            .primary-menu.mobile-view ul li ul li ul{
                left:0;
            }
            .mobile-view ul li.submenu a:before,
            .mobile-view ul li.submenu a:after{
                display:none;
            }
            .mobile-view ul ul li.submenu > a:after,
            .mobile-view ul ul li.submenu > a:before{
                display: none;
            }
            .mobile-view .sub-dropdown{
                width:40px;
                height:47px;
                position: absolute;
                top:0;
                /*background:#159a6f;*/
                right:0px;
                z-index:21;
            }
            .mobile-view .sub-dropdown:after,
            .mobile-view .sub-dropdown:before{
                content:'';
                width:10px;
                height:4px;
                background:#fff;
                position: absolute;
                border-radius:4px;
                -webkit-border-radius:4px;
                top:50%;
                left:45%;
                margin-top:-2px;
                transition:all ease 0.4s;
                -webkit-transition:all ease 0.4s;
            }
            .mobile-view .sub-dropdown:after{
                margin-left:-5px;
                transform: rotate(45deg);
            }
            .mobile-view .sub-dropdown:before{
                margin-right:5px;
                transform: rotate(-45deg);
            }

            .mobile-view .sub-dropdown.expanded:after{
                margin-right:-5px;
                transform: rotate(-45deg);
            }
            .mobile-view .sub-dropdown.expanded:before{
                margin-right:5px;
                transform: rotate(45deg);
            }
            
        }

        /* Navigation css ended */