* { padding: 0px; margin: 0px; outline: none; }

/* placeholder and Selection css */
::selection { color: #fff; background: blue; }

::-moz-selection { color: #fff; background: blue; }

::-webkit-input-placeholder { color: blue; text-overflow: ellipsis; font-size: 16px; }

::-moz-placeholder { color: blue; text-overflow: ellipsis; opacity: 0.5; font-size: 16px; }

:-ms-input-placeholder { color: blue; text-overflow: ellipsis; opacity: 0.5; font-size: 16px; }

/* body css property */
body, html { height: 100%; -moz-osx-font-smoothing: grayscale; }

body { font-family: "Poppins", sans-serif; line-height: 20px; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 { margin-top: 0px; }

p { margin: 0 0 25px; font-size: 23px; line-height: 28px; }

b, strong { font-weight: 600; }

ul, ol, dl { list-style-position: outside; margin-bottom: 15px; padding: 0px; list-style: none; }

/* video and audio */
img { max-width: 100%; height: auto; }

video { background-size: cover; display: table-cell; vertical-align: middle; width: 100%; }

iframe { border: 0; }

a, a:hover, a:focus { text-decoration: none; }

a:hover, a:active { text-decoration: none; }

a:focus, a:active, button:focus, button:active, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus { outline: none; }

/* grid css */
.flex { display: -ms-flexbox; display: flex; align-items: center; }

.flexwrap { flex-wrap: wrap; -ms-flex-wrap: wrap; }

.item-vcenter { align-items: center; }

/* page common structure css */
.content-sctn { padding: 95px 0px; position: relative; }

.width-auto { width: auto; max-width: auto; }

.hidden { overflow: hidden; }

.hidden-x { overflow-x: hidden; }

.hidden-y { overflow-y: hidden; }

#preloader { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: #fff; z-index: 999; }

/* form element css */
input, textarea, select { border: 1px solid blue; margin: 0 0 20px 0; max-width: 100%; resize: none; }

input[type="submit"] { width: auto; }

input[type="button"], input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea, input[type="submit"] { -webkit-appearance: none; outline: none; }

input:focus, textarea:focus { border-color: blue; outline: none; }

input[type="button"]:focus { outline: none; }

select::-ms-expand { display: none; }

input[type=text], input[type=email], input[type="password"], textarea { width: 100%; height: 64px; font-size: 16px; color: blue; padding: 20px; border-style: solid; border-width: 3px; border-color: blue; border-radius: 30px; letter-spacing: 1px; background: transparent; }

textarea { min-height: 125px; resize: none; }

.btn-icon { width: 64px; height: 64px; border-radius: 100%; -webkit-appearance: none; outline: none; color: green; background-color: blue; border: none; font-size: 40px; cursor: pointer; transition: all ease 0.3s; }

.btn-icon:hover { box-shadow: inset #fff 0px 0px 0px 4px; }

.wpcf7-not-valid-tip { color: red; }

/* button css */
.btn { display: inline-block; padding: 0px; color: #f8ab11; /*padding: 16px 20px 16px;*/ padding: 11px 20px 11px; font-size: 14px; line-height: 16px; font-weight: 400; border-radius: 0; -webkit-border-radius: 0; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; }

.btn i { margin-left: 15px; margin-right: 0px; font-size: 17px; line-height: 12px; }

.btn-round { border-radius: 50px; -webkit-border-radius: 50px; }

.btn-sm i { margin-left: 10px; font-size: 12px; }

.btn-solid, a.btn-solid { background: #ff0000; color: #ffffff; }

.btn-solid:hover, a.btn-solid:hover { background: #222931; color: #fff; }

.btn-solid.btn-sm { padding: 6px 15px 5px !important; font-size: 10px; }

.btn-line.btn-sm { padding: 4px 13px 3px !important; font-size: 10px; }

.btn-solid.btn-blue, a.btn-solid.btn-blue { background: blue; color: #ffffff; }

.btn-solid.btn-green, a.btn-solid.btn-green { background: green; color: #ffffff; }

.btn.btn-line, a.btn.btn-line { padding: 10px 18px 10px; border-width: 2px; border-style: solid; border-color: red; color: red; }

.btn.btn-line:hover, a.btn.btn-line:hover { background-color: red; color: #ffffff; }

.btn.btn-line.btn-blue, a.btn.btn-line.btn-blue { border-color: blue; color: blue; }

.btn.btn-line.btn-blue:hover, a.btn.btn-line.btn-blue:hover { background-color: blue; color: #ffffff; }

.btn.btn-line.btn-green, a.btn.btn-line.btn-green { border-color: green; color: green; }

.btn.btn-line.btn-green:hover, a.btn.btn-line.btn-green:hover { background-color: green; color: #ffffff; }

.linktext { color: #34436e; position: relative; font-weight: 600; }

.linktext:hover { color: #34436e; }

/* infograph css */
.letter-spacing-2 { letter-spacing: 2px; }

.heading-xl { font-size: 43px; line-height: 47px; letter-spacing: 1px; padding: 0px; margin: 0px 0px 30px 0px; }

.heading-lg { font-size: 30px; line-height: 36px; letter-spacing: 1px; padding: 0px; margin: 0px 0px 30px 0px; }

.heading-md { font-size: 23px; line-height: 27px; letter-spacing: 1px; padding: 0px; margin: 0px 0px 20px 0px; }

/* slider nav css */
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev { width: 40px; height: 40px; background: green !important; color: #fff; }

.owl-carousel .owl-nav button i { color: #fff; }

.language-drpdwn-with-flag .btn { background: transparent; line-height: 24px; padding: 0px; }
.language-drpdwn-with-flag .btn:focus { box-shadow: none; outline: none; }
.language-drpdwn-with-flag .dropdown-menu { top: 10px !important; }
.language-drpdwn-with-flag .dropdown-menu li { width: 100%; margin: 0px; }
.language-drpdwn-with-flag .dropdown-menu li a { width: 100%; display: inline-block; padding: 5px 10px; }
.language-drpdwn-with-flag .dropdown-menu li a label { margin: 0px; }
.language-drpdwn-with-flag .flag { width: 20px; height: 20px; float: left; margin: 0px 10px 0px 0px; background-repeat: no-repeat; background-position: top left; }
.language-drpdwn-with-flag .flag.en-glyphicon { background-image: url("../images/flag-icon/us-flag-24.png"); }
.language-drpdwn-with-flag .flag.ar-glyphicon { background-image: url("../images/flag-icon/ar-flag-24.png"); }

/* header css */
header { padding: 0px; margin: 0px; position: relative; z-index: 21; }
header .logo { margin: 0px; }
header .topSectn { padding: 10px 0px; background: #000; position: relative; }
header .topSectn ul { /*display:inline-block;*/ margin: 0px 0px; }
header .topSectn ul li { display: inline-block; margin: 0px 0px; /*color:#fff;*/ }
header .topSectn ul li a { text-decoration: none; /*color:#fff;*/ }
header .topSectn ul.social { margin: 0px -2px; }
header .topSectn ul.social li { margin: 0px 1px; }
header .btmSectn { padding: 10px 0px; }
header .btmSectn .row { justify-content: space-between; }

/* primary menu css */
.primary-menu { position: relative; }
.primary-menu > ul { background: #159a6f; }
.primary-menu ul { margin: 0; padding: 0; }
.primary-menu ul li { display: inline-block; position: relative; }
.primary-menu ul li a { color: #fff; display: block; font-size: 14px; padding: 15px 14px; transition: 0.3s linear; -webkit-transition: 0.3s linear; }
.primary-menu ul li a:hover { background: #006391; }
.primary-menu ul li ul { background: #373737; border-bottom: 5px solid #2ba0db; display: none; position: absolute; width: 100%; min-width: 250px; z-index: 99; }
.primary-menu ul li ul li { width: 100%; display: block; }
.primary-menu ul li ul li a { width: 100%; display: inline-block; padding: 15px 14px; }
.primary-menu ul li ul li a:hover { background: #129b29; }
.primary-menu ul li ul li ul { left: 100%; top: 0px; }
.primary-menu ul li.submenu a { padding-right: 25px; position: relative; }
.primary-menu ul li.submenu:hover > a { background: #9b1290; }
.primary-menu ul li.submenu > a:after { background: #fff; }
.primary-menu ul li.submenu > a:before { background: #fff; }
.primary-menu ul li.submenu .submenu > a:after { background: yellow; }
.primary-menu ul li.submenu .submenu > a:before { background: yellow; }
.primary-menu .burgermenu-icon { width: 40px; height: 34px; float: right; position: relative; }
.primary-menu .burgermenu-icon:after, .primary-menu .burgermenu-icon:before { transition: all ease 0.3s; -webkit-transition: all ease 0.3s; }
.primary-menu .burgermenu-icon:after { content: ''; position: absolute; top: 0px; width: 100%; height: 20px; border-color: red; border-style: solid; border-width: 6px 0px; }
.primary-menu .burgermenu-icon:before { content: ''; position: absolute; bottom: 0; width: 100%; width: 100%; height: 6px; background-color: red; }
.primary-menu .burgermenu-icon.opened:after, .primary-menu .burgermenu-icon.opened:before { transform: translate(0px, -50%); -webkit-transform: translate(0px, -50%); top: 50%; }
.primary-menu .burgermenu-icon.opened:after { height: 0px; border-width: 3px 0px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); }
.primary-menu .burgermenu-icon.opened:before { transform: rotate(45deg); -webkit-transform: rotate(45deg); }

.primary-menu ul li.submenu > a:after { content: ''; position: absolute; top: 50%; right: 10px; width: 7px; height: 2px; margin-top: -1px; transform: rotate(45deg); -webkit-transform: rotate(45deg); z-index: 1; }

.primary-menu ul li.submenu > a:before { content: ''; position: absolute; top: 50%; right: 6px; width: 7px; height: 2px; margin-top: -1px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); z-index: 1; }

.primary-menu ul li.submenu .submenu > a:after { content: ''; position: absolute; top: 50%; right: 10px; width: 7px; height: 2px; margin-top: -3px; transform: rotate(45deg); -webkit-transform: rotate(45deg); z-index: 1; }

.primary-menu ul li.submenu .submenu > a:before { content: ''; position: absolute; top: 50%; right: 10px; width: 7px; height: 2px; margin-top: 1px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); z-index: 1; }

.mobile-navbar { height: 34px; display: none; }

.mobilemenu_ul.flyout_left .primary_menu_mobile_hdng { display: none; }

@media (max-width: 991px) { .primary-menu.menu_opened:after { width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.3); content: ''; position: fixed; top: 0px; left: 0px; z-index: 0; }
  .primary-menu .mobilemenu_ul { left: auto; right: 0px; opacity: 1; }
  .primary-menu .mobile-navbar { display: block; }
  .primary-menu ul { margin: 0px; }
  .primary-menu ul > li > a { color: #006391; }
  .primary-menu ul li { width: 100%; display: inline-block; }
  .primary-menu ul li .sub-dropdown:after { background: yellow; }
  .primary-menu ul li .sub-dropdown:before { background: yellow; }
  .primary-menu ul li a { width: 100%; display: inline-block; padding: 15px 14px; font-size: 14px; border-bottom: none; color: #fff; }
  .primary-menu ul li ul { width: 100%; position: relative; background: transparent; left: 0; border: none; }
  .primary-menu ul li ul li a { padding: 10px 12px; }
  .primary-menu ul li ul li ul { left: 0; transition: 0.1s linear; -webkit-transition: 0.1s linear; }
  .primary-menu ul li:hover a { background: transparent; }
  .primary-menu ul li ul li a { color: #fff; }
  .primary-menu ul li ul li:hover a { background: transparent; }
  .primary-menu ul li.submenu:hover > a { background: transparent; }
  .primary-menu ul li.submenu > a:after { display: none; }
  .primary-menu ul li.submenu > a:before { display: none; }
  .primary-menu ul li.submenu a:after { display: none; }
  .primary-menu ul li.submenu a:before { display: none; }
  .primary-menu ul li.submenu.submenu_expanded { margin-bottom: 1px; background: rgba(0, 0, 0, 0.3); }
  .primary-menu ul li.submenu.submenu_expanded > ul { padding-left: 10px; }
  .primary-menu ul li.submenu.submenu_expanded > a { background: rgba(0, 0, 0, 0.9); }
  .primary-menu .sub-dropdown { width: 40px; height: 47px; position: absolute; top: 0; right: 0px; z-index: 21; }
  .primary-menu .sub-dropdown:after, .primary-menu .sub-dropdown:before { content: ''; width: 10px; height: 4px; background: #006391; position: absolute; border-radius: 4px; -webkit-border-radius: 4px; top: 50%; left: 45%; margin-top: -2px; transition: all ease 0.4s; -webkit-transition: all ease 0.4s; }
  .primary-menu .sub-dropdown:after { margin-left: -5px; transform: rotate(45deg); }
  .primary-menu .sub-dropdown:before { margin-right: 5px; transform: rotate(-45deg); }
  .primary-menu .mobilemenu_ul { display: none; width: 100%; min-width: 300px; position: absolute; margin-top: 20px; }
  .primary-menu .mobilemenu_ul.flyout_left { max-width: 300px; height: 100vh; overflow-y: auto; position: fixed; display: block; visibility: hidden; transition: all ease 0.4s; -webkit-transition: all ease 0.4s; left: -100%; right: auto; top: 0px; opacity: 0; }
  .primary-menu .mobilemenu_ul.flyout_left.ul_opened { left: 0%; opacity: 1; visibility: visible; z-index: 21; background: #fff; }
  .primary-menu .mobilemenu_ul.flyout_right { max-width: 300px; height: 100vh; overflow-y: auto; position: fixed; display: block; visibility: hidden; transition: all ease 0.4s; -webkit-transition: all ease 0.4s; right: -100%; left: auto; top: 0px; opacity: 0; }
  .primary-menu .mobilemenu_ul.flyout_right.ul_opened { right: 0%; opacity: 1; visibility: visible; z-index: 21; background: #fff; }
  .primary-menu .mobilemenu_ul.flyout_left li.primary_menu_mobile_hdng, .primary-menu .mobilemenu_ul.flyout_right li.primary_menu_mobile_hdng { display: block; background: #550505; color: #fff; padding: 15px 10px; font-size: 20px; top: 0px; left: 0px; }
  .primary-menu .mobilemenu_ul.flyout_left .menuclose-icon, .primary-menu .mobilemenu_ul.flyout_right .menuclose-icon { width: 30px; height: 30px; background: #ff00ff; position: absolute; top: 10px; right: 10px; }
  .primary-menu .mobilemenu_ul.flyout_left li a, .primary-menu .mobilemenu_ul.flyout_right li a { color: #006391; }
  .primary-menu .mobilemenu_ul.flyout_left .submenu.submenu_expanded, .primary-menu .mobilemenu_ul.flyout_right .submenu.submenu_expanded { background: #e4f2f8; margin-bottom: 1px; }
  .primary-menu .mobilemenu_ul.flyout_left .submenu.submenu_expanded > ul, .primary-menu .mobilemenu_ul.flyout_right .submenu.submenu_expanded > ul { padding-left: 10px; }
  .primary-menu .mobilemenu_ul.flyout_left .submenu.submenu_expanded > a, .primary-menu .mobilemenu_ul.flyout_right .submenu.submenu_expanded > a { background: #9ddffd; }
  .primary-menu .mobilemenu_ul.flyout_left .sub-dropdown:after, .primary-menu .mobilemenu_ul.flyout_right .sub-dropdown:after { background: #006391; }
  .primary-menu .mobilemenu_ul.flyout_left .sub-dropdown:before, .primary-menu .mobilemenu_ul.flyout_right .sub-dropdown:before { background: #006391; } }
/* home banner css */
.home-banner-area { width: 100%; padding: 0px; position: relative; }

.singleAnimatedBanner .banner-img-holder { padding: 0px; max-height: 500px; overflow: hidden; }
.singleAnimatedBanner .banner-img-holder img { width: 100%; }
.singleAnimatedBanner .banner-overlay { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 1; background: #fff; opacity: 0.4; }
.singleAnimatedBanner .banner-contnt-holder { width: 100%; position: absolute; top: 50%; transform: translate(0px, -50%); -webkit-transform: translate(0px, -50%); z-index: 2; color: #fff; }
.singleAnimatedBanner .banner-contnt-holder .bnnr-cnt-wrap { background: rgba(0, 0, 0, 0.5); padding: 10px; }
.singleAnimatedBanner .owl-nav { margin: 0px; }
.singleAnimatedBanner .owl-nav .owl-prev, .singleAnimatedBanner .owl-nav .owl-next { position: absolute; top: 50%; transform: translate(0px, -50%); -webkit-transform: translate(0px, -50%); z-index: 2; }
.singleAnimatedBanner .owl-nav .owl-prev { left: 20px; }
.singleAnimatedBanner .owl-nav .owl-next { right: 20px; }
.singleAnimatedBanner .owl-dots { width: 100%; text-align: center; position: absolute; bottom: 10px; }

.home-search-area { width: 100%; padding: 20px 0px; position: relative; background: #6c7476; }

.search-form-wrap { width: 100%; padding: 0px; position: relative; display: -ms-flexbox; display: flex; align-items: center; }
.search-form-wrap .colum { position: relative; flex: 1; }
.search-form-wrap .colum:first-child { flex-basis: 400px; }
.search-form-wrap .colum:first-child input[type=text] { border-radius: 10px 0px 0px 10px; border-width: 0px 2px 0px 0px; }
.search-form-wrap .colum:nth-child(2) { flex-basis: 200px; }
.search-form-wrap input[type=text] { margin: 0px; background: #fff; border-radius: 0px; border-color: rgba(0, 0, 0, 0.2); border-width: 0px 0px 0px 0px; border-style: solid; }
.search-form-wrap input[type=submit] { width: 100%; height: 64px; margin: 0px; background: #0190c8; border: none; border-radius: 0px 10px 10px 0px; color: #fff; }
