* { padding: 0px; margin: 0px; outline: none; }

/* placeholder and Selection css */
::selection { /*color:$white; background:blue;*/ }

::-moz-selection { /*color:$white; background:blue;*/ }

::-webkit-input-placeholder { color: blue; text-overflow: ellipsis; font-size: 16px; }

::-moz-placeholder { color: blue; text-overflow: ellipsis; opacity: 0.5; font-size: 16px; }

:-ms-input-placeholder { color: blue; text-overflow: ellipsis; opacity: 0.5; font-size: 16px; }

/* body css property */
body, html { height: 100%; -moz-osx-font-smoothing: grayscale; }

body { font-family: "Archivo Black", sans-serif; line-height: 20px; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 { margin-top: 0px; }

p { margin: 0 0 25px; font-size: 23px; line-height: 28px; }

b, strong { font-weight: 600; }

ul, ol, dl { list-style-position: outside; margin-bottom: 15px; padding: 0px; list-style: none; }

/* video and audio */
img { max-width: 100%; height: auto; }

video { background-size: cover; display: table-cell; vertical-align: middle; width: 100%; }

iframe { border: 0; }

a, a:hover, a:focus { text-decoration: none; }

a:hover, a:active { text-decoration: none; }

a:focus, a:active, button:focus, button:active, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus { outline: none; }

/* grid css */
.flex { display: -ms-flexbox; display: flex; align-items: center; }

.flexwrap { flex-wrap: wrap; -ms-flex-wrap: wrap; }

.item-vcenter { align-items: center; }

/* page common structure css */
.content-sctn { padding: 95px 0px; position: relative; }

.width-auto { width: auto; max-width: auto; }

.hidden { overflow: hidden; }

.hidden-x { overflow-x: hidden; }

.hidden-y { overflow-y: hidden; }

#preloader { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: #fff; z-index: 999; }

/* form element css */
input, textarea, select { border: 1px solid blue; margin: 0 0 20px 0; max-width: 100%; resize: none; }

input[type="submit"] { width: auto; }

input[type="button"], input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea, input[type="submit"] { -webkit-appearance: none; outline: none; }

input:focus, textarea:focus { border-color: blue; outline: none; }

input[type="button"]:focus { outline: none; }

select::-ms-expand { display: none; }

input[type=text], input[type=email], input[type="password"], textarea { width: 100%; height: 64px; font-size: 16px; color: blue; padding: 20px; border-style: solid; border-width: 3px; border-color: blue; border-radius: 30px; letter-spacing: 1px; background: transparent; }

textarea { min-height: 125px; resize: none; }

.btn-icon { width: 64px; height: 64px; border-radius: 100%; -webkit-appearance: none; outline: none; color: green; background-color: blue; border: none; font-size: 40px; cursor: pointer; transition: all ease 0.3s; }

.btn-icon:hover { box-shadow: inset #fff 0px 0px 0px 4px; }

.wpcf7-not-valid-tip { color: red; }

/* button css */
.btn { display: inline-block; padding: 0px; color: #f8ab11; /*padding: 16px 20px 16px;*/ padding: 11px 20px 11px; font-size: 14px; line-height: 16px; font-weight: 400; border-radius: 0; -webkit-border-radius: 0; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; }

.btn i { margin-left: 15px; margin-right: 0px; font-size: 17px; line-height: 12px; }

.btn-round { border-radius: 50px; -webkit-border-radius: 50px; }

.btn-sm i { margin-left: 10px; font-size: 12px; }

.btn-solid, a.btn-solid { background: #ff0000; color: #ffffff; }

.btn-solid:hover, a.btn-solid:hover { background: #222931; color: #fff; }

.btn-solid.btn-sm { padding: 6px 15px 5px !important; font-size: 10px; }

.btn-line.btn-sm { padding: 4px 13px 3px !important; font-size: 10px; }

.btn-solid.btn-blue, a.btn-solid.btn-blue { background: blue; color: #ffffff; }

.btn-solid.btn-green, a.btn-solid.btn-green { background: green; color: #ffffff; }

.btn.btn-line, a.btn.btn-line { padding: 10px 18px 10px; border-width: 2px; border-style: solid; border-color: red; color: red; }

.btn.btn-line:hover, a.btn.btn-line:hover { background-color: red; color: #ffffff; }

.btn.btn-line.btn-blue, a.btn.btn-line.btn-blue { border-color: blue; color: blue; }

.btn.btn-line.btn-blue:hover, a.btn.btn-line.btn-blue:hover { background-color: blue; color: #ffffff; }

.btn.btn-line.btn-green, a.btn.btn-line.btn-green { border-color: green; color: green; }

.btn.btn-line.btn-green:hover, a.btn.btn-line.btn-green:hover { background-color: green; color: #ffffff; }

.linktext { color: #34436e; position: relative; font-weight: 600; }

.linktext:hover { color: #34436e; }

/* infograph css */
.letter-spacing-2 { letter-spacing: 2px; }

.heading-xl { font-size: 43px; line-height: 47px; letter-spacing: 1px; padding: 0px; margin: 0px 0px 30px 0px; }

.heading-lg { font-size: 30px; line-height: 36px; letter-spacing: 1px; padding: 0px; margin: 0px 0px 30px 0px; }

.heading-md { font-size: 23px; line-height: 27px; letter-spacing: 1px; padding: 0px; margin: 0px 0px 20px 0px; }

/* slider nav css */
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev { width: 40px; height: 40px; background: green !important; color: #fff; }

.owl-carousel .owl-nav button i { color: #fff; }

.language-drpdwn-with-flag .btn { background: transparent; line-height: 24px; padding: 0px; }
.language-drpdwn-with-flag .btn:focus { box-shadow: none; outline: none; }
.language-drpdwn-with-flag .dropdown-menu { top: 10px !important; }
.language-drpdwn-with-flag .dropdown-menu li { width: 100%; margin: 0px; }
.language-drpdwn-with-flag .dropdown-menu li a { width: 100%; display: inline-block; padding: 5px 10px; }
.language-drpdwn-with-flag .dropdown-menu li a label { margin: 0px; }
.language-drpdwn-with-flag .flag { width: 20px; height: 20px; float: left; margin: 0px 10px 0px 0px; background-repeat: no-repeat; background-position: top left; }
.language-drpdwn-with-flag .flag.en-glyphicon { background-image: url("../images/flag-icon/us-flag-24.png"); }
.language-drpdwn-with-flag .flag.ar-glyphicon { background-image: url("../images/flag-icon/ar-flag-24.png"); }

/* header css */
header { padding: 0px; margin: 0px; position: relative; z-index: 21; }
header .logo { margin: 0px; }
header .topSectn { padding: 10px 0px; background: #000; position: relative; }
header .topSectn ul { /*display:inline-block;*/ margin: 0px 0px; }
header .topSectn ul li { display: inline-block; margin: 0px 0px; /*color:#fff;*/ }
header .topSectn ul li a { text-decoration: none; /*color:#fff;*/ }
header .topSectn ul.social { margin: 0px -2px; }
header .topSectn ul.social li { margin: 0px 1px; }
header .btmSectn { padding: 10px 0px; }
header .btmSectn .row { justify-content: space-between; }

/* primary menu css */
.primary-menu { background: #2ba0db; position: relative; }
.primary-menu > ul { background: #159a6f; }
.primary-menu ul { font-size: 0; margin: 0; padding: 0; }
.primary-menu ul li { display: inline-block; position: relative; }
.primary-menu ul li a { color: #fff; display: block; font-size: 14px; padding: 15px 14px; transition: 0.3s linear; -webkit-transition: 0.3s linear; }
.primary-menu ul li:hover { background: #126d9b; }
.primary-menu ul li.submenu a { padding-right: 20px; position: relative; }
.primary-menu ul li.submenu:hover > a { background: #126d9b; }
.primary-menu ul li.submenu > a:after { background: #fff; }
.primary-menu ul li.submenu > a:before { background: #fff; }
.primary-menu ul li ul { border-bottom: 5px solid #2ba0db; display: none; position: absolute; width: 100%; min-width: 250px; z-index: 99; }
.primary-menu ul li ul li { width: 100%; border-top: 1px solid #444; display: block; }
.primary-menu ul li ul li a { width: 100%; background: #373737; display: inline-block; padding: 15px 14px; }
.primary-menu ul li ul li a:hover { background: #126d9b; }
.primary-menu ul li ul li:first-child { border-top: none; }
.primary-menu ul li ul li.submenu > a:after { background: yellow; }
.primary-menu ul li ul li.submenu > a:before { background: yellow; }
.primary-menu ul li ul li ul { left: 100%; top: 0px; }
.primary-menu .burgermenu-icon { width: 40px; height: 40px; float: right; background: #ff00ff; }

.mobile-navbar { background: #ff0000; display: none; height: 40px; }

.primary-menu ul li.submenu > a:after { content: ''; position: absolute; top: 50%; right: 10px; width: 7px; height: 2px; margin-top: -1px; transform: rotate(45deg); -webkit-transform: rotate(45deg); z-index: 1; }

.primary-menu ul li.submenu > a:before { content: ''; position: absolute; top: 50%; right: 6px; width: 7px; height: 2px; margin-top: -1px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); z-index: 1; }

.primary-menu ul li ul li.submenu > a:after { content: ''; position: absolute; top: 50%; right: 10px; width: 7px; height: 2px; margin-top: -3px; transform: rotate(45deg); -webkit-transform: rotate(45deg); z-index: 1; }

.primary-menu ul li ul li.submenu > a:before { content: ''; position: absolute; top: 50%; right: 10px; width: 7px; height: 2px; margin-top: 1px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); z-index: 1; }

@media (max-width: 991px) { .primary-menu .mobilemenu_ul { left: -100%; opacity: 0; }
  .mobile-view .mobile-navbar { display: block; }
  .mobile-view .mobilemenu_ul { display: none; width: 100%; position: absolute; }
  .mobile-view .mobilemenu_ul.flyout_left { position: relative; display: block; visibility: hidden; transition: all ease 0.4s; -webkit-transition: all ease 0.4s; left: -100%; opacity: 0; }
  .mobile-view .mobilemenu_ul.flyout_left.ul_opened { left: 0%; opacity: 1; visibility: visible; }
  .mobile-view .sub-dropdown { width: 40px; height: 47px; position: absolute; top: 0; right: 0px; z-index: 21; }
  .mobile-view .sub-dropdown:after, .mobile-view .sub-dropdown:before { content: ''; width: 10px; height: 4px; background: #fff; position: absolute; border-radius: 4px; -webkit-border-radius: 4px; top: 50%; left: 45%; margin-top: -2px; transition: all ease 0.4s; -webkit-transition: all ease 0.4s; }
  .mobile-view .sub-dropdown:after { margin-left: -5px; transform: rotate(45deg); }
  .mobile-view .sub-dropdown:before { margin-right: 5px; transform: rotate(-45deg); }
  .mobile-view .sub-dropdown.expanded:after { margin-right: -5px; transform: rotate(-45deg); }
  .mobile-view .sub-dropdown.expanded:before { margin-right: 5px; transform: rotate(45deg); }
  .mobile-view ul { margin: 0px; }
  .mobile-view ul li { width: 100%; display: inline-block; }
  .mobile-view ul li a { width: 100%; display: inline-block; padding: 15px 14px; border-bottom: #126d9b solid 1px; }
  .mobile-view ul li ul { width: 100%; position: relative; left: 0; border: none; }
  .mobile-view ul li ul li ul { left: 0; }
  .mobile-view ul li.show-sub > ul { display: inline-block; }
  .mobile-view ul li.submenu > a:after { display: none; }
  .mobile-view ul li.submenu > a:before { display: none; }
  .mobile-view ul li.submenu a:after { display: none; }
  .mobile-view ul li.submenu a:before { display: none; } }
/* home banner css */
.home-banner-area { width: 100%; padding: 0px; position: relative; }

.singleAnimatedBanner .banner-img-holder { padding: 0px; max-height: 500px; overflow: hidden; }
.singleAnimatedBanner .banner-img-holder img { width: 100%; }
.singleAnimatedBanner .banner-overlay { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 1; background: #fff; opacity: 0.4; }
.singleAnimatedBanner .banner-contnt-holder { width: 100%; position: absolute; top: 50%; transform: translate(0px, -50%); -webkit-transform: translate(0px, -50%); z-index: 2; color: #fff; }
.singleAnimatedBanner .banner-contnt-holder .bnnr-cnt-wrap { background: rgba(0, 0, 0, 0.5); padding: 10px; }
.singleAnimatedBanner .owl-nav { margin: 0px; }
.singleAnimatedBanner .owl-nav .owl-prev, .singleAnimatedBanner .owl-nav .owl-next { position: absolute; top: 50%; transform: translate(0px, -50%); -webkit-transform: translate(0px, -50%); z-index: 2; }
.singleAnimatedBanner .owl-nav .owl-prev { left: 20px; }
.singleAnimatedBanner .owl-nav .owl-next { right: 20px; }
