* { padding: 0px; margin: 0px; outline: none; }

/* placeholder and Selection css */
::selection { color: #fff; background: #2c2c2c; }

::-moz-selection { color: #fff; background: #2c2c2c; }

::-webkit-input-placeholder { color: #2c2c2c; text-overflow: ellipsis; font-size: 16px; }

::-moz-placeholder { color: #2c2c2c; text-overflow: ellipsis; opacity: 0.5; font-size: 16px; }

:-ms-input-placeholder { color: #2c2c2c; text-overflow: ellipsis; opacity: 0.5; font-size: 16px; }

/* body css property */
body, html { height: 100%; -moz-osx-font-smoothing: grayscale; }

body { font-family: "Poppins", sans-serif; height: 100%; line-height: 20px; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 { margin-top: 0px; }

p { margin: 0 0 25px; font-size: 18px; line-height: 28px; }

b, strong { font-weight: 600; }

ul, ol, dl { list-style-position: outside; margin-bottom: 15px; padding: 0px; list-style: none; }

/* video and audio */
img { max-width: 100%; height: auto; }

video { background-size: cover; display: table-cell; vertical-align: middle; width: 100%; }

iframe { border: 0; }

a, a:hover, a:focus { text-decoration: none; }

a:hover, a:active { text-decoration: none; }

a:focus, a:active, button:focus, button:active, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus { outline: none; }

/* grid css */
.flex { display: -ms-flexbox; display: flex; align-items: center; }

.flexwrap { flex-wrap: wrap; -ms-flex-wrap: wrap; }

.item-vcenter { align-items: center; }

/* page common structure css */
.content-sctn { padding: 95px 0px; position: relative; }

.width-auto { width: auto; max-width: auto; }

.hidden { overflow: hidden; }

.hidden-x { overflow-x: hidden; }

.hidden-y { overflow-y: hidden; }

#preloader { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: #2e2e2e; z-index: 999; }

.landing_page { width: 100%; height: 100vh; background: #000; }

.landing_mdl_box { width: 560px; height: 560px; margin: auto; position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; }

.land_box { width: 50%; height: 280px; position: absolute; background: #333435; }

.land_box:after { content: ''; position: absolute; width: 0px; height: 0px; border-style: solid; }

.land_box_1 { bottom: 0px; left: 0px; }
.land_box_1:after { border-right: 280px solid transparent; border-left: 0px solid transparent; border-bottom: 280px solid #333435; border-top: 0px solid transparent; top: -280px; left: 0px; }

.land_box_2 { top: 0px; right: 0px; }
.land_box_2:after { border-right: 0px solid transparent; border-left: 280px solid transparent; border-top: 280px solid #333435; border-bottom: 0px solid transparent; bottom: -280px; left: 0px; }

.twinkling_star { width: 0px; height: 0px; margin: auto; top: 0px; right: 0px; bottom: 0px; left: 0px; position: absolute; display: block; color: #fff; border-right: 100px solid transparent; border-left: 100px solid transparent; border-bottom-style: solid; border-bottom-width: 70px; transform: rotate(35deg) scale(0.6, 0.6); -webkit-transform: rotate(35deg) scale(0.6, 0.6); transition: all ease 0.3s; -webkit-transition: all ease 0.3s; }
.twinkling_star:before { border-bottom-style: solid; border-bottom-width: 80px; border-left: 30px solid transparent; border-right: 30px solid transparent; position: absolute; height: 0; width: 0; top: -45px; left: -65px; display: block; content: ''; transform: rotate(-35deg); }
.twinkling_star:after { position: absolute; display: block; color: #fff; top: 3px; left: -105px; width: 0px; height: 0px; border-right: 100px solid transparent; border-left: 100px solid transparent; border-bottom-style: solid; border-bottom-width: 70px; transform: rotate(-70deg); content: ''; }
.twinkling_star:hover { transform: rotate(35deg) scale(0.65, 0.65); -webkit-transform: rotate(35deg) scale(0.65, 0.65); }

.twinkling_star, .twinkling_star:before, .twinkling_star:after { -webkit-animation-name: color-animation; /* Safari 4.0 - 8.0 */ -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */ animation-name: color-animation; animation-duration: 1s; animation-iteration-count: infinite; -webkit-animation-iteration-count: infinite; }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes color-animation { from { border-bottom-color: #fff; }
  to { border-bottom-color: #a7a7a7; } }
/* Standard syntax */
@keyframes color-animation { from { border-bottom-color: #fff; }
  to { border-bottom-color: #a7a7a7; } }
/* responsive css start */
@media screen and (max-width: 768px) { .landing_mdl_box { width: 300px; height: 300px; }
  .land_box { width: 50%; height: 150px; position: absolute; background: #333435; }
  .land_box_1 { bottom: 0px; left: 0px; }
  .land_box_1:after { border-right: 150px solid transparent; border-bottom: 150px solid #333435; top: -150px; }
  .land_box_2 { top: 0px; right: 0px; }
  .land_box_2:after { border-left: 150px solid transparent; border-top: 150px solid #333435; bottom: -150px; }
  .twinkling_star { transform: rotate(35deg) scale(0.3, 0.3); -webkit-transform: rotate(35deg) scale(0.3, 0.3); left: -15%; }
  .twinkling_star:hover { transform: rotate(35deg) scale(0.35, 0.35); -webkit-transform: rotate(35deg) scale(0.35, 0.35); } }
/* inner page css start */
.innerpage_area { width: 100%; height: 100vh; padding: 30px 0px; }
