
/* window size greater than 1400px */
@media screen and (min-width:1400px) {
    .container {
        max-width: 1280px;
    }
    .container.small-container {
        max-width: 1080px;
    }
}

/* window size greater than 1024px */
@media screen and (min-width:1024px) {
    
    
}

@media screen and (min-width:992px) {

    .primary-menu.closed > ul > li{
        opacity:0;
        transition: all ease 0.3s;
    }
    
    .primary-menu > ul > li{
        opacity:1;
    }

    /* footer css start */
    .footTopSecn{
        margin-bottom: 40px;
    }
    /* footer css ended */
}



/* responsive css start */
@media screen and (max-width:1399px) {

    /* header css start */
    .menuToggleSwitch {
        margin-left: 3%;
        margin-right: 5%;
    }
    /* header css ended */

}

@media screen and (max-width:1366px) {

    /* home banner css start */
    .banner-item .bnnr-cnt-wrap {
        padding-left: 0%;
    }
    .banner-item .bnnr-headng {
        font-size: 24px;
        line-height: 30px;
    }
    /* home banner css ended */
    


}

@media screen and (max-width:1199px) {
    
    /* primary menu css start */
    .primary-menu ul li a {
        font-size: 14px;
    }
    .primary-menu > ul > li {
        margin: 0px 8px;
    }
    /* primary menu css ended */

    /* menu toggle css start */
    .menuToggleSwitch {
        margin-left: 5%;
        margin-right: 0%;
        top: 3px;
    }
    /* menu toggle css ended */

    
}


@media screen and (max-width:991px) {

    /* common css start */
    .heading-xl {
        font-size: 35px;
        line-height: 36px;
    }    
    .heading-lg {
        font-size: 24px;
        line-height: 30px;
    }
    .heading-md {
        font-size: 18px;
        line-height: 22px;
    }
    p {
        font-size: 18px;
    }
    .content-sctn {
        padding: 35px 0px;
        position: relative;
    }
    /* common css ended */

    /* header css start */
    header{
        padding:0px;
    }
    header .topSectn{
        padding:5px 0px;
        background:#80C7BC;
        margin:0px 0px 20px 0px;
    }
    header .topSectn .btn-solid.btn-sm {
        padding: 2px 10px 0px !important;
        font-size: 9px;
    }
    header .topSectn .btn-solid.btn-sm i{
        position: relative;
        top:1px;
    }
    header .topSectn ul {
        margin: 0px -2px;
        font-size: 12px;
    }
    header .topSectn ul li{
        margin: 0px 2px;
    }
    /* header css ended */

    /* primary menu css start */
    .primary-menu.small-screen{
        padding:0px;
        margin-top:-20px;
    }
    .primary-menu.small-screen ul {
        min-width: 292px;
        top: 60px;
    }
    /* primary menu css ended */

    /* menu toggle css start */
    .menuToggleSwitch {
        display:none;
    }
    /* menu toggle css ended */


    /* home banner css start */
    .homeBnnrScn {
        margin: 0px 0px 35px 0px;
    }
    .banner-item .bnnr-headng {
        font-size: 20px;
        line-height: 25px;
    }
    .banner-item p {
        font-size: 18px;
        line-height: 24px;
    }
    /* home banner css ended */

    /* square box css start */
    .squr-link-box {
        min-height: 200px;
    }
    /* square box css ended */

    /* footer css start */
    .footExpandBtn{
        display:block;
    }
    footer {
        padding: 20px 0px 20px 0px;
    }
    .footTopSecn,
    .footBtmSecn{
        text-align:center;
    }
    footer .footTopSecn{
        overflow: hidden;
        height: 96px;
    }
    footer .footTopSecn.expand{
        height:auto;
    }
    .footLogo{
        margin:0px 0px 30px 0px;
        display:inline-block;
    }
    /* footer css ended */

    /* item box css start */
    .iconic-box {
        margin: 0px 0px 20px 0px;
    }
    /* item box css ended */

}


@media screen and (max-width:768px) {

    

}


@media screen and (max-width:767px) {

    /* common css start */
    .heading-xl {
        font-size: 28px;
        line-height: 28px;
    }
    .heading-lg {
        font-size: 20px;
        line-height: 26px;
    }
    .heading-md {
        font-size: 16px;
        line-height: 20px;
    }
    .btn.btn-line, a.btn.btn-line {
        padding: 7px 11px 7px;
        font-size: 12px;
    }
    .btn i{
        position: relative;
        top:2px;
    }
    p {
        font-size: 14px;
        line-height: 18px;
    }
    /* common css ended */

    /* header css start */
    header {
        padding: 0px 0px 8px 0px;
    }
    /* header css ended */

    /* home banner css start */
    .banner-item .bnnr-headng {
        font-size: 15px;
        line-height: 19px;
        margin: 10px 0px;
    }
    .banner-item .bnnr-cnt-wrap {
        padding-left: 0%;
        padding-right: 0%;
    }
    .banner-item p {
        font-size: 14px;
        line-height: 18px;
        margin: 10px 0px;
    }
    .banner-item a.btn {
        margin: 5px 0px 0px 0px;
    }
    .bannerRightCol{
        order:1;
        text-align: center;
    }
    .bannerLeftCol{
        order:2;
        text-align:center;
    }
    .bannerRightCol svg{
        max-width:70%;
        width:100%;
        display:inline-block;
        margin-bottom:10px;
    }
    .homeBnnrScn.homeBnnrScn-2{
        margin: 35px 0px 35px 0px;
    }
    /* home banner css ended */

    /* home team css start */
    .team-box p {
        font-size: 16px;
        line-height: 16px;
    }
    /* home team css ended */

    /* home 3 icon box css start */
    .iconic-box {
        margin: 0px 0px 40px 0px;
        text-align:center;
        min-height: 20px;
    }
    /* home 3 color box css ended */

    /* home-cntr-para-secn css start */
    .home-cntr-para-secn .btn{
        margin-bottom:15px;
    }
    /* home-cntr-para-secn css ended */

    /* footer css start */
    .foot-rgt-logo {
        margin-bottom: 20px;
    }
    /* footer css ended */


}

