
/* window size greater than 1400px */
@media screen and (min-width:1400px) {
    .container {
        max-width: 1280px;
    }
}

/* window size greater than 1024px */
@media screen and (min-width:1024px) {
    
    
}

@media screen and (min-width:992px) {


}



/* responsive css start */
@media screen and (max-width:1399px) {


}

@media screen and (max-width:1366px) {

    
}

@media screen and (max-width:1199px) {

    
}


@media screen and (max-width:991px) {


}


@media screen and (max-width:768px) {

    
}


@media screen and (max-width:767px) {


}

