/* header css start */
header{
    padding:35px 0px 35px 0px;
    margin:0px;
    .topSectn{
        padding:0px;
        position: relative;
        ul{
            display:inline-block;
            margin:0px -16px;
            li{
                display:inline-block;
                margin:0px 16px;
                a{
                    text-decoration:none;
                }
            }
            &.social{
                margin:0px -2px;
                li{
                    margin:0px 1px;  
                }
            }
        }
    }
    .btmSectn{
        padding:3px 0px;
    }
}
.menuToggleSwitch{
    width:32px;
    height:26px;
    position: relative;
    margin-left: 4%;
    margin-right: 7%;
    top:7px;
    cursor: pointer;
    span{
        position: absolute;
        width:100%;
        height:3px;
        background:$red;
        border-radius:5px;
        transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
    }
    span:first-child{
        width:16px;
        top:0; right:0;
    }
    span:nth-child(2){
        margin:auto;
        top:0; right:0; bottom:0; left:0;
    }
    span:last-child{
        width:16px;
        bottom:0; left:0;
    }
    &.closed{
        span:first-child,
        span:last-child{
            width:100%;
        }
        /*span:nth-child(2){
            transform:rotate(45deg);
        }
        span:first-child{
            width:32px;
            transform:rotate(-45deg);
            top: 13px;
            right:0px;
        }
        span:last-child{
            transform:rotate(-45deg);
            bottom: 7px;
            left: 3px;
        }*/
    }
}
/* header css ended */

/* home banner css start */
.homeBnnrScn{
    padding:15px 0px 0px 0px;
    position:relative;
    margin:0px 0px 100px 0px;
}
/* home banner css ended */

/* singleAnimatedBanner css start */
.banner-item{
    width:100%;
    padding:0px;
    overflow: hidden;
    .row{
        align-items:center;
    }
    .bnnr-cnt-wrap{
        padding-left:17%;
        padding-right:10%;
        > *{
            animation-duration:2s;
            animation-delay: 100ms;
        }
    }
    .bnnr-image-frame{
        animation-duration:2s;
    }
    .bnnr-headng{
        font-size:32px;
        line-height:38px;
        color:$blue;
        font-family:$bold-font;
        letter-spacing: 1px;
        margin:15px 0px;
        animation-delay: 200ms;
    } 
    p{
        padding:0px;
        margin:15px 0px;
        font-size:23px;
        line-height:28px;
        letter-spacing: 1px;
        animation-delay: 850ms;
    }
    a.btn{
        margin:36px 0px 0px 0px;
        animation-delay: 2s;
    }  
}
/* singleAnimatedBanner css ended */


/* iconic box css start */
.iconic-box{ 
    padding:0px 10% 0px 0px;
    margin:0px 0px 40px 0px;
    min-height:250px;
    .icon{
        padding:0px;
        overflow: hidden;
        img{
            width:72px;
            margin-bottom:25px;
        }
    }
    p{
        margin:0px 0px 5px 0px;
    }
}
/* iconic box css ended */ 



/* home banner 2 css start */
.homeBnnrScn-2{
    padding:0px 0px 0px 0px;
    margin:70px 0px 0px 0px;
    .bnnr-cnt-wrap{
        padding-right:0;
    }
}
/* home banner 2 css ended */

/* home-cntr-para-secn css start */
.home-cntr-para-secn{
    .btn{
        margin:0px 15px;
    }
}
/* home-cntr-para-secn css ended */


/* home-three-colrbox-secn css start */
.squr-link-box{
    padding:10px 40px;
    margin:0px 0px 30px 0px;
    min-height:315px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    p{
        color:#fff;
        margin:0px 0px 10px 0px;
    }
    > *:last-child{
        margin:0px;
    }
&:hover{
    transform:scale(1.05,1.05);
}
}
/* home-three-colrbox-secn css ended */


/* team box css start */
.team-box{
    text-align:center;
    .team-image{
        width:210px;
        height:210px;
        border-radius:100%;
        -webkit-border-radius:100%;
        overflow: hidden;
        margin:0px 0px 30px 0px;
        display:inline-block;
        img{
            width:100%;
            height:100%;
            object-fit: cover;
        }
    }
    .team-cont{
        padding:0px;
        width:100%;
        display:inline-block;
    }
    .heading-md{
        margin:0px 0px 0px 0px;
    }
    p{
        font-size:20px;
        line-height:20px;
        margin:0px 0px 0px 0px;
    }
}
/* team box css ended */

/* newsletter section css start */
.newsletter-secn{
    padding:80px 0px;
    background:$green;
    .form-group{
        margin:0px;
    }
    .btn-icon{
        position: absolute;
        right:13px;
        top:0px;
    }
}
/* newsletter section css ended */


/* footer css start */
footer{
    padding:90px 0px 20px 0px;
    position: relative;
    background:$blue;
    .social{
        li{
            width:auto;
            display:inline-block;
            color:$green;
            margin-right:5px;
            a{
                color:$green;
                i{
                    color:$green;
                }
            }
        }
    }
}
.footLinkBox{
    width:100%;
    display:inline-block;
    margin:0px 0px 20px 0px;
    font-family: $light-font;
    text-align:left;
    h2{
        widows: 100%;
        display:inline-block;
        font-size:16px;
        line-height:21px;
        color:$green;
        a{
            color:$green;
        }
    }
    ul{
        width:100%;
        display:inline-block;
        padding:0px;
        margin:0px;
        li{
            width: 100%;
            display:inline-block;
            font-family: $light-font;
            margin: 0px 0px 3px 0px;
            font-size:15px;
            color:$white;
            a{
                color:$white;
                transition: all ease 0.3s;
            &:hover{
                color:$green;
                padding-left:5px;
            }
            }
        }
    }
    &.bold{
        font-family:$normal-font;
        li{
            margin:0px;
        }
    }
}

.foot-rgt-logo{
    margin-bottom:100px;
}
.cpywrt-text{
    font-size:12px;
    color:#fff;
    line-height:15px;
}
.footExpandBtn{
    width:70px;
    height:50px;
    background:$blue;
    color:$white;
    font-size:30px;
    position:absolute;
    top:-20px;
    right:0;
    left:0;
    margin:auto;
    border-radius:100%;
    text-align:center;
    display:none;
    i{
        display:inline-block;
        transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
    }
    &.expand{
        i{
            margin-top: 8px;
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            
        }
    }
}
/* footer css ended */