$light-font: 'amblelight';
$normal-font: 'ambleregular';
$bolditalic-font: 'amblebold_italic';
$bold-font: 'amblebold';

$default:#7A7A7A;
$white:#fff;
$black:#2D2A26;
$green:#80C7BC;
$blue:#2F5D9E;
$red:#F9485C;


$form-text-color:#2D2A26;
$menu-color:#80C7BC;

$body-FS:15px;
$body-LH:20px;