
/* button css */
.btn { display: inline-block; padding: 0px; color: #f8ab11; /*padding: 16px 20px 16px;*/ padding: 11px 20px 11px; font-size: 14px; line-height: 16px; font-weight: 400; border-radius: 0; -webkit-border-radius: 0; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; }

.btn i { margin-left: 15px; margin-right: 0px; font-size: 17px; line-height: 12px; }

.btn-round { border-radius: 50px; -webkit-border-radius: 50px; }

.btn-sm i{ margin-left:10px; font-size:12px; }

.btn-solid, a.btn-solid { background:#ff0000; color: #ffffff; }

.btn-solid:hover, a.btn-solid:hover { background: #222931; color: #fff; }

.btn-solid.btn-sm{ padding: 6px 15px 5px !important; font-size:10px; }

.btn-line.btn-sm { padding: 4px 13px 3px !important; font-size:10px; }

.btn-solid.btn-blue, a.btn-solid.btn-blue{ background:blue; color:#ffffff; }

.btn-solid.btn-green, a.btn-solid.btn-green{ background:green; color:#ffffff; }

.btn.btn-line, a.btn.btn-line{ padding: 10px 18px 10px; border-width:2px; border-style:solid; border-color:red; color:red; }

.btn.btn-line:hover, a.btn.btn-line:hover{ background-color:red; color:#ffffff; }

.btn.btn-line.btn-blue, a.btn.btn-line.btn-blue{ border-color:blue; color:blue; }

.btn.btn-line.btn-blue:hover, a.btn.btn-line.btn-blue:hover{ background-color:blue; color:#ffffff; }

.btn.btn-line.btn-green, a.btn.btn-line.btn-green{ border-color:green; color:green; }

.btn.btn-line.btn-green:hover, a.btn.btn-line.btn-green:hover{ background-color:green; color:#ffffff; }

.linktext { color: #34436e; position: relative; font-weight: 600; }

.linktext:hover { color: #34436e; }