* {
    padding: 0px; margin: 0px; outline: none;
}

/* placeholder and Selection css */
::selection {
    /*color:$white; background:blue;*/
}
::-moz-selection {
    /*color:$white; background:blue;*/
}
::-webkit-input-placeholder {
    color:blue; text-overflow: ellipsis; font-size:16px;
}
::-moz-placeholder {
    color:blue; text-overflow: ellipsis; opacity: 0.5; font-size:16px;
}
:-ms-input-placeholder {
    color:blue; text-overflow: ellipsis; opacity: 0.5; font-size:16px;
}

/* body css property */
body, html {
    height: 100%; -moz-osx-font-smoothing: grayscale;
}
body {
    font-family:$bdy-font; line-height: $body-LH; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
}
h1,h2,h3,h4,h5,h6 {
    margin-top: 0px;
}
p {
    margin: 0 0 25px; font-size:23px; line-height:28px;
}
b,strong {
    font-weight: 600;
}
ul,ol,dl {
    list-style-position: outside; margin-bottom: 15px; padding:0px; list-style:none;
}

/* video and audio */
img {
    max-width: 100%; height: auto;
}
video {
    background-size: cover; display: table-cell; vertical-align: middle; width: 100%;
}
iframe {
    border: 0;
}
a,a:hover,a:focus {
    text-decoration: none;
}
a:hover,a:active {
    text-decoration: none;
}
a:focus,a:active,button:focus,button:active,.btn.active.focus,.btn.active:focus,.btn.focus,.btn:active.focus,
.btn:active:focus,.btn:focus {
    outline: none;
}

/* grid css */
.flex{ display: -ms-flexbox; display: flex; align-items:center; }

.flexwrap{ flex-wrap:wrap; -ms-flex-wrap: wrap; }

.item-vcenter{ align-items:center; }


/* page common structure css */
.content-sctn{ padding:95px 0px; position: relative; }

.width-auto{ width:auto; max-width:auto; }

.hidden{ overflow:hidden; }

.hidden-x{ overflow-x:hidden; }

.hidden-y{ overflow-y:hidden; }



