
/* form element css */
input,textarea,select {
    border: 1px solid blue; margin: 0 0 20px 0; max-width: 100%; resize: none;
}
input[type="submit"] {
    width: auto;
}
input[type="button"],
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea,
input[type="submit"] {
    -webkit-appearance: none; outline: none;
}
input:focus,
textarea:focus {
    border-color:blue; outline: none;
}
input[type="button"]:focus {
    outline: none;
}
select::-ms-expand {
    display: none;
}

input[type=text],
input[type=email],
input[type="password"],
textarea {
    width: 100%; height: 64px; font-size:16px; color:blue; padding: 20px; border-style: solid; border-width:3px; border-color: blue; border-radius:30px; letter-spacing:1px; background:transparent;
}
textarea{
    min-height:125px;
    resize:none;
}
.btn-icon{
    width:64px; height:64px; border-radius:100%; -webkit-appearance: none; outline: none; color:green; background-color:blue; border: none; font-size:40px; cursor: pointer; transition: all ease 0.3s;
}
.btn-icon:hover{
    box-shadow:inset #fff 0px 0px 0px 4px;
}
.wpcf7-not-valid-tip{
    color:red;
}