/* home banner css */
.home-banner-area{
    width:100%; padding:0px; position: relative;
}

.singleAnimatedBanner{
    .banner-img-holder{
        padding:0px; max-height:500px; overflow: hidden;
        img{
            width:100%;
        }
    }
    .banner-overlay{
        width:100%; height:100%; position: absolute; top:0px; left:0px; z-index:1; background:#fff; opacity:0.4;
    }
    .banner-contnt-holder{
        width:100%; position: absolute; top:50%; transform: translate(0px, -50%); -webkit-transform: translate(0px, -50%); z-index:2; color:#fff;
        .bnnr-cnt-wrap{
            background:rgba(0,0,0,0.5); padding:10px;
        }
    }
    .owl-nav{
        margin:0px;
        .owl-prev, .owl-next{
            position: absolute; top:50%; transform: translate(0px, -50%); -webkit-transform: translate(0px, -50%); z-index:2;
        }
        .owl-prev{
            left:20px;
        }
        .owl-next{
            right:20px;
        }
    }
    .owl-dots{
        width:100%; text-align:center; position: absolute; bottom:10px;
    }
}