.landing_page{
  width:100%;
  height:100vh;
  background:#000;
}

.landing_mdl_box{
    width:$land_box_width+$land_box_width;
    height:$land_box_width+$land_box_width;
    margin:auto;
    position: fixed;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}
.land_box{
    width:50%;
    height:$land_box_width;
    position: absolute;
    background:$box_color;
}
.land_box:after{
    content:'';
    position: absolute;
    width:0px;
    height:0px;
    border-style:solid;
}

.land_box_1{
    bottom:0px;
    left:0px;
    &:after{
        border-right: $land_box_width solid transparent;
        border-left: 0px solid transparent;
        border-bottom: $land_box_width solid $box_color;
        border-top: 0px solid transparent;
        top:-$land_box_width;
        left:0px;
    }
}

.land_box_2{
    top:0px;
    right:0px;
    &:after{
        border-right: 0px solid transparent;
        border-left: $land_box_width solid transparent;
        border-top: $land_box_width solid $box_color;
        border-bottom: 0px solid transparent;
        bottom:-$land_box_width;
        left:0px;
    }
}


.twinkling_star {
  width: 0px;
  height: 0px;
  margin:auto;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  position: absolute;
  display: block;
  color: $start_color_1;
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
  border-bottom-style: solid;
  border-bottom-width: 70px;
  transform: rotate(35deg) scale(0.6, 0.6);
  -webkit-transform: rotate(35deg) scale(0.6, 0.6);
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  @extend %color-animation;

  &:before {
    border-bottom-style: solid;
    border-bottom-width: 80px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
    @extend %color-animation;
  }

  &:after {
    position: absolute;
    display: block;
    color: $start_color_1;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    border-bottom-style: solid;
    border-bottom-width: 70px;
    transform: rotate(-70deg);
    content: '';
    @extend %color-animation;
    
  }
  &:hover{
    transform: rotate(35deg) scale(0.65, 0.65);
    -webkit-transform: rotate(35deg) scale(0.65, 0.65);
  }
}

%color-animation{
  -webkit-animation-name: color-animation; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name:color-animation;
  animation-duration: 1s;
  animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
}



/* Safari 4.0 - 8.0 */
@-webkit-keyframes color-animation {
  from {border-bottom-color: $start_color_1;}
  to {border-bottom-color: $start_color_2;}
}

/* Standard syntax */
@keyframes color-animation {
  from {border-bottom-color: $start_color_1;}
  to {border-bottom-color: $start_color_2;}
}


/* responsive css start */
@media screen and (max-width:768px) {
  .landing_mdl_box{
    width:$land_box_width+$land_box_width - 260px;
    height:$land_box_width+$land_box_width - 260px;
  }
  .land_box{
    width:50%;
    height:$land_box_width - 130px;
    position: absolute;
    background:$box_color;
  }
  .land_box_1{
    bottom:0px;
    left:0px;
    &:after{
        border-right: $land_box_width - 130px solid transparent;
        border-bottom: $land_box_width - 130px solid $box_color;
        top:-$land_box_width + 130px;
    }
  }
  .land_box_2{
    top:0px;
    right:0px;
    &:after{
        border-left: $land_box_width - 130px solid transparent;
        border-top: $land_box_width - 130px solid $box_color;
        bottom:-$land_box_width + 130px;
    }
  }
  .twinkling_star{
    transform: rotate(35deg) scale(0.3, 0.3);
    -webkit-transform: rotate(35deg) scale(0.3, 0.3);
    left: -15%;
    &:hover{
      transform: rotate(35deg) scale(0.35, 0.35);
      -webkit-transform: rotate(35deg) scale(0.35, 0.35);
    }
  }
    
}
