/* primary menu css */
.primary-menu {
    background: #2ba0db;
    position: relative;
    > ul{
        background:#159a6f;
    }
    ul{
        font-size: 0;
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            position: relative;
            a{
                color: #fff;
                display: block;
                font-size: 14px;
                padding: 15px 14px;
                transition: 0.3s linear;
                -webkit-transition: 0.3s linear;
            }
            &:hover{
                background: #126d9b;
            }
            &.submenu{
                a{
                    padding-right:20px;
                    position: relative;
                }
                &:hover{
                    > a{
                        background: #126d9b;
                    }
                }
                > a{
                    &:after{
                        @extend %submenu-arrow-after;
                        background:#fff;
                    }
                    &:before{
                        @extend %submenu-arrow-before;
                        background:#fff;
                    }
                }
            }
            ul{
                border-bottom: 5px solid #2ba0db;
                display: none;
                position: absolute;
                width:100%;
                min-width: 250px;
                z-index:99;
                li{
                    width:100%;
                    border-top: 1px solid #444;
                    display: block;
                    a{
                        width:100%;
                        background: #373737;
                        display: inline-block;
                        padding: 15px 14px;
                        &:hover{
                            background: #126d9b;
                        }
                    }
                    &:first-child{
                        border-top: none;
                    }
                    &.submenu{
                        > a{
                            &:after{
                                @extend %super-submenu-arrow-after;
                                background:yellow;
                            }
                            &:before{
                                @extend %super-submenu-arrow-before;
                                background:yellow;
                            }
                        }
                    }
                    ul{
                        left: 100%;
                        top: 0px;
                    }
                }
            }
        }
    }
    .burgermenu-icon{
        width:40px;
        height:40px;
        float:right;
        background:#ff00ff;
    }
}


.mobile-navbar{
    background:#ff0000;
    display:none;
    height:40px;
}




%submenu-arrow-after{
    content:'';
    position: absolute;
    top:50%;
    right:10px;
    width:7px;
    height:2px;
    margin-top:-1px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index:1;
}

%submenu-arrow-before{
    content:'';
    position: absolute;
    top:50%;
    right:6px;
    width:7px;
    height:2px;
    margin-top:-1px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index:1;
}


%super-submenu-arrow-after{
    content:'';
    position: absolute;
    top:50%;
    right:10px;
    width:7px;
    height:2px;
    margin-top:-3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index:1;
}

%super-submenu-arrow-before{
    content:'';
    position: absolute;
    top:50%;
    right:10px;
    width:7px;
    height:2px;
    margin-top:1px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index:1;
}


@media (max-width:991px){

    .primary-menu{
        .mobilemenu_ul{
            left:-100%;
            opacity:0;
        }
    } 
    .mobile-view{
        .mobile-navbar{
            display:block;
        }
        .mobilemenu_ul{
            display:none;
            width:100%;
            position: absolute;

            &.flyout_left{
                position: relative;
                display:block;
                visibility:hidden;
                transition: all ease 0.4s;
                -webkit-transition: all ease 0.4s;
                left:-100%;
                opacity:0;
                &.ul_opened{
                    left:0%; opacity:1; visibility:visible;
                }
            }

        }
        .sub-dropdown{
            width:40px;
            height:47px;
            position: absolute;
            top:0;
            right:0px;
            z-index:21;
            &:after,
            &:before{
                content:'';
                width:10px;
                height:4px;
                background:#fff;
                position: absolute;
                border-radius:4px;
                -webkit-border-radius:4px;
                top:50%;
                left:45%;
                margin-top:-2px;
                transition:all ease 0.4s;
                -webkit-transition:all ease 0.4s;
            }
            &:after{
                margin-left:-5px;
                transform: rotate(45deg);
            }
            &:before{
                margin-right:5px;
                transform: rotate(-45deg);
            }
            &.expanded{
                &:after{
                    margin-right:-5px;
                    transform: rotate(-45deg);
                }
                &:before{
                    margin-right:5px;
                    transform: rotate(45deg);
                }
            }
        }
        ul{
            margin:0px;
            li{
                width: 100%;
                display:inline-block;
                a{
                    width: 100%;
                    display:inline-block;
                    padding: 15px 14px;
                    border-bottom:#126d9b solid 1px;
                }
                ul{
                    width:100%;
                    position: relative;
                    left:0;
                    border:none;
                    li{
                        ul{
                            left:0;
                        }
                    }
                }
                &.show-sub{
                    ul{

                    }
                    > ul{
                        display:inline-block;
                    }
                }
                &.submenu{
                    > a{
                        &:after{
                            display:none;
                        }
                        &:before{
                            display:none;
                        }
                    }
                    a{
                        &:after{
                            display:none;
                        }
                        &:before{
                            display:none;
                        }
                    }
                }
            }
        }
    }

}



