/* header css start */
header{
    padding:0px;
    margin:0px;
    position: relative;
    z-index: 21;
    .logo{
        margin:0px;
    }
    .topSectn{
        padding:10px 0px;
        background:#000;
        position: relative;
        ul{
            display:inline-block;
            margin:0px -16px;
            li{
                display:inline-block;
                margin:0px 16px;
                color:#fff;
                a{
                    text-decoration:none;
                    color:#fff;
                }
            }
            &.social{
                margin:0px -2px;
                li{
                    margin:0px 1px;  
                }
            }
        }
    }
    .btmSectn{
        padding:10px 0px;
        .row{
            justify-content: space-between;
            >div{
                &.header-middle-area{
                    
                }
            }
        }
    }
}
/* header css ended */

/* home banner css start */
.homeBnnrScn{
    padding:15px 0px 0px 0px;
    position:relative;
    margin:0px 0px 100px 0px;
    background: #706f6f;
}
/* home banner css ended */

/* singleAnimatedBanner css start */
.banner-item{
    width:100%;
    padding:0px;
    overflow: hidden;
    .row{
        align-items:center;
    }
    .bnnr-cnt-wrap{
        padding-left:17%;
        padding-right:10%;
        > *{
            animation-duration:2s;
            animation-delay: 100ms;
        }
    }
    .bnnr-image-frame{
        animation-duration:2s;
    }
    .bnnr-headng{
        font-size:32px;
        line-height:38px;
        color:$blue;
        font-family:$bold-font;
        letter-spacing: 1px;
        margin:15px 0px;
        animation-delay: 200ms;
    } 
    p{
        padding:0px;
        margin:15px 0px;
        font-size:23px;
        line-height:28px;
        letter-spacing: 1px;
        animation-delay: 850ms;
    }
    a.btn{
        margin:36px 0px 0px 0px;
        animation-delay: 2s;
    }  
}
/* singleAnimatedBanner css ended */


/* iconic box css start */
.iconic-box{ 
    padding:0px 10% 0px 0px;
    margin:0px 0px 40px 0px;
    min-height:250px;
    .icon{
        padding:0px;
        overflow: hidden;
        img{
            width:72px;
            margin-bottom:25px;
        }
    }
    p{
        margin:0px 0px 5px 0px;
    }
}
/* iconic box css ended */ 



/* home banner 2 css start */
.homeBnnrScn-2{
    padding:0px 0px 0px 0px;
    margin:70px 0px 0px 0px;
    .bnnr-cnt-wrap{
        padding-right:0;
    }
}
/* home banner 2 css ended */

/* home-cntr-para-secn css start */
.home-cntr-para-secn{
    .btn{
        margin:0px 15px;
    }
}
/* home-cntr-para-secn css ended */


/* home-three-colrbox-secn css start */
.squr-link-box{
    padding:10px 40px;
    margin:0px 0px 30px 0px;
    min-height:315px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    p{
        color:#fff;
        margin:0px 0px 10px 0px;
    }
    > *:last-child{
        margin:0px;
    }
&:hover{
    transform:scale(1.05,1.05);
}
}
/* home-three-colrbox-secn css ended */


/* team box css start */
.team-box{
    text-align:center;
    .team-image{
        width:210px;
        height:210px;
        position: relative;
        border-radius:100%;
        -webkit-border-radius:100%;
        overflow: hidden;
        margin:0px 0px 30px 0px;
        display:inline-block;
        img{
            width:100%;
            height:100%;
            object-fit: cover;
        }
        .team-image-overlay{
            content:'';
            position: absolute;
            width:0%;
            height:0%;
            top:0px;
            right:0px;
            bottom:0px;
            left:0px;
            margin:auto;
            z-index:2;
            opacity:0;
            border-radius:100%;
            -webkit-border-radius:100%;
            background:rgba($blue, 0.6);
            transition: all ease 0.3s;
            -webkit-transition: all ease 0.3s;
            &.green-overlay{
                background:rgba($green, 0.6);
            }
        }
    }
    .team-cont{
        padding:0px;
        width:100%;
        display:inline-block;
    }
    .heading-md{
        margin:0px 0px 0px 0px;
    }
    p{
        font-size:20px;
        line-height:20px;
        margin:0px 0px 0px 0px;
    }
    &:hover{
        .team-image-overlay{
            opacity: 1;
            width:100%;
            height:100%;
            transition: all ease 0.3s;
            -webkit-transition: all ease 0.3s;
        }
    }
}
/* team box css ended */


/* newsletter section css start */
.newsletter-secn{
    padding:80px 0px;
    background:$green;
    .form-group{
        margin:0px;
    }
    .btn-icon{
        position: absolute;
        right:13px;
        top:0px;
    }
}
/* newsletter section css ended */


/* footer css start */
footer{
    padding:90px 0px 20px 0px;
    position: relative;
    background:$blue;
    .social{
        li{
            width:auto;
            display:inline-block;
            color:$green;
            margin-right:5px;
            a{
                color:$green;
                i{
                    color:$green;
                }
            }
        }
    }
}
.footLinkBox{
    width:100%;
    display:inline-block;
    margin:0px 0px 20px 0px;
    font-family: $light-font;
    text-align:left;
    h2{
        widows: 100%;
        display:inline-block;
        font-size:16px;
        line-height:21px;
        color:$green;
        a{
            color:$green;
        }
    }
    ul{
        width:100%;
        display:inline-block;
        padding:0px;
        margin:0px;
        li{
            width: 100%;
            display:inline-block;
            font-family: $light-font;
            margin: 0px 0px 3px 0px;
            font-size:15px;
            color:$white;
            a{
                color:$white;
                transition: all ease 0.3s;
            &:hover{
                color:$green;
                padding-left:5px;
            }
            }
        }
    }
    &.bold{
        font-family:$normal-font;
        li{
            margin:0px;
        }
    }
}

.foot-rgt-logo{
    margin-bottom:100px;
}
.cpywrt-text{
    font-size:12px;
    color:#fff;
    line-height:15px;
}
.footExpandBtn{
    width:70px;
    height:50px;
    background:$blue;
    color:$white;
    font-size:30px;
    position:absolute;
    top:-20px;
    right:0;
    left:0;
    margin:auto;
    border-radius:100%;
    text-align:center;
    display:none;
    i{
        display:inline-block;
        transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
    }
    &.expand{
        i{
            margin-top: 8px;
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            
        }
    }
}
/* footer css ended */

.pictures { font-size: 0px; }

.pictures .item {
  position: relative;
  display: inline-block;
}

.pictures .item img {
  position: relative;
  z-index: 11;
}

.pictures .item .item_description {
  position: absolute;
  z-index: 10;
  left: -15px;
  top: -15px;
  right: -15px;
  bottom: -60px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  background: #151515;
  padding: 15px;
  display: none;
}

.pictures .item .item_description span {
  color: #ffffff;
  font-size: 13px;
  display: block;
  position: absolute;
  bottom: 15px;
  height: 30px;
}

.pictures .item:hover { z-index: 100; }

.pictures .tjGalleryItem .item:hover .item_description { display: block; }