$bdy-font:'Poppins', sans-serif;
$hdng-font:'Archivo Black', sans-serif;

$body-FS:15px;
$body-LH:20px;

$land_box_width:280px;

$text_color:#2c2c2c;
$box_color:#333435;
$start_color_1:#fff;
$start_color_2:#a7a7a7;