* { padding: 0px; margin: 0px; outline: none; }

/* global transition */
* { /*transition-timing-function: ease-in-out; -ms-transition-timing-function: ease-in-out; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-duration: .2s; -ms-transition-duration: .2s; -moz-transition-duration: .2s; -webkit-transition-duration: .2s; -o-transition-duration: .2s;*/ }

*:hover { /*transition-timing-function: ease-in-out; -ms-transition-timing-function: ease-in-out; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-duration: .2s; -ms-transition-duration: .2s; -moz-transition-duration: .2s; -webkit-transition-duration: .2s; -o-transition-duration: .2s;*/ }

/* placeholder and Selection css */
::selection { color: #fff; background: #2F5D9E; }

::-moz-selection { color: #fff; background: #2F5D9E; }

::-webkit-input-placeholder { color: #2F5D9E; text-overflow: ellipsis; font-size: 16px; }

::-moz-placeholder { color: #2F5D9E; text-overflow: ellipsis; opacity: 0.5; font-size: 16px; }

:-ms-input-placeholder { color: #2F5D9E; text-overflow: ellipsis; opacity: 0.5; font-size: 16px; }

/* body css property */
body, html { height: 100%; -moz-osx-font-smoothing: grayscale; }

body { font-family: "ambleregular"; line-height: 20px; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 { margin-top: 0px; }

p { margin: 0 0 25px; font-size: 23px; line-height: 28px; color: #2D2A26; }

b, strong { font-weight: 600; }

ul, ol, dl { list-style-position: outside; margin-bottom: 15px; padding: 0px; list-style: none; }

/* video and audio */
img { max-width: 100%; height: auto; }

video { background-size: cover; display: table-cell; vertical-align: middle; width: 100%; }

iframe { border: 0; }

a, a:hover, a:focus { color: #2F5D9E; text-decoration: none; }

a:hover, a:active { color: #2F5D9E; text-decoration: none; }

a:focus, a:active, button:focus, button:active, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus { outline: none; }

/* form element css start */
input, textarea, select { border: 1px solid #7A7A7A; margin: 0 0 20px 0; max-width: 100%; resize: none; }

input[type="submit"] { width: auto; }

input[type="button"], input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea, input[type="submit"] { -webkit-appearance: none; outline: none; }

input:focus, textarea:focus { border-color: #2F5D9E; outline: none; }

input[type="button"]:focus { outline: none; }

select::-ms-expand { display: none; }

input[type=text], input[type=email], input[type="password"], textarea { width: 100%; height: 64px; font-size: 16px; color: #2F5D9E; padding: 20px; border-style: solid; border-width: 3px; border-color: #2F5D9E; border-radius: 30px; font-family: "amblebold"; letter-spacing: 1px; background: transparent; }

textarea { min-height: 125px; resize: none; }

.btn-icon { width: 64px; height: 64px; border-radius: 100%; -webkit-appearance: none; outline: none; color: #80C7BC; background-color: #2F5D9E; border: none; font-size: 40px; cursor: pointer; transition: all ease 0.3s; }

.btn-icon:hover { box-shadow: inset #fff 0px 0px 0px 4px; }

.wpcf7-not-valid-tip { color: #F9485C; }

/* form element css ended */
/* button css start */
.btn { display: inline-block; font-family: "amblebold"; padding: 0px; color: #f8ab11; /*padding: 16px 20px 16px;*/ padding: 11px 20px 11px; font-size: 14px; line-height: 16px; font-weight: 400; border-radius: 0; -webkit-border-radius: 0; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; }

.btn i { margin-left: 15px; margin-right: 0px; font-size: 17px; line-height: 12px; }

.btn-round { border-radius: 50px; -webkit-border-radius: 50px; }

.btn-sm i { margin-left: 10px; font-size: 12px; }

.btn-solid, a.btn-solid { background: #F9485C; color: #ffffff; }

.btn-solid:hover, a.btn-solid:hover { background: #222931; color: #fff; }

.btn-solid.btn-sm { padding: 6px 15px 5px !important; font-size: 10px; }

.btn-line.btn-sm { padding: 4px 13px 3px !important; font-size: 10px; }

.btn-solid.btn-blue, a.btn-solid.btn-blue { background: #2F5D9E; color: #ffffff; }

.btn-solid.btn-green, a.btn-solid.btn-green { background: #80C7BC; color: #ffffff; }

.btn.btn-line, a.btn.btn-line { padding: 10px 18px 10px; border-width: 2px; border-style: solid; border-color: #F9485C; color: #F9485C; }

.btn.btn-line:hover, a.btn.btn-line:hover { background-color: #F9485C; color: #ffffff; }

.btn.btn-line.btn-blue, a.btn.btn-line.btn-blue { border-color: #2F5D9E; color: #2F5D9E; }

.btn.btn-line.btn-blue:hover, a.btn.btn-line.btn-blue:hover { background-color: #2F5D9E; color: #ffffff; }

.btn.btn-line.btn-green, a.btn.btn-line.btn-green { border-color: #80C7BC; color: #80C7BC; }

.btn.btn-line.btn-green:hover, a.btn.btn-line.btn-green:hover { background-color: #80C7BC; color: #ffffff; }

.linktext { color: #34436e; position: relative; font-weight: 600; }

.linktext:hover { color: #34436e; }

/* button css ended */
/* grid css start */
.col.flex { display: -ms-flexbox; display: flex; align-items: center; }

.col.flexwrap { flex-wrap: wrap; -ms-flex-wrap: wrap; }

.item-vcenter { align-items: center; }

/* grid css ended */
/* page common structure css start */
.content-sctn { padding: 95px 0px; position: relative; }

.hidden { overflow: hidden; }

.hidden-x { overflow-x: hidden; }

.hidden-y { overflow-y: hidden; }

/* page common structure css ended */
/* infograph css start */
.letter-spacing-2 { letter-spacing: 2px; }

.color-white { color: #fff !important; }

.color-red { color: #F9485C !important; }

.color-blue { color: #2F5D9E !important; }

.color-green { color: #80C7BC !important; }

.bg-red { background-color: #F9485C !important; }

.bg-blue { background-color: #2F5D9E !important; }

.bg-green { background-color: #80C7BC !important; }

.heading-xl { font-size: 43px; line-height: 47px; letter-spacing: 1px; font-family: "amblebold"; padding: 0px; margin: 0px 0px 30px 0px; }

.heading-lg { font-size: 30px; line-height: 36px; letter-spacing: 1px; font-family: "amblebold"; padding: 0px; margin: 0px 0px 30px 0px; }

.heading-md { font-size: 23px; line-height: 27px; letter-spacing: 1px; font-family: "amblebold"; padding: 0px; margin: 0px 0px 20px 0px; }

/* infograph css ended */
/* slider nav css start */
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev { width: 40px; height: 40px; background: #80C7BC !important; color: #fff; }

.owl-carousel .owl-nav button i { color: #fff; }

/* slider nav css ended */
/* primary menu css start */
.primary-menu { width: auto; vertical-align: top; z-index: 2; padding: 10px 0px; }
.primary-menu:after, .primary-menu > ul:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.primary-menu .menu-button { display: none; }
.primary-menu .menu-button, .primary-menu ul, .primary-menu ul li, .primary-menu ul li a { margin: 0; padding: 0; border: 0; list-style: none; line-height: 1; display: block; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.primary-menu > ul { margin: 0px -18px; }
.primary-menu > ul > li { float: left; position: relative; margin: 0px 18px; }
.primary-menu > ul > li.has-sub > a { padding-right: 25px; }
.primary-menu > ul > li > a { padding: 0px; color: #80C7BC; text-decoration: none; text-transform: capitalize; }
.primary-menu > ul > li:hover > ul { left: auto; }
.primary-menu > ul > li:after { content: ''; width: 0%; height: 3px; position: absolute; bottom: -10px; left: 0; right: 0; margin: auto; background: #2F5D9E; transition: all ease 0.3s; -webkit-transition: all ease 0.3s; }
.primary-menu > ul > li:hover a { color: #2F5D9E; }
.primary-menu > ul > li:hover:after { width: 100%; }
.primary-menu ul li:hover > ul { left: auto; }
.primary-menu ul li a { /*background:gray;*/ text-transform: uppercase; color: #80C7BC; }
.primary-menu ul ul { position: absolute; left: -9999px; }
.primary-menu ul ul li { position: relative; }
.primary-menu ul ul li a { padding: 11px 15px; width: 100%; text-decoration: none; }
.primary-menu ul ul ul { margin-left: 100%; top: 0; }
.primary-menu ul ul ul ul { margin-left: 100%; top: 0; }

/* mobile menu css */
.primary-menu.small-screen { width: 100%; position: inherit; }
.primary-menu.small-screen ul { width: 100%; display: none; position: absolute; background-color: #80C7BC; right: 0; box-shadow: none; z-index: 2; margin: 0px; }
.primary-menu.small-screen ul li { width: 100%; border-bottom: rgba(0, 0, 0, 0.1) solid 1px; }
.primary-menu.small-screen ul li:hover > ul > li { height: auto; float: none; }
.primary-menu.small-screen ul li a { width: 100%; border-bottom: 0; padding: 15px 17px; color: #fff; font-weight: 600; }
.primary-menu.small-screen ul li a:hover { color: #2F5D9E; }
.primary-menu.small-screen ul ul { position: relative; width: 100%; left: 0; }
.primary-menu.small-screen ul ul li { height: auto; background: #287b95; }
.primary-menu.small-screen ul ul li a { width: 100%; border-bottom: 0; padding-left: 25px; border-bottom: rgba(255, 255, 255, 0.1) solid 1px; }
.primary-menu.small-screen ul ul li .submenu-button { height: 44px; width: 44px; }
.primary-menu.small-screen ul ul ul { position: relative; width: 100%; }
.primary-menu.small-screen ul ul ul li a { padding-left: 35px; }
.primary-menu.small-screen > ul { overflow: hidden; }
.primary-menu.small-screen > ul > li { margin: 0px; }
.primary-menu.small-screen > ul > li:after { bottom: 0px; }
.primary-menu.small-screen .menu-button { display: block; padding: 17px; height: 42px; cursor: pointer; text-transform: uppercase; }
.primary-menu.small-screen .menu-button:after { border-top: 2px solid #F9485C; border-bottom: 2px solid #F9485C; }
.primary-menu.small-screen .menu-button:before { background-color: #F9485C; }
.primary-menu.small-screen .menu-button.menu-opened:after { top: 23px; border: 0; height: 2px; width: 15px; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); background-color: #F9485C; }
.primary-menu.small-screen .menu-button.menu-opened:before { top: 23px; width: 15px; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); background-color: #F9485C; }
.primary-menu.small-screen .submenu-button { position: absolute; z-index: 99; right: 0; top: 0; display: block; height: 46px; width: 46px; cursor: pointer; }
.primary-menu.small-screen .submenu-button:before { position: absolute; top: 19px; right: 22px; display: block; width: 2px; height: 8px; content: ''; display: block; background: #fafafa; }
.primary-menu.small-screen .submenu-button:after { position: absolute; top: 22px; right: 19px; width: 8px; height: 2px; display: block; content: ''; display: block; background: #fafafa; }
.primary-menu.small-screen .submenu-button.submenu-opened:before { display: block; background: #fafafa; }
.primary-menu.small-screen.select-list { padding: 5px; }

.primary-menu > ul > li.has-sub > a:after, .primary-menu > ul > li.has-sub > a:before, .primary-menu ul ul li.has-sub > a:after, .primary-menu ul ul li.has-sub > a:before { display: block; position: absolute; content: ''; background: #F9485C; }

.primary-menu > ul > li.has-sub > a:before, .primary-menu ul ul li.has-sub > a:before { top: 50%; margin-top: -3px; right: 12px; width: 2px; height: 6px; transform: rotate(45deg); -webkit-transform: rotate(45deg); }

.primary-menu > ul > li.has-sub > a:after, .primary-menu ul ul li.has-sub > a:after { top: 50%; margin-top: -1px; right: 13px; width: 6px; height: 2px; transform: rotate(45deg); -webkit-transform: rotate(45deg); }

.primary-menu ul ul ul li.has-sub > a:before { top: 17px; right: 14px; width: 2px; height: 8px; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease; }

.primary-menu ul ul ul li.has-sub > a:after { top: 20px; right: 11px; width: 8px; height: 2px; }

.primary-menu.small-screen .menu-button:after { position: absolute; top: 19px; right: 8px; display: block; height: 8px; width: 20px; content: ''; }

.primary-menu.small-screen .menu-button:before { position: absolute; top: 13px; right: 8px; display: block; height: 2px; width: 20px; content: ''; }

/* primary menu css ended */
/* header css start */
header { padding: 35px 0px 35px 0px; margin: 0px; }
header .topSectn { padding: 0px; position: relative; }
header .topSectn ul { display: inline-block; margin: 0px -16px; }
header .topSectn ul li { display: inline-block; margin: 0px 16px; }
header .topSectn ul li a { text-decoration: none; }
header .topSectn ul.social { margin: 0px -2px; }
header .topSectn ul.social li { margin: 0px 1px; }
header .btmSectn { padding: 3px 0px; }

.menuToggleSwitch { width: 32px; height: 26px; position: relative; margin-left: 4%; margin-right: 7%; top: 7px; cursor: pointer; }
.menuToggleSwitch span { position: absolute; width: 100%; height: 3px; background: #F9485C; border-radius: 5px; transition: all ease 0.3s; -webkit-transition: all ease 0.3s; }
.menuToggleSwitch span:first-child { width: 16px; top: 0; right: 0; }
.menuToggleSwitch span:nth-child(2) { margin: auto; top: 0; right: 0; bottom: 0; left: 0; }
.menuToggleSwitch span:last-child { width: 16px; bottom: 0; left: 0; }
.menuToggleSwitch.closed { /*span:nth-child(2){ transform:rotate(45deg);
}
span:first-child{ width:32px; transform:rotate(-45deg); top: 13px; right:0px;
}
span:last-child{ transform:rotate(-45deg); bottom: 7px; left: 3px;
}*/ }
.menuToggleSwitch.closed span:first-child, .menuToggleSwitch.closed span:last-child { width: 100%; }

/* header css ended */
/* home banner css start */
.homeBnnrScn { padding: 15px 0px 0px 0px; position: relative; margin: 0px 0px 100px 0px; }

/* home banner css ended */
/* singleAnimatedBanner css start */
.banner-item { width: 100%; padding: 0px; overflow: hidden; }
.banner-item .row { align-items: center; }
.banner-item .bnnr-cnt-wrap { padding-left: 17%; padding-right: 10%; }
.banner-item .bnnr-cnt-wrap > * { animation-duration: 2s; animation-delay: 100ms; }
.banner-item .bnnr-image-frame { animation-duration: 2s; }
.banner-item .bnnr-headng { font-size: 32px; line-height: 38px; color: #2F5D9E; font-family: "amblebold"; letter-spacing: 1px; margin: 15px 0px; animation-delay: 200ms; }
.banner-item p { padding: 0px; margin: 15px 0px; font-size: 23px; line-height: 28px; letter-spacing: 1px; animation-delay: 850ms; }
.banner-item a.btn { margin: 36px 0px 0px 0px; animation-delay: 2s; }

/* singleAnimatedBanner css ended */
/* iconic box css start */
.iconic-box { padding: 0px 10% 0px 0px; margin: 0px 0px 40px 0px; min-height: 250px; }
.iconic-box .icon { padding: 0px; overflow: hidden; }
.iconic-box .icon img { width: 72px; margin-bottom: 25px; }
.iconic-box p { margin: 0px 0px 5px 0px; }

/* iconic box css ended */
/* home banner 2 css start */
.homeBnnrScn-2 { padding: 0px 0px 0px 0px; margin: 70px 0px 0px 0px; }
.homeBnnrScn-2 .bnnr-cnt-wrap { padding-right: 0; }

/* home banner 2 css ended */
/* home-cntr-para-secn css start */
.home-cntr-para-secn .btn { margin: 0px 15px; }

/* home-cntr-para-secn css ended */
/* home-three-colrbox-secn css start */
.squr-link-box { padding: 10px 40px; margin: 0px 0px 30px 0px; min-height: 315px; display: flex; flex-direction: column; justify-content: center; transition: all ease 0.3s; -webkit-transition: all ease 0.3s; }
.squr-link-box p { color: #fff; margin: 0px 0px 10px 0px; }
.squr-link-box > *:last-child { margin: 0px; }
.squr-link-box:hover { transform: scale(1.05, 1.05); }

/* home-three-colrbox-secn css ended */
/* team box css start */
.team-box { text-align: center; }
.team-box .team-image { width: 210px; height: 210px; border-radius: 100%; -webkit-border-radius: 100%; overflow: hidden; margin: 0px 0px 30px 0px; display: inline-block; }
.team-box .team-image img { width: 100%; height: 100%; object-fit: cover; }
.team-box .team-cont { padding: 0px; width: 100%; display: inline-block; }
.team-box .heading-md { margin: 0px 0px 0px 0px; }
.team-box p { font-size: 20px; line-height: 20px; margin: 0px 0px 0px 0px; }

/* team box css ended */
/* newsletter section css start */
.newsletter-secn { padding: 80px 0px; background: #80C7BC; }
.newsletter-secn .form-group { margin: 0px; }
.newsletter-secn .btn-icon { position: absolute; right: 13px; top: 0px; }

/* newsletter section css ended */
/* footer css start */
footer { padding: 90px 0px 20px 0px; position: relative; background: #2F5D9E; }
footer .social li { width: auto; display: inline-block; color: #80C7BC; margin-right: 5px; }
footer .social li a { color: #80C7BC; }
footer .social li a i { color: #80C7BC; }

.footLinkBox { width: 100%; display: inline-block; margin: 0px 0px 20px 0px; font-family: "amblelight"; text-align: left; }
.footLinkBox h2 { widows: 100%; display: inline-block; font-size: 16px; line-height: 21px; color: #80C7BC; }
.footLinkBox h2 a { color: #80C7BC; }
.footLinkBox ul { width: 100%; display: inline-block; padding: 0px; margin: 0px; }
.footLinkBox ul li { width: 100%; display: inline-block; font-family: "amblelight"; margin: 0px 0px 3px 0px; font-size: 15px; color: #fff; }
.footLinkBox ul li a { color: #fff; transition: all ease 0.3s; }
.footLinkBox ul li a:hover { color: #80C7BC; padding-left: 5px; }
.footLinkBox.bold { font-family: "ambleregular"; }
.footLinkBox.bold li { margin: 0px; }

.foot-rgt-logo { margin-bottom: 100px; }

.cpywrt-text { font-size: 12px; color: #fff; line-height: 15px; }

.footExpandBtn { width: 70px; height: 50px; background: #2F5D9E; color: #fff; font-size: 30px; position: absolute; top: -20px; right: 0; left: 0; margin: auto; border-radius: 100%; text-align: center; display: none; }
.footExpandBtn i { display: inline-block; transition: all ease 0.3s; -webkit-transition: all ease 0.3s; }
.footExpandBtn.expand i { margin-top: 8px; transform: rotate(180deg); -webkit-transform: rotate(180deg); }

/* footer css ended */
