.community-sec{
    padding: 0 0 56px 0;
}
.community--details_list{
    margin: 0; padding: 0;
}
.community--details_list li{
    padding: 20px;
}
.community--details_list li:nth-child(even){
    background: #ebebeb;
}
.community--details_list li:nth-child(odd){
    background: #f1f1f1;
}
.community--details_list li a, .community--details_list li a i{
    font-size: 20px; font-weight: 400; line-height: 26px; color: #595959;
}
.community--details_list li a{
    font-family: 'Open Sans', sans-serif; display: flex;
}
.community--details_list li a i{
    padding-right: 10px;
}
.community--details_list li:hover a, .community--details_list li:hover a i{
    color:#0a70ff;
}
.community--content_box p{ font-size:18px; line-height: 24px; color:#656565;}
.community--content_box h2{
    font-size:30px; color: #0a70ff; line-height: 40px; font-family: 'Open Sans', sans-serif; text-transform: uppercase;
    margin-bottom: 25px;
}
.community--content_box + .community--content_box{
    margin-top: 80px; margin-bottom: 20px;
}
.community--content_box h3{
    font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: 600; line-height: 26px; color: #292929; text-transform: uppercase;
}
.community-right_pannel #collapse, .lightbox-gallery{
    display: none;
}
.community-right_pannel #collapse{
    width: 100% !important; height: 100% !important; transition: none !important; margin: 80px 0;
}
.community-right_pannel{
    position: relative; height: 100%; border-bottom: 1px solid #c1c1c1;
}
.view-more{
    position: absolute; bottom: 0; left: 0; width: 100%; margin-bottom: 22px;
}
.details-toggle{
    position: relative; display: block; font-size: 18px; font-weight: 400; color: #0a70ff; font-family: 'Open Sans', sans-serif;
}
.details-toggle:after{
     background: url(../images/communities/plus-circul.png) no-repeat center center; 
}
.details-toggle.active:after{
    background: url(../images/communities/minus-circul.png) no-repeat center center;
}
.details-toggle.active:after, .details-toggle:after{
    position: absolute; top: 0; right: 0; content: ""; width: 26px; height: 26px;
}

/* search section start */
.property-search--wrapper{
    background-color: #eee;
    padding:50px 0;
}
.property-search--leftwrapper{
    background-color: #fff;
    border: 1px solid #dddddd;
    padding: 20px 15px 20px 15px; 
    font-family: 'Roboto', sans-serif !important;
}
.property-search--rightwrapper{
}
.property-search--title{
    font-size: 16px;
    text-transform: uppercase;
    color: #0a70ff;
    margin-bottom: 5px;
}
.all-property--button{
    position: relative;
    font-size: 16px;
    color: #0a70ff;
    margin-bottom: 5px;
    outline: none;
    box-shadow: none;
    background: none;
    display: block;
    padding: 10px 10px 10px 20px;
}
.all-property--button:focus{
    outline: none;
    box-shadow: none;
}
.all-property--button:before{
    content: '';
    position: absolute;
    left: 4px;
    top: 15px;
    background: #0a70ff;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #0a70ff, 4px 0 0 #0a70ff, 4px -2px 0 #0a70ff, -2px 0px 0 #0a70ff, -4px 0px 0px #0a70ff, 4px -4px 0 #0a70ff, 4px -6px 0 #0a70ff, 4px -8px 0 #0a70ff;
    /* -webkit-transform: rotate(45deg); */
    transform: rotate(135deg);
}
.all-property--button.active:before {
    
    content: '';
    position: absolute;
    left: 1px;
    top: 19px;
    background: #0a70ff;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #0a70ff, 4px 0 0 #0a70ff, 4px -2px 0 #0a70ff, 4px -4px 0 #0a70ff, 4px -6px 0 #0a70ff, 4px -8px 0 #0a70ff, 4px -10px 0px #0a70ff;
    /* -webkit-transform: rotate(45deg); */
    transform: rotate(45deg);
  }
.property-category--title{
    font-size: 16px;
    color: #999;
    font-weight: bold;
    margin-bottom: 15px;
  }
.property-category-list{
    padding: 0;
    margin: 0 0 45px;
}
.property-category-list li{
    font-size: 16px;
    color: #666;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
} 
.property-category-list li .custom-control-label::before{
    width: 18px;
    height: 18px;
    border: 1px solid #666;
    top: 1px;
    left: -29px;
    border-radius: 0;
    background-color: #fff;
}
.property-category-list li .custom-control-label::after{
    width: 18px;
    height: 18px;
    border: 1px solid #666;
    top: 1px;
    left: -29px;
    border-radius: 0;
}
.property-category-list .custom-control {
    padding-left: 30px;
}
.property-category--number{
    font-size: 14px;
    color: #666;
    padding-top: 2px;
}
.property-category-list .custom-control-input:focus~.custom-control-label::before{outline: none; box-shadow: none;}
.property-search--wrapper .quantity {
    display: inline-block; }
   
   .property-search--wrapper .quantity .input-text.qty {
    padding: 7px 7px 8px;
    height: 37px;
    background-color: #ffffff;
    border: 0;
    cursor: pointer;
    width: 38px;
    color: #767676;
   }
   
   .property-search--wrapper .quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top;
    width: 100%;
}
   
   .property-search--wrapper .quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
   }
   
   .property-search--wrapper .quantity.buttons_added .minus,
   .property-search--wrapper .quantity.buttons_added .plus {
    padding: 7px 15px 8px;
    height: 38px;
    background-color: #ffffff;
    border: 0;
    cursor: pointer;
    width: 39px;
    color: #767676;
    font-size: 18px;
    font-weight: bold;
    border-left:1px solid #cfcfcf; 
}
   
   .property-search--wrapper .quantity.buttons_added .minus {
    border-right: 0;margin-right: -4px; }
   
   .property-search--wrapper .quantity.buttons_added .plus {
    }
   
   .property-search--wrapper .quantity.buttons_added .minus:hover,
   .property-search--wrapper .quantity.buttons_added .plus:hover {
    background: #eeeeee; }
   
   .property-search--wrapper .quantity input::-webkit-outer-spin-button,
   .property-search--wrapper .quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; }
    
    .property-search--wrapper .quantity.buttons_added .minus:focus,
   .property-search--wrapper .quantity.buttons_added .plus:focus {
    outline: none; }

.property-price--block{ padding-bottom: 45px;}
    .custom-select--block select{
        width: 100%;
        height: 44px;
        font-size: 16px;
        color: #999;
        border-style: solid;
        border-width: 1px;
        border-color: #ddd;
        border-radius: 0px;
        letter-spacing: 1px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 8px;
        padding-right: 40px;
        position: relative;
        background:url(../images/icons/dropdown_arrow.png) no-repeat right center ;
        background-position: calc(100% - 15px) calc(1em + 2px), 100% 0;
        margin: 0;
    }
    .custom-select--block .select-styled, .custom-select--block .select-options{
        display: none;
    }
    .property-category--bedrooms{
        border: 1px solid #ddd;
        height: 40px;
        display: flex;
        margin-bottom: 40px;
    }
    .property-icon--bedrooms{
        width: 32px;
        height: 100%;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding-top: 6px;
    }
    .property-text--bedrooms{
    color: #9d9d9d;
    font-size: 16px;
    padding: 0 62px;
    width: 100%;
    text-align: center;
    justify-content: center;
    top: 0;
    position: absolute;
    height: 100%;
    vertical-align: middle;
    line-height: 38px;
    left: 0;
    }
    .property-category--rangeslider{
    }
    .property-category--rangeslider .ui-widget.ui-widget-content{
        background-color: #dddddd;
        border-radius: 30px;
        height: 10px;
        border: 0;
    }
.property-category--rangeslider .ui-slider .ui-slider-handle{
    width: 18px;
    height: 18px;
    border-radius: 30px;
    background-color: #fff;
    border-color: #0a70ff;
}
.property-category--rangeslider .ui-slider .ui-slider-range{
    background-color: #0a70ff;
}
.property-search--wrapper .property-category--rangeslider .property-rangeslider--input input{
    color: #545454 !important;
    font-weight: normal !important;
    display: inline-block;
    text-align: center;
    margin-bottom: 0;
}


.property-rightwrapper--title{
    font-size: 25px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    color: #3a3a3a;
    margin-bottom: 5px;
}
.property-search--propertyblock{
    padding:33px 48px 40px 43px;
    background-color: #fff;
    margin-bottom: 30px;
}
.property-view--title{
    font-size: 22px;
    color: #1b1b1b;
    margin-bottom: 20px;
    padding-right: 40px;
    position: relative;
    font-family: 'Bree Serif', serif;
}
.property-view--listpanel{
    margin-bottom: 8px;
}
.property-price--block div[class*="col-"]:first-child{
    padding-right: 4px;
}
.property-price--block div[class*="col-"]:last-child{
    padding-left: 4px;
}
.property-view--listpanel li {
    font-size: 16px;
}
.property-view--listpanel li h5 {
    color: #666;
    font-size: 16px;
}
.property-view--listpanel li h5 span{
    color: #333;
}
.property-view--listpanel li h5 span.property-sold--out{
    color: #0a70ff;
}
.property-selling--price{
    font-size: 18px;
    margin: 0;
}
.property-faced{
    color: #d3d2d2;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    background: none;
}
.btn.property-faced i {
    margin: 0px;
    color: #d3d2d2;
    transform: none;

}
.property-faced.active i {
    color: #0a70ff;
}
.property-faced.active i:before {
    content: "\f004";
}
.properties-button--section .btn{
    min-width: 180px;
    font-size: 11px;
    font-weight: bold;
    color: #333333;
    padding: 7px 10px;
    border: 1px solid #c1c1c1;
    background-color: #fff;
    margin-bottom: 5px;
}
.properties-button--section .btn:hover{
    background-color: #eee;
}
.property-short--block{
    display: flex;
    align-items: center;
}
.property-short--block .d-flex{
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}
.property-short--block select{
    border: 0;
    background-color: transparent;
    color: #595959;
    width: auto;
}
.property-short--block label{
    margin: 0 5px 0 0;
    font-size: 16px;
}
.property-image--block {
    float: left;
    width: 320px;
    position: relative;
}
.property-image--block figure {
    margin: 0;
}
.property-content--block {
    position: relative;
    float: left;
    width: -webkit-calc(100% - 320px);
    width: -moz-calc(100% - 320px);
    width: calc(100% - 320px);
    padding: 0 0 0 30px;
}
.property-caption--inner {
    line-height: normal;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding:0 15px;
    text-align: right;
}
.property-option--list{
    display: inline-block;
    vertical-align: top;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.property-option--holder{
    position: relative;
}
.property-icon--btn:visited {
    color: #fff;
}
.property-icon--btn{
    display: block;
    height: 27px;
    line-height: 23px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-right: 2px;
    vertical-align: middle;
    background: rgba(0,0,0,.3);
    padding: 0 8px;
    border-radius: 3px;
    position: relative;
    min-width: 33px;
    text-align: center;
    cursor: pointer;
    margin: 0;
}
.property-icon--btn .fa {
    position: static;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 8px;
    top: 0;
    right: auto;
    font-size: 16px;
    line-height: 27px;
}


.property-capture--count {
    margin-left: 24px;
    font-size: 14px;
    line-height: 27px;
    display: inline-block;
    vertical-align: middle;
}
.property-image--block figcaption{
    position: relative;
}
.plus-minus-icon{
    position: absolute;
    right: 0;
    top: 0;
}


/* search sectio end */
@media screen and (max-width: 1199px){
    .properties-button--section{
        align-self: flex-start!important;
        text-align: left !important;
        padding-top: 15px;
    }
    .custom-select--block select{
        padding-right: 28px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    
    .plus-minus-icon{
        width: 100% !important;
        display: flex !important;
        position: relative;
        top: 1px !important;
        border: 1px solid #cfcfcf;
        border-top: 0;
    }
    .plus-minus-icon input{
        width: 50% !important;
        margin: 0 !important;
        border: 0 !important;
    }
    .property-category--bedrooms .quantity.buttons_added{
        width: 100%;
    }
    .plus-minus-icon .plus{
        border-left: 1px solid #cfcfcf !important;
    }
    .property-category--bedrooms{
        margin-bottom: 80px;
    }
}
@media(max-width:991px){
    .community--details_list li a, .community--details_list li a i {
        font-size: 18px;
    }
    .property-search--rightwrapper {
        margin: 30px 0 0 0;
    }
}
@media(max-width:767px){
    .community--content_box + .community--content_box{
       margin-bottom: 30px;
    }
    .community--img_wrapper img, .community--content_img img{
        width:100%;
    }
    .property-image--block {
        width: 100%;
    } 
    .property-image--block img{
        width: 100%;
    }
    .property-content--block{
        width: 100%;
        padding:20px 0 0 0;
    }
    .properties-button--section{
        align-self: flex-start!important;
        text-align: left !important;
        padding-top: 15px;
    }
    .property-rightwrapper--title{ 
        padding-top: 30px;
    }
}
@media(max-width:575px){
    .community--content_img img{
        width:100%;
    }
    .community--content_box [class*='col-']{
        margin-bottom: 20px;
    }
}
@media(max-width:1400px){
    .property-text--bedrooms{
        text-align: left;;
    }
}