/*
font-family: 'Bree Serif', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/


* { padding: 0px; margin: 0px; outline: none; }

/* placeholder and Selection css */
::selection { color: #fff; background: blue; }

::-moz-selection { color: #fff; background: blue; }

::-webkit-input-placeholder { color: blue; text-overflow: ellipsis; font-size: 16px; }

::-moz-placeholder { color: blue; text-overflow: ellipsis; opacity: 0.5; font-size: 16px; }

:-ms-input-placeholder { color: blue; text-overflow: ellipsis; opacity: 0.5; font-size: 16px; }

/* body css property */
body, html { height: 100%; -moz-osx-font-smoothing: grayscale; }

body { font-family: 'Open Sans', sans-serif; font-size:18px; line-height: 20px; -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 { margin-top: 0px; }

p { margin: 0 0 25px; font-size: 18px; line-height: 28px; }

b, strong { font-weight: 600; }

ul, ol, dl { list-style-position: outside; margin-bottom: 15px; padding: 0px; list-style: none; }

/* video and audio */
img { max-width: 100%; height: auto; }

video { background-size: cover; display: table-cell; vertical-align: middle; width: 100%; }

iframe { border: 0; }

a, a:hover, a:focus { text-decoration: none; transition: all ease 0.3s; -webkit-transition: all ease 0.3s; }

a:hover, a:active { text-decoration: none; }

a:focus, a:active, button:focus, button:active, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus { outline: none; }

/* grid css */
.flex { display: -ms-flexbox; display: flex; }

.flexwrap { flex-wrap: wrap; -ms-flex-wrap: wrap; }

.item-vcenter { align-items: center; }

/* page common structure css */
.content-sctn { padding: 25px 0px; position: relative; }

.width-auto { width: auto; max-width: 100%; }

.width-full { width: 100%; display: inline-block; }

.hidden { overflow: hidden; }

.hidden-x { overflow-x: hidden; }

.hidden-y { overflow-y: hidden; }

#preloader { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: #fff; z-index: 999; }

/* form element css */
input, textarea, select { border: 1px solid blue; margin: 0 0 20px 0; max-width: 100%; resize: none; }

input[type="submit"] { width: auto; }

input[type="button"], input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea, input[type="submit"] { -webkit-appearance: none; outline: none; }

input:focus, textarea:focus { border-color: blue; outline: none; }

input[type="button"]:focus { outline: none; }

select::-ms-expand { display: none; }

input[type=text], input[type=email], input[type="password"], textarea { width: 100%; height: 64px; font-size: 16px; color: blue; padding: 20px; border-style: solid; border-width: 3px; border-color: blue; border-radius: 0px; letter-spacing: 1px; background: transparent; }

textarea { min-height: 125px; resize: none; }

.btn-icon { width: 64px; height: 64px; border-radius: 100%; -webkit-appearance: none; outline: none; color: green; background-color: blue; border: none; font-size: 40px; cursor: pointer; transition: all ease 0.3s; }

.btn-icon:hover { box-shadow: inset #fff 0px 0px 0px 4px; }

.wpcf7-not-valid-tip { color: red; }

/* button css */
.btn { display: inline-block; padding: 0px; color: #f8ab11; /*padding: 16px 20px 16px;*/ padding: 11px 20px 11px; font-size: 14px; line-height: 16px; font-weight: 400; border-radius: 0; -webkit-border-radius: 0; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; }

.btn i { margin-left: 15px; margin-right: 0px; font-size: 17px; line-height: 12px; }

.btn-round { border-radius: 50px; -webkit-border-radius: 50px; }

.btn-sm i { margin-left: 10px; font-size: 12px; }

.btn-solid, a.btn-solid { background: #ff0000; color: #ffffff; }

.btn-solid:hover, a.btn-solid:hover { background: #222931; color: #fff; }

.btn-solid.btn-sm { padding: 6px 15px 5px !important; font-size: 10px; }

.btn-line.btn-sm { padding: 4px 13px 3px !important; font-size: 10px; }

.btn-solid.btn-blue, a.btn-solid.btn-blue { background: blue; color: #ffffff; }

.btn-solid.btn-green, a.btn-solid.btn-green { background: green; color: #ffffff; }

.btn.btn-line, a.btn.btn-line { padding: 10px 18px 10px; border-width: 2px; border-style: solid; border-color: red; color: red; }

.btn.btn-line:hover, a.btn.btn-line:hover { background-color: red; color: #ffffff; }

.btn.btn-line.btn-blue, a.btn.btn-line.btn-blue { border-color: blue; color: blue; }

.btn.btn-line.btn-blue:hover, a.btn.btn-line.btn-blue:hover { background-color: blue; color: #ffffff; }

.btn.btn-line.btn-green, a.btn.btn-line.btn-green { border-color: green; color: green; }

.btn.btn-line.btn-green:hover, a.btn.btn-line.btn-green:hover { background-color: green; color: #ffffff; }

.linktext { color: #34436e; position: relative; font-weight: 600; }

.linktext:hover { color: #34436e; }

/* color css */
.blue-color{ color:#0a70ff; }

.green-color{ color:#6fdc56; }


/* infograph css */
.section-heading{ font-family: 'Bree Serif', serif; }

.heading-xl { font-size: 60px; line-height: 23px; padding: 0px; margin: 0px 0px 15px 0px; }

.heading-lg { font-size: 33px; line-height: 24px; padding: 0px; margin: 0px 0px 15px 0px; }

.heading-md { font-size: 25px; line-height: 34px; padding: 0px; margin: 0px 0px 15px 0px; }

.heading-sm { font-size: 22px; line-height: 24px; padding: 0px; margin: 0px 0px 15px 0px; }



/* header css start */
header{ padding: 32px 0px; background-color: #fff; }

header .row.header-row{ align-items: center; }
/* header css ended */


/* header logo css start */ 
.header-main-logo{ display: inline-block; }

.header-main-logo img{ width:100%; max-width: 145px; }
/* header logo css ended */


/* header iconic info css start */
.header-iconic-info{ display: inline-block; position: relative; color:#3e3e3e; line-height: 32px; padding: 0px 15px 0px 20px; font-weight:600; }

.header-iconic-info:before{ content: ''; position: absolute; top:50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); left:0px; width:2px; height:20px; background-color:#a2a2a2; }

.header-iconic-info ul{ padding:0px; margin:0px -10px; }

.header-iconic-info li{ display: inline-block; position: relative; margin: 0px 10px; }

.header-iconic-info img{ max-width:25px; margin-right:10px; }

.header-iconic-info li.only-icon img{ margin:0px; }

.header-iconic-info a{ color:#3e3e3e; }

.header-iconic-info i{ font-size:22px; }

.header-iconic-info:first-child{ padding-left: 0px; }

.header-iconic-info:first-child::before{ display: none; }

.header-iconic-info:last-child{ padding-right: 0px; margin:0px; }
/* header iconic info css ended */


/* search filter row section css start */
.search-filter-section{ position: relative; display: flex; align-items: center; min-height:120px; padding:28px 0px; background: url("../images/search-filter-bg.jpg") no-repeat top left; background-size: cover; clear: both; }

.search-filter-wrap-area{ display: flex; align-items: center; flex-wrap: nowrap; margin:0px -6px; padding:12px 0px; }

.search-filter-col{ flex: 1; position: relative; min-height: 20px; margin:0px 6px; background: red; }

.search-filter-section .select-styled{ padding:8px 15px 8px 45px; }

.propertyType .select-styled{ background-image: url("../images/icons/property-type-icon.png"); background-position: 18px 8px; }

/* search filter row section css ended */


/* footer css start */
footer{ padding: 20px 0px; background: #f3f3f3; position: relative; overflow: hidden; }

.footer-logo{ width:auto; max-width:145px; display: inline-block; }

.footer-logo a{ display: inline-block; }

.footer-logo img{ width:100%; }

.footer-heading{ display:block; margin:0px 0px 10px 0px; font-size:18px; font-weight:800; color:#3f3e3e; }

ul.footer-link{ width:100%; display: inline-block; margin:0px; padding:0px; }

ul.footer-link li{ width:100%; display: inline-block; margin-bottom:6px; }

ul.footer-link li:last-child{ margin:0px; }

ul.footer-link li, ul.footer-link li a{ color:#3f3e3e; transition: all ease 0.4s; -webkit-transition: all ease 0.4s; }

ul.footer-link li a:hover{ color:#0a70ff; }

ul.footer-social *{ transition: all ease 0.4s; -webkit-transition: all ease 0.4s; }

ul.footer-social{ width:auto; padding:25px 0px 0px 0px; margin:0px -3px; }

ul.footer-social li{ display: inline-block; width:28px; height:28px; line-height: 28px; font-size: 16px; text-align: center; background: #717171; color:#fff; border-radius: 30px; overflow: hidden; margin:0px 3px; }

ul.footer-social li a{ display: block; color:#fff; }

ul.footer-social li.facebook:hover{ background: #1976d2; }

ul.footer-social li.twitter:hover{ background: #03a9f4; }

ul.footer-social li.instagram:hover{ background: #ff3997; }

ul.footer-social li.youtube:hover{ background: #f44336; }

.copyright{ width:100%; display: inline-block; text-align: center; padding: 18px 0px; color:#3f3e3e; }
/* footer css ended */


/* property detail page css start */
.innerpage-with-tp-border{ width:100%; min-height:500px; display: inline-block; position: relative; padding:35px 0px; border-top:#e2e2e2 solid solid; background: #f4f4f4; }
/* property detail page css ended */


/* breadcrumb css start */
.breadcrumb{ width:100%; display: inline-block; position: relative; background: transparent; padding: 0px; margin:0px 0px 32px 0px; }

.breadcrumb ul{ padding: 0px; margin:0px; }

.breadcrumb li{ display: inline-block; font-size:16px; position: relative; padding: 0px 20px 0px 0px; margin-right:12px; }

.breadcrumb li, .breadcrumb li a{ color:#424141; }

.breadcrumb li:after{ content: "\f105"; position: absolute; font: normal normal normal 14px/1 FontAwesome; right:0px; top:4px; font-weight:600;  }

.breadcrumb li:hover a{ color:#0a70ff; }

.breadcrumb li:last-child:after{ display: none; }

.breadcrumb li:last-child a, .breadcrumb li:last-child span{ color:#47de89; font-weight:800; }
/* breadcrumb css ended */


/* common structure css start */
.white-border-box{ width:100%; display: inline-block; position: relative; background: #fff; border:#dddddd solid 1px; }

.white-border-padding{ padding: 24px; }
/* common structure css ended */







