/*
font-family: 'Bree Serif', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/


* { padding: 0px; margin: 0px; outline: none; }

/* placeholder and Selection css */
::selection { color: #fff; background: blue; }

::-moz-selection { color: #fff; background: blue; }

::-webkit-input-placeholder { color: blue; text-overflow: ellipsis; font-size: 16px; }

::-moz-placeholder { color: blue; text-overflow: ellipsis; opacity: 0.5; font-size: 16px; }

:-ms-input-placeholder { color: blue; text-overflow: ellipsis; opacity: 0.5; font-size: 16px; }

/* body css property */
body, html { height: 100%; -moz-osx-font-smoothing: grayscale; }

body { font-family: 'Open Sans', sans-serif; font-size:18px; line-height: 20px; -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 { margin-top: 0px; }

p { margin: 0 0 25px; font-size: 18px; line-height: 28px; }

b, strong { font-weight: 600; }

ul, ol, dl { list-style-position: outside; margin-bottom: 15px; padding: 0px; list-style: none; }

/* video and audio */
img { max-width: 100%; height: auto; }

video { background-size: cover; display: table-cell; vertical-align: middle; width: 100%; }

iframe { border: 0; }

a, a:hover, a:focus { text-decoration: none; transition: all ease 0.3s; -webkit-transition: all ease 0.3s; }

a:hover, a:active { text-decoration: none; }

a:focus, a:active, button:focus, button:active, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus { outline: none; }

/* grid css */
.flex { display: -ms-flexbox; display: flex; }

.flexwrap { flex-wrap: wrap; -ms-flex-wrap: wrap; }

.item-vcenter { align-items: center; }

/* page common structure css */
.content-sctn { padding: 25px 0px; position: relative; }

.width-auto { width: auto; max-width: 100%; }

.width-full { width: 100%; display: inline-block; }

.hidden { overflow: hidden; }

.hidden-x { overflow-x: hidden; }

.hidden-y { overflow-y: hidden; }

#preloader { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: #fff; z-index: 999; }

/* form element css */
input, textarea, select { border: 1px solid blue; margin: 0 0 20px 0; max-width: 100%; resize: none; }

input[type="submit"] { width: auto; }

input[type="button"], input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea, input[type="submit"] { -webkit-appearance: none; outline: none; }

input:focus, textarea:focus { border-color: blue; outline: none; }

input[type="button"]:focus { outline: none; }

select::-ms-expand { display: none; }

input[type=text], input[type=email], input[type="password"], textarea { width: 100%; height: 64px; font-size: 16px; color: blue; padding: 20px; border-style: solid; border-width: 3px; border-color: blue; border-radius: 0px; letter-spacing: 1px; background: transparent; }

textarea { min-height: 125px; resize: none; }

.btn-icon { width: 64px; height: 64px; border-radius: 100%; -webkit-appearance: none; outline: none; color: green; background-color: blue; border: none; font-size: 40px; cursor: pointer; transition: all ease 0.3s; }

.btn-icon:hover { box-shadow: inset #fff 0px 0px 0px 4px; }

.wpcf7-not-valid-tip { color: red; }

/* button css */
.btn { display: inline-block; padding: 0px; color: #f8ab11; /*padding: 16px 20px 16px;*/ padding: 11px 20px 11px; font-size: 14px; line-height: 16px; font-weight: 400; border-radius: 0; -webkit-border-radius: 0; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; }

.btn i { margin-left: 15px; margin-right: 0px; font-size: 17px; line-height: 12px; }

.btn-round { border-radius: 50px; -webkit-border-radius: 50px; }

.btn-sm i { margin-left: 10px; font-size: 12px; }

.btn-solid, a.btn-solid { background: #ff0000; color: #ffffff; }

.btn-solid:hover, a.btn-solid:hover { background: #222931; color: #fff; }

.btn-solid.btn-sm { padding: 6px 15px 5px !important; font-size: 10px; }

.btn-line.btn-sm { padding: 4px 13px 3px !important; font-size: 10px; }

.btn-solid.btn-blue, a.btn-solid.btn-blue { background: blue; color: #ffffff; }

.btn-solid.btn-green, a.btn-solid.btn-green { background: green; color: #ffffff; }

.btn.btn-line, a.btn.btn-line { padding: 10px 18px 10px; border-width: 2px; border-style: solid; border-color: red; color: red; }

.btn.btn-line:hover, a.btn.btn-line:hover { background-color: red; color: #ffffff; }

.btn.btn-line.btn-blue, a.btn.btn-line.btn-blue { border-color: blue; color: blue; }

.btn.btn-line.btn-blue:hover, a.btn.btn-line.btn-blue:hover { background-color: blue; color: #ffffff; }

.btn.btn-line.btn-green, a.btn.btn-line.btn-green { border-color: green; color: green; }

.btn.btn-line.btn-green:hover, a.btn.btn-line.btn-green:hover { background-color: green; color: #ffffff; }

.linktext { color: #34436e; position: relative; font-weight: 600; }

.linktext:hover { color: #34436e; }

/* infograph css */
.letter-spacing-2 { letter-spacing: 2px; }

.heading-xl { font-size: 43px; line-height: 47px; letter-spacing: 1px; padding: 0px; margin: 0px 0px 30px 0px; }

.heading-lg { font-size: 30px; line-height: 36px; letter-spacing: 1px; padding: 0px; margin: 0px 0px 30px 0px; }

.heading-md { font-size: 23px; line-height: 27px; letter-spacing: 1px; padding: 0px; margin: 0px 0px 20px 0px; }



/* header css start */
header{ padding: 32px 0px; background-color: #fff; }

header .row.header-row{ align-items: center; }
/* header css ended */


/* header logo css start */ 
.header-main-logo{ display: inline-block; }

.header-main-logo img{ width:100%; max-width: 145px; }
/* header logo css ended */


/* header iconic info css start */
.header-iconic-info{ display: inline-block; position: relative; color:#3e3e3e; line-height: 32px; padding: 0px 15px 0px 20px; font-weight:600; }

.header-iconic-info:before{ content: ''; position: absolute; top:50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); left:0px; width:2px; height:20px; background-color:#a2a2a2; }

.header-iconic-info ul{ padding:0px; margin:0px -10px; }

.header-iconic-info li{ display: inline-block; position: relative; margin: 0px 10px; }

.header-iconic-info img{ max-width:25px; margin-right:10px; }

.header-iconic-info li.only-icon img{ margin:0px; }

.header-iconic-info a{ color:#3e3e3e; }

.header-iconic-info i{ font-size:22px; }

.header-iconic-info:first-child{ padding-left: 0px; }

.header-iconic-info:first-child::before{ display: none; }

.header-iconic-info:last-child{ padding-right: 0px; margin:0px; }
/* header iconic info css ended */


/* search filter row section css start */
.search-filter-section{ position: relative; display: flex; align-items: center; min-height:120px; padding:28px 0px; background: url("../images/search-filter-bg.jpg") no-repeat top left; background-size: cover; clear: both; }

.search-filter-wrap-area{ display: flex; align-items: center; flex-wrap: nowrap; margin:0px -6px; padding:12px 0px; }

.search-filter-col{ flex: 1; position: relative; min-height: 20px; margin:0px 6px; background: red; }
/* search filter row section css ended */



.select-hidden {
  /*display: none;
  visibility: hidden;
  padding-right: 10px;*/
  
  width:0px;
  height:0px;
  opacity: 1;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 100%;
  height: 40px;
}

.select-styled {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #c0392b;
  padding: 8px 15px;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}
.select-styled:hover {
  background-color: #b83729;
}
.select-styled:active, .select-styled.active {
  background-color: #ab3326;
}
.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #fff transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ab3326;
}
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid #962d22;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select-options li:hover {
  color: #c0392b;
  background: #fff;
}
.select-options li[rel="hide"] {
  display: none;
}

