/*
font-family: 'Bree Serif', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/


* { padding: 0px; margin: 0px; outline: none; }

/* placeholder and Selection css */
::selection { color: #fff; background: #0a70ff; }

::-moz-selection { color: #fff; background: #0a70ff; }

::-webkit-input-placeholder { color: #0a70ff; text-overflow: ellipsis; font-size: 16px; }

::-moz-placeholder { color: #0a70ff; text-overflow: ellipsis; opacity: 0.5; font-size: 16px; }

:-ms-input-placeholder { color: #0a70ff; text-overflow: ellipsis; opacity: 0.5; font-size: 16px; }

/* body css property */
body, html { height: 100%; -moz-osx-font-smoothing: grayscale; }

body { font-family: 'Open Sans', sans-serif; font-size:18px; line-height: 20px; -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 { margin-top: 0px; }

p { margin: 0 0 25px; font-size: 18px; line-height: 28px; color:#656565; }

b, strong { font-weight: 600; }

ul, ol, dl { list-style-position: outside; margin-bottom: 15px; padding: 0px; list-style: none; }

/* video and audio */
img { max-width: 100%; height: auto; }

video { background-size: cover; display: table-cell; vertical-align: middle; width: 100%; }

iframe { border: 0; }

a, a:hover, a:focus { text-decoration: none; transition: all ease 0.3s; -webkit-transition: all ease 0.3s; }

a:hover, a:active { text-decoration: none; }

a:focus, a:active, button:focus, button:active, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus { outline: none; }

/* page common structure css */
.hidden { overflow: hidden; }

.hidden-x { overflow-x: hidden; }

.hidden-y { overflow-y: hidden; }

#preloader { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: #fff; z-index: 999; }

/* form element css */
input, textarea, select { border: 1px solid #0a70ff; margin: 0 0 20px 0; max-width: 100%; resize: none; }

input[type="submit"] { width: auto; }

input[type="button"], input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea, input[type="submit"] { -webkit-appearance: none; outline: none; }

input:focus, textarea:focus { border-color: #0a70ff; outline: none; }

input[type="button"]:focus { outline: none; }

select::-ms-expand { display: none; }

input[type=text], input[type=email], input[type="password"], textarea { width: 100%; height: 64px; font-size: 16px; color: #0a70ff; padding: 20px; border-style: solid; border-width: 3px; border-color: #0a70ff; border-radius: 0px; letter-spacing: 1px; background: transparent; }

textarea { min-height: 125px; resize: none; }

.wpcf7-not-valid-tip { color: red; }

/* button css */
.btn { display: inline-block; padding: 0px; color: #f8ab11; /*padding: 16px 20px 16px;*/ padding: 11px 20px 11px; font-size: 14px; line-height: 16px; font-weight: 400; border-radius: 0; -webkit-border-radius: 0; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; }

.btn:before{ transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; content: ''; width: 0; height: 0; transform: rotate(360deg); -webkit-transform: rotate(360deg); border-style: solid; border-width: 0 0 0 0;  border-color: #fff transparent transparent transparent; position: absolute; z-index: -1; top: 0; left: 0; -webkit-transition: 1.2s;
 -o-transition: 1.2s; transition: 1.2s; }

.btn i { margin-left: 15px; margin-right: 0px; font-size: 17px; line-height: 12px; }

.btn.btn-primary, .btn.btn-success{ min-width:160px; padding: 18px 10px; text-align: center; position: relative; z-index: 1; font-weight:800; color:#fff; border-width:1px; border-style:solid; font-size:16px; overflow: hidden; }

.btn.btn-primary{ background-color: #0a70ff; border-color:#0a70ff; }

.btn.btn-success{ background-color: #6fdc56; border-color:#6fdc56; }

.btn.btn-success.dark{ background-color: #5da91e; border-color:#5da91e; }

.btn.btn-success.dark:hover{ color:#5da91e; }

.btn.btn-primary:hover:before, .btn.btn-success:hover:before { border-width: 330px 330px 0 0; }

.btn.btn-primary:hover{ color:#0a70ff; }

.btn.btn-success:hover{ color:#6fdc56; }

/* color css */
.blue-color{ color:#0a70ff; }

.green-color{ color:#6fdc56; }


/* infograph css */

.heading-xl { font-size: 60px; line-height: 50px; padding: 0px; margin: 0px 0px 15px 0px; font-weight:600; }

.heading-lg { font-size: 33px; line-height: 24px; padding: 0px; margin: 0px 0px 15px 0px; font-weight:600; }

.heading-lg small{ font-size: 25px; font-weight: 500; }

.heading-lgmd { font-size: 30px; line-height: 34px; padding: 0px; margin: 0px 0px 20px 0px; font-weight:600; }

.heading-lgmd small{ font-size: 25px; font-weight: 500; }

.heading-md { font-size: 25px; line-height: 34px; padding: 0px; margin: 0px 0px 15px 0px; font-weight:600; }

.heading-sm { font-size: 22px; line-height: 24px; padding: 0px; margin: 0px 0px 15px 0px; font-weight:600; }

.section-heading{ font-family: 'Bree Serif', serif; color:#0a70ff; font-weight: 400; }

.uppercase{ text-transform: uppercase; }



/* header css start */
header{ padding: 32px 0px; position: relative; z-index: 9; background-color: #fff; transition: all ease 0.4s; -webkit-transition: all ease 0.4s; }

header .header-wrapper{ background: #fff; transition: all ease 0.4s; -webkit-transition: all ease 0.4s; }

header .row.header-row{ align-items: center; }

.StickyElementAfterScroll{ transition: -webkit-transform .3s ease; transition: transform .3s ease; transition: transform .3s ease,-webkit-transform .3s ease; }

.Sticky .StickyElementAfterScroll{	position: fixed; top:0; left:0; width:100%; z-index: 9; }

.Sticky header .header-wrapper{ padding:10px 0px; }

.Sticky header .header-main-logo img { max-width: 110px; }
/* header css ended */


/* header logo css start */ 
.header-main-logo{ display: inline-block; }

.header-main-logo img{ width:100%; max-width: 145px; transition: -webkit-transform .3s ease; }
/* header logo css ended */


/* header iconic info css start */
.header-iconic-info{ display: inline-block; position: relative; color:#3e3e3e; line-height: 32px; padding: 0px 15px 0px 20px; font-weight:600; }

.header-iconic-info:before{ content: ''; position: absolute; top:50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); left:0px; width:2px; height:20px; background-color:#a2a2a2; }

.header-iconic-info ul{ padding:0px; margin:0px -10px; }

.header-iconic-info li{ display: inline-block; position: relative; margin: 0px 10px; }

.header-iconic-info img{ max-width:25px; margin-right:10px; }

.header-iconic-info li.only-icon img{ margin:0px; }

.header-iconic-info a{ color:#3e3e3e; }

.header-iconic-info i{ font-size:22px; }

.header-iconic-info:first-child{ padding-left: 0px; }

.header-iconic-info:first-child::before{ display: none; }

.header-iconic-info:last-child{ padding-right: 0px; margin:0px; }
/* header iconic info css ended */


/* search filter row section css start */
.search-filter-section{ position: relative; display: flex; align-items: center; min-height:120px; padding:28px 0px; background: url("../images/search-filter-bg.jpg") no-repeat top left; background-size: cover; clear: both; }

.search-filter-wrap-area{ display: flex; align-items: center; flex-wrap: nowrap; margin:0px -6px; padding:12px 0px; }

.search-filter-col{ flex: 1; position: relative; min-height: 20px; margin:0px 6px; }

.search-filter-section .select-styled{ padding:8px 15px 8px 55px; }

.propertyType .select-styled{ background-image: url("../images/icons/property-type-icon.png"); background-position: 18px 8px; }

.communitiesType .select-styled{ background-image: url("../images/icons/community-type-icon.png"); background-position: 18px 8px; }

.minPriceType .select-styled, .maxPriceType .select-styled{ background-image: url("../images/icons/minprice-icon.png"); background-position: 18px 8px; }

.search-filter-col.action-col{ display: flex; justify-content: space-between; flex-wrap: nowrap; }

.search-filter-section .btn.btn-primary, .search-filter-section .btn.btn-success{ min-width:130px; padding: 12px 10px; height:44px; font-weight:600; margin:0px 3px; }
/* search filter row section css ended */


/* home map area css start */
.home-map-area{ width:100%; position: relative; overflow: hidden; }

.home-map-area .map{ width:100%; }
/* home map area css ended */


/* footer css start */
footer{ padding: 40px 0px; background: #fff; position: relative; overflow: hidden; }

.footer-row{ align-items: center; }

.footer-logo{ width:auto; max-width:145px; display: inline-block; }

.footer-logo a{ display: inline-block; }

.footer-logo img{ width:100%; }

.footer-heading{ display:block; margin:0px 0px 10px 0px; font-size:18px; font-weight:800; color:#3f3e3e; }

ul.footer-link{ width:100%; display: inline-block; margin:0px; padding:0px; }

ul.footer-link li{ width:100%; display: inline-block; margin-bottom:6px; }

ul.footer-link li:last-child{ margin:0px; }

ul.footer-link li, ul.footer-link li a{ color:#3f3e3e; transition: all ease 0.4s; -webkit-transition: all ease 0.4s; }

ul.footer-link li a:hover{ color:#0a70ff; }

ul.footer-social *{ transition: all ease 0.4s; -webkit-transition: all ease 0.4s; }

ul.footer-social{ width:auto; padding:0px 0px 0px 0px; margin:0px -3px; }

ul.footer-social li{ display: inline-block; width:28px; height:28px; line-height: 28px; font-size: 16px; text-align: center; background: #717171; color:#fff; border-radius: 30px; overflow: hidden; margin:0px 3px; }

ul.footer-social li a{ display: block; color:#fff; }

ul.footer-social li.facebook:hover{ background: #1976d2; }

ul.footer-social li.twitter:hover{ background: #03a9f4; }

ul.footer-social li.instagram:hover{ background: #ff3997; }

ul.footer-social li.youtube:hover{ background: #f44336; }

.copyright{ width:100%; display: inline-block; text-align: center; padding: 18px 0px; color:#3f3e3e; }
/* footer css ended */


/* property detail page css start */
.innerpage-with-tp-border{ width:100%; min-height:500px; display: inline-block; position: relative; padding:35px 0px; border-top:#e2e2e2 solid solid; background: #f4f4f4; }
/* property detail page css ended */


/* breadcrumb css start */
.breadcrumb{ width:100%; display: inline-block; position: relative; background: transparent; padding: 0px; margin:0px 0px 32px 0px; }

.breadcrumb ul{ padding: 0px; margin:0px; }

.breadcrumb li{ display: inline-block; font-size:16px; position: relative; padding: 0px 20px 0px 0px; margin-right:12px; }

.breadcrumb li, .breadcrumb li a{ color:#424141; }

.breadcrumb li:after{ content: "\f105"; position: absolute; font: normal normal normal 14px/1 FontAwesome; right:0px; top:4px; font-weight:600;  }

.breadcrumb li:hover a{ color:#0a70ff; }

.breadcrumb li:last-child:after{ display: none; }

.breadcrumb li:last-child a, .breadcrumb li:last-child span{ color:#47de89; font-weight:800; }
/* breadcrumb css ended */


/* common structure css start */
.white-border-box{ width:100%; display: inline-block; position: relative; background: #fff; border:#dddddd solid 1px; }

.white-border-padding{ padding: 24px; }
/* common structure css ended */


/* home communities section css start */
.home-communities-sectn{ position: relative; overflow: hidden; padding: 50px 0px; }

.home-communities-sectn .section-heading{ margin-bottom: 50px; }

.home-communities-sectn .tab_wrapper{ display: flex; }

.home-communities-sectn .tab_wrapper.left_side > ul{ position:relative; height:500px; margin:0px; background: #0a70ff; background: -moz-linear-gradient(top,  #0a70ff 0%, #63cf6a 100%); background: -webkit-linear-gradient(top,  #0a70ff 0%,#63cf6a 100%); background: linear-gradient(to bottom,  #0a70ff 0%,#63cf6a 100%); }

.home-communities-sectn .tab_wrapper.left_side > ul:after{ content:''; position: absolute; width:12px; height:100%; background: #fff; top:0px; right:-2px; z-index: 0; }

.home-communities-sectn .mCSB_container{ padding-right: 10px; }

.home-communities-sectn .mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical, 
.home-communities-sectn .mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical { right: 5px; }

.home-communities-sectn .tab_wrapper.left_side > ul{ width:28%; border:none; }

.home-communities-sectn .tab_wrapper.left_side > ul li{ min-height:100px; position: relative; display: flex; align-items: center; font-size:22px; color:#fff; border-top:rgba(255,255,255,0.3) solid 1px; z-index: 1; transition: all ease 0.4s; }

.home-communities-sectn .tab_wrapper.left_side > ul li:before{ content:''; width:0%; height:100%; top:0px; left:0px; position: absolute; background: transparent; z-index: -1; transition: all ease 0.4s; }

.home-communities-sectn .tab_wrapper.left_side > ul li:hover:before{ width:100%; background: #0a70ff; }

.home-communities-sectn .tab_wrapper.left_side > ul li:after{ transition: all ease 0.4s; }

.home-communities-sectn .tab_wrapper.left_side > ul li img{ margin-right: 25px; max-width:40px; }

.home-communities-sectn .tab_wrapper.left_side > ul li.active{ background:#0b71fd; }

.home-communities-sectn .tab_wrapper.left_side > ul li.active:after{ content:''; position: absolute; left:100%; top:50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); width: 0;  height: 0;  border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 8px solid #0b71fd; z-index: 1; }

.home-communities-sectn .tab_wrapper.left_side .content_wrapper { width: 68%; border:none; float: left; }

.home-communities-sectn .tab_wrapper .content_wrapper .tab_content{ height:100%; padding: 0px 0px 0px 20px; }

.home-communities-sectn .tab_content-wrap{ height:100%; display: flex; flex-flow: column; justify-content: space-between; }

.community-tab-main-heading{ margin-bottom:40px; }

.home-communities-sectn hr{ margin-bottom: 30px; border-top: 2px solid rgba(0,0,0,.1); }

.iconic-name-list{ width:100%; display: inline-block; text-align: center; margin-bottom:10px; }

.iconic-name-list .icon-wrap{ display: block; margin-bottom:20px; height:55px; }

.iconic-name-list .icon-wrap img{ display: inline-block; }

.iconic-name-list h3{ display: block; font-size:20px; color:#595959; }
/* home communities section css ended */



/* home city benefit section css start */
.home-city-benefit-sectn{ position: relative; overflow: hidden; padding: 80px 0px 50px; }

.home-city-benefit-sectn .section-heading{ margin-bottom:55px; }

.home-city-benefit-sectn .heading-lgmd{ font-weight: 500; margin-bottom: 10px; }

.home-city-benefit-sectn .heading-lgmd b{ font-weight:800; }

.home-city-benefit-sectn .heading-lg{ font-weight:800; margin-bottom: 55px; }

.home-city-benefit-slider-area{ padding: 0px; position: relative; clear: both; }

.home-city-benefit-slider-area .slick-arrow{ background: url("../images/prev-arrow.png") no-repeat; background-position: center; position: absolute; top:35%; transform: translateY(-50%); z-index: 2; }

.home-city-benefit-slider-area .slick-arrow:before, 
.home-city-benefit-slider-area .slick-arrow:after{ display: none; }

.home-city-benefit-slider-area .slick-next{ transform: rotate(180deg); -webkit-transform: rotate(180deg) translateY(50%); right:0px; }

.iconic-box{ width:100%; display: inline-block; text-align: center; position: relative; padding: 0px 10%; }

.iconic-box .icon-box{ width:100px; height:95px; margin:0px auto; display: flex; align-items: center; justify-content: center; line-height: 90px; overflow: hidden; background: #fff; border-radius: 100%; border:#cccccc solid 8px; }

.iconic-box .icon-box img{ max-width:78px; }

.iconic-box .iconic-info-area{ width:100%; margin:10px 0px 0px 0px; display: inline-block; clear: both; }

.iconic-box h5{ color:#363636; font-size:20px; margin-bottom:10px; }

.iconic-box p{ font-size:13px; line-height: 15px; }
/* home city benefit section css ended */


/* home featured property section css start */
.home-property-sectn{ position: relative; overflow: hidden; padding: 80px 0px 20px; background: #fff url("../images/gray-bg.jpg") no-repeat top center; }

.home-property-sectn .section-heading{ margin-bottom:80px; }

.home-property-sectn .property-box{ margin-bottom:20px; }

.property-logo{ width:104px; height:104px; display: flex; align-items: center; justify-content: center; border-radius: 100%; border:7px solid rgba(255,255,255,0.6); }

.property-logo:before{ content:''; position: absolute; top:-1px; left:0px; width:100%; height:100%; background: #fff; border-radius: 100%; }

.property-logo img{ max-width:62px; position: relative; z-index: 1; }

.property-box{ width:100%; display: inline-block; ;position: relative; background: #f2f2f2; }

.property-box .property-image-wrap{ width:100%; display: inline-block; position: relative; }

.property-box .property-image{ width:100%; height:290px; float: left; overflow: hidden; }

.property-box .property-image img{ width:100%; height:100%; object-fit: cover; transition: all ease 0.8s; -wenkit-transition: all ease 0.8s; }

.imgEffect{ width:100%; height:100%; position: absolute; top:0px; left:0px; }

.imgEffect:after { background: #6fdc56;  background: -moz-linear-gradient(top, #6fdc56 0%, #0a70ff 100%);  background: -webkit-linear-gradient(top, #6fdc56 0%, #0a70ff 100%); background: linear-gradient(to bottom, #6fdc56 0%, #0a70ff 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6fdc56', endColorstr='#0a70ff', GradientType=0);  content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 0; z-index: 1; filter: alpha(opacity=0); opacity: 0; -webkit-transition: 1s; -o-transition: 1s; transition: 1s;
}
.property-box:hover .imgEffect:after{ height:100%; opacity: 0.3; }

.property-box:hover .property-image img{ -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2); -o-transform: scale(1.2); transform: scale(1.2); }

.property-box .property-logo{ position: absolute; bottom: -50px; left:50%; transform: translateX(-50%); z-index: 2; }

.property-box .property-info-box{ padding:60px 20px 20px 20px; position: relative; }

.property-box .property-info-box .heading-sm{ font-family: 'Bree Serif', serif; color:#1b1b1b; font-weight: 500; margin-bottom:20px; }

.property-box .property-info-box .heading-sm a{ color:#1b1b1b; }

.property-box .property-info-box .heading-sm a:hover{ color:#0a70ff; }

ul.iconic-info-list{ width:100%; display: inline-block; padding: 0px; margin:0px 0px 15px 0px; }

ul.iconic-info-list li{ width:100%; display: flex; align-items: center; margin-bottom:10px; font-family: 'Roboto', sans-serif; }

ul.iconic-info-list li img{ max-width: 25px; margin-right: 10px; }

ul.iconic-info-list li .text{ color:#666666; font-size:16px; }

ul.iconic-info-list li .text span{ color:#333333; }

ul.iconic-info-list li .text span b, ul.iconic-info-list li .text span strong{ font-weight:800; }
/* home featured property section css ended */












