/* common css start */
.select-hidden { width:0px; height:0px; opacity: 0; }

.select { cursor: pointer; display: inline-block; position: relative; font-size: 17px; color: #fff; background: #fff; width: 100%; height: 44px; }

.select-styled { position: absolute; line-height:26px; top: 0px; right: 0; bottom: 0; left: 0; color:#2b2b2b; padding: 8px 15px; background-repeat: no-repeat; -moz-transition: all 0.4s ease-in; -o-transition: all 0.4s ease-in; -webkit-transition: all 0.4s ease-in; transition: all 0.4s ease-in; }

.select-styled:after { content: ""; width: 0; height: 0; border: 7px solid transparent; border-color: #0a70ff transparent transparent transparent; position: absolute; top: 20px; right: 10px; transition: all ease 0.4s; -webkit-transition: all ease 0.4s; }

.select-styled:active:after, .select-styled.active:after { top: 12px; border-color: transparent transparent #0a70ff transparent; }

.select-styled:hover { background-color: #fff; }

.select-styled:active, .select-styled.active { background-color: #fff; }

.select-options { display: none; position: absolute; top: 106%; right: 0; left: 0; z-index: 999; margin: 0; padding: 0; list-style: none; background-color: #fff; box-shadow:#ebebeb 0px 0px 6px; }

.select-options li { margin: 0; padding: 15px; text-indent: 15px 12px; color:#2b2b2b; -moz-transition: all 0.15s ease-in; -o-transition: all 0.15s ease-in; -webkit-transition: all 0.15s ease-in; transition: all 0.15s ease-in; }

.select-options li:hover { color: #0a70ff; background: #fff; }

.select-options li[rel="hide"] { display: none; }
/* common css ended */

