.header-main-menu{ padding: 0px; margin:0px; font-size:18px; }

.header-main-menu ul{ position: relative; transition: all ease 0.4s; -webkit-transition: all ease 0.4s; }

.header-main-menu li{ display:inline-block; position: relative; }

.header-main-menu li a{ display: inline-block; padding: 10px 0px; }

.header-main-menu li, .header-main-menu li a{ color:#3e3e3e; }

.header-main-menu li.current-item > a{ border-color:#0a70ff; }

/* main lavel */
.header-main-menu > ul{ margin:0px -20px; padding: 0px; }

.header-main-menu > ul > li{ margin:0px 20px; }

.header-main-menu > ul > li > a { padding: 0px 0px 10px 0px; border-width: 0px 0px 2px 0px; border-style: solid; border-color:#63cf6a; }

.header-main-menu > ul > li:hover > a{ border-color:#0a70ff; }

/* 2nd lavel */
.header-main-menu ul ul{ position: absolute; left: 0px; top:100%; }

.header-main-menu ul ul li{ display: block; }

.header-main-menu ul ul li a{ display: block; }

/* 3rd lavel */
.header-main-menu ul ul ul{ position: absolute; left: 100%; top:0%; }