/*
font-family: 'Lobster', cursive;
font-family: 'Roboto Slab', serif;
font-family: 'Raleway', sans-serif;
*/


*{ 
  margin:0px; padding:0px; 
}

.slick-arrow{
  width:30px; height:30px; position: relative; cursor: pointer; background: #fdc800; border:none; outline: none; font-size: 0px; color: transparent;
}
.slick-arrow:before,
.slick-arrow:after{
  content:''; position: absolute; width:10px; height:3px; border-radius: 4px; background:#fff; left:50%; top:50%; margin-left:-5px;
}
.slick-arrow:before{
   transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg);
   top:34%;
}
.slick-arrow:after{
   transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg);
   top:54%;
}
.slick-arrow.slick-next:before{
  transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg);
}
.slick-arrow.slick-next:after{
  transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg);
}
.slick-arrow.slick-next{
  margin-left:10px;
}
.slick-arrow-wrap{
  position: absolute; right:0px; top:-10px;
}


/* */

/* */


.slick-dots{
  width:100%; text-align: center;
}
.slick-dots li{
  display: inline-block; margin:0px 4px; height: auto;
}
.slick-dots li button{
  float:left; margin: 0px; padding: 0px; width:25px; height:9px; background: #dedede; border:none; border-radius: 20px;font-size: 0px; color:transparent;
}
.slick-dots li.slick-active{
  height: auto;
}
.slick-dots li.slick-active button{
  background: #002147;
}


