/* thumbnail-image-gallery-slider css start */
.thumbnail-image-gallery-slider-area{ width:100%; display: inline-block; position: relative; }

.thumbnail-image-gallery-slider-area .property-big-image{ height:540px; overflow: hidden; }

.thumbnail-image-gallery-slider-area .property-big-image img{ width:100%; height:100%; object-fit: cover; }

.thumbnail-image-gallery-slider-area .slick-slide.thumb-img{ margin-right:20px; cursor:pointer;}
.thumbnail-image-gallery-slider-area .slick-slide.thumb-img img{ border: 3px solid #dddddd;}
/* thumbnail-image-gallery-slider css ended */

/*Floor section css start*/
.floor_sec{ padding:40px 0 60px 0; background: #f4f4f4; }
.floor_plan_slider{ padding:27px 20px; background:#fff;}
.floor-content p{ margin-bottom:20px; }
.floor-image img{ width:100%; text-align:center; }
.floor_wrapper{ position:relative;}
.floor-plan--accordian{ padding: 25px 0 0 0; }
.floor-plan--accordian .accordion .card-header:after { content: ""; float: right;  background:url(../images/icons/minas.png) no-repeat center center; background-size:cover; width:20px; height:2px; }
.floor-plan--accordian .card{ border: 0; background-color: transparent; }
.floor-plan--accordian .accordion .card-header.collapsed:after { content: "";  background:url(../images/icons/plus.png) no-repeat center center; background-size:cover; width:20px; height:20px; }
.floor-plan--accordian .accordion .card-header.heading-md{ line-height: 1; padding: 20px; cursor: pointer; background-color: #fff; border: 1px solid #ddd; border-bottom:0; }
.floor-plan--accordian .accordion .card-header.heading-md.collapsed{ border-bottom:1px solid #ddd;}
.floor-plan--accordian .accordion .card-header.heading-md{ margin-bottom: 0px; }
.floor-plan--accordian .accordion .card-header.heading-md.collapsed, .floor-plan--accordian .accordion .card-body.show{ margin-bottom: 20px;}
.floor-plan--accordian .accordion .card-header.heading-md.collapsed:last-child, .floor-plan--accordian .accordion .card-body.show:last-child{ margin-bottom: 0;}
.accordion_contenta{ margin:0 23px;}
.floor-plan--accordian .accordion .card-body{ border: 1px solid #ddd; background-color: #fff; border-top:0; padding:20px 20px 0 20px; }
.floor-plan--accordian .media img{min-width:60px;}
.floor-plan--accordian .media h5{font-size:18px; font-weight:400; color:#0a70ff; margin:0;padding-left:20px;}
.floor-plan--accordian .media{ margin-bottom:30px; }
/*Floor section css end*/

/*virtual video css start*/
.video_wrapper a{ position:relative; display:block;}
.video_wrapper a:after{ position:absolute; top:50%; transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); left:0; right:0; content:''; background:url(../images/icons/play-button.png) no-repeat center center; width:100%; height:80px;}
.virtual_slider{padding:30px 0 70px 0;}
.media-body h5{margin:0;}
.vitual_slick_slider{background:#fff; padding:20px; border:1px solid #dddddd;}
.vitual-text-slider .media .gradient-img{ display:none;}
.vitual_slick_slider .media img{min-width:60px;}
.vitual-text-slider{margin-bottom:30px;}
.vitual_slick_slider .media h5 {font-family:'Open Sans', sans-serif;  font-size: 18px; font-weight: 400;color: #000; margin: 0; padding-left: 20px;}
.vitual-text-slider .slick-current.slick-active .media .gradient-img{display:block;}
.vitual-text-slider .slick-current.slick-active .media .normal-img{display:none;}
.vitual-text-slider .slick-current.slick-active .media h5{color:#0a70ff;}
.vitual_slick_slider .media{justify-content:center;}
.vitual_slick_slider .media .media-body{flex:inherit;}
.vitual-text-slider .slick-list{margin:0 40px;}
/*virtual video css end*/

/*agent css start*/
.agent-wraper{background:url(../images/property-detail/agent-bg.jpg) no-repeat center center;background-size:cover; padding:50px;}
.agent-wraper{text-align:center;}
.agent-wraper h2{color:#fff; margin-bottom:40px; font-family: 'Bree Serif', serif;line-height:54px;}
.agent-img-wrapper{text-align:right;}
.agent-details{text-align:left;}
.agent-details h3{font-size:29px; font-weight:600; color:#fff; font-family:'Open Sans', sans-serif; line-height:26px;}
.agent-details h5, .agent-list li, .agent-list li a{font-size:19px; font-weight:400; color:#fff; font-family:'Open Sans', sans-serif; line-height:26px;}
.agent-list li{margin-bottom:17px; display: flex;}
.agent-list li span{padding-left:23px;}
.agent-list li img{max-width:28px;}
.agent-img-wrapper{position:relative;}
.agent-img-wrapper:after{position:absolute; top:7px; right:-15px; content:''; width:1px; height:195px; background:rgba(225,225,225,0.3);}
.agent-list{margin-top:28px;}
/*agent css end*/


/* similar property section css start */
.similar-property-sectn{ position: relative; overflow: hidden; padding: 0px 0px 50px; background: #f4f4f4;  }

.similar-property-sectn .section-heading{ margin-bottom:50px; }

.similar-property-slider-area{ margin:0px -15px; }

.similar-property-slider .slick-slide{ margin:0px 15px; }

.similar-property-sectn  .property-box{ background: #fff; }
/* similar property section css ended */



/*contact us start*/
.innerpage-tp-border{
    padding: 35px 0px;
    border-top: 1px solid #e2e2e2;
}
.main-title{
color:#0a70ff; font-family: 'Bree Serif', serif; line-height:54px; text-align:center; font-weight:500;
}
.contact-form h2, .main-title{
    margin-bottom:20px;
}
.sub-title{
font-size:18px; font-weight:400; color:#656565; font-family:'Open Sans', sans-serif; line-height:26px; text-align:center;
}
.bik-contact--form h5{
    margin-bottom: 40px;
}
.bik-contact--form .form-group--gender{margin-right: 10px;}
.bik-contact--form .form-group--gender__input{ width: 100%}
.bik-contact--form .genderselect-drop--down{ display: flex;}
.select-drop--down .select .select-styled, .select-drop--down .select .select-options{ display: none;}

.bik-contact--form input[type=text], .bik-contact--form input[type=email], 
.bik-contact--form input[type="password"], 
.bik-contact--form textarea , .bik-contact--form select, .bik-contact--form input[type=tel]{
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: #999;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 0px;
    letter-spacing: 1px;
    background: transparent;
}
.bik-contact--form select{
-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 15px;
  padding-right: 40px;
  position: relative;
  background:url(../images/icons/dropdown_arrow.png) no-repeat right center ;
  background-position: calc(100% - 15px) calc(1em + 8px), 100% 0;
}
.bik-contact--form .custom-select--image .select{ position: relative;
}
.submit-area--block{
    padding-top: 25px;
    padding-bottom: 40px;
}
.submit-area--block .btn{
    font-size: 18px;
    text-transform: uppercase;
    min-width: 250px;
    color: #fff;
    padding: 21px;
}

.bik--allow-dropdown{
    position: relative;
}
.bik__flag-container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: auto;
    left: 0;
    padding: 1px;
}
.bik__selected-flag {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 6px 0 8px;
}
.bik__flag-container .btn{
    padding: 0;
    display: flex;
    padding-right: 35px;
    padding-left: 20px;
    border: 0;
    align-items: center;
    font-size: 18px;
    color: #333333;
}
.bik__flag-container .btn.dropdown-toggle::after{
    content: "";
    background:url(../images/icons/dropdown_arrow.png) no-repeat right center ;
    width: 14px;
    height: 10px;
    position: absolute;
    right:11px;
    top: 50%;
    margin-top: -5px;
    border: 0;
}
.bik__selected-flag{
    width: 32px;
    height: 30px;
    background:url(../images/icons/flag-icon.png) no-repeat right center ;
    margin-right: 8px;
}
.bik--allow-dropdown input.form-control{
    padding-left: 150px;
}
.bik__flag-container:before{
    content: "";
    width: 1px;
    height: 34px;
    position: absolute;
    right:0px;
    top: 50%;
    margin-top: -17px;
    background-color:#b2b2b2;
}
.bik__flag-container .dropdown-item{
    display: flex;
    align-items: center;
}

.contact-info-sec{
    background: #f3f3f3; padding: 45px 0;
}
.contact-info-sec h2{
    margin-bottom:60px;
}

.contact-info-box{
    padding: 27px; text-align: center; background: rgba(80,155,252,1);
    background: -moz-linear-gradient(top, rgba(80,155,252,1) 0%, rgba(115,191,194,1) 53%, rgba(124,202,177,1) 63%, rgba(124,202,177,1) 71%, rgba(139,217,153,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(80,155,252,1)), color-stop(53%, rgba(115,191,194,1)), color-stop(63%, rgba(124,202,177,1)), color-stop(71%, rgba(124,202,177,1)), color-stop(100%, rgba(139,217,153,1)));
    background: -webkit-linear-gradient(top, rgba(80,155,252,1) 0%, rgba(115,191,194,1) 53%, rgba(124,202,177,1) 63%, rgba(124,202,177,1) 71%, rgba(139,217,153,1) 100%);
    background: -o-linear-gradient(top, rgba(80,155,252,1) 0%, rgba(115,191,194,1) 53%, rgba(124,202,177,1) 63%, rgba(124,202,177,1) 71%, rgba(139,217,153,1) 100%);
    background: -ms-linear-gradient(top, rgba(80,155,252,1) 0%, rgba(115,191,194,1) 53%, rgba(124,202,177,1) 63%, rgba(124,202,177,1) 71%, rgba(139,217,153,1) 100%);
    background: linear-gradient(to bottom, rgba(80,155,252,1) 0%, rgba(115,191,194,1) 53%, rgba(124,202,177,1) 63%, rgba(124,202,177,1) 71%, rgba(139,217,153,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#509bfc', endColorstr='#8bd999', GradientType=0 ); height: 100%;
}
.contact-info-box h3{
    padding-bottom: 20px; font-size: 22px; font-weight: 700; color: #fff; line-height: 26px; position: relative; font-family:'Open Sans', sans-serif; margin-bottom: 22px;
}
.contact-info-box h3:after{
    position: absolute; bottom: 0; left: 0; right: 0; width: 254px; height: 1px; content: ''; background: rgba(225,225,225,0.4); margin: 0 auto;
}
.contact-info-box p, .info-list li, .info-list li a, .address-list li{
    font-family:'Open Sans', sans-serif; font-size: 16px; color: #fff; line-height: 23px;
}
.address-list{
    margin: 0;
}
.info-list{
    margin: 55px 0 0 0;
}
@media(max-width:1440px){
    .contact-info-box h3{
        font-size: 20px;
    }
}
@media(max-width:991px){
    .contact-info-sec .row [class^="col-"], .contact-info-sec .row [class*=" col-"], .location-wrapper .row [class*=" col-"], .location-wrapper
    .row [class^="col-"]{
        margin-bottom: 30px;
    }
}
@media(max-width:767px){
    .main-title{
        font-size: 40px; line-height: 44px;
    }
}
/*contact us end*/

/* where keac start */

.where-keac_sec{
    padding: 43px 0;
}
.where-keac_sec h5{
    max-width: 790px; width:100%; margin: 0 auto;
}
.map-sec{
    margin-top: 48px;
}

/* where keac end */

/* location start */
.location_sec{
    padding-bottom: 48px;
}
.location-wrapper{
    margin: 50px 0 0 0;
}
.location-wrapper .media:hover .media-body{
    background: #0a70ff;
}
.location-wrapper .media{
    align-items: inherit; border: 1px solid #dddddd; max-height: 120px;
}
.google-map{
    border-right: 1px solid #dddddd; max-width: 120px; max-height: 120px; overflow: hidden;
}
.location-wrapper .media:hover{
    -webkit-box-shadow: 0px 3px 21px 4px rgba(221,221,221,1);
-moz-box-shadow: 0px 3px 21px 4px rgba(221,221,221,1);
box-shadow: 0px 3px 21px 4px rgba(221,221,221,1);
}
.location-wrapper .media-body{
    padding: 20px; display: flex; flex-direction: column; justify-content: center; background: #fff;
}
.location-wrapper .media-body h5{
    font-size: 20px; font-weight:700; color:#595959; font-family:'Open Sans', sans-serif;
}
.location-wrapper .media-body p{
    font-size: 20px; font-weight:400; color:#595959; line-height: 26px; font-family:'Open Sans', sans-serif; margin: 0; padding: 0;
}
.location-wrapper .media:hover .media-body h5{
    color:#fff;
}
.location-wrapper .media:hover .media-body p{
    color:#fff;
}
/* location end */



/*contact us end*/





