.header_dropdown_wrap{  position:relative; display: inline-block; vertical-align: top; /*padding:5px 15px;*/ border-left:rgba(255,255,255,0.4) solid 1px; 
    background-image: url("/src/assets/images/arrow.png"); background-position: right 13px; background-repeat:  no-repeat ; background-size: 12px; margin-left:15px; }

.countryouter{  padding: 5px 20px 5px 15px; cursor: pointer; color:#fff; }

.countryouter img{ width:20px; }

.inercountry{ min-width:140px; position:absolute; right: 0px; z-index:1; display:none; background: #fff; padding: 6px 10px 0px 10px; margin-top:21px; box-shadow: #7c7c7c 0px 0px 10px; -webkit-box-shadow: #7c7c7c 0px 4px 10px;}

.inercountry.dropMenuOpen{ display: block; }

.inercountry{ background: #fff;}

.inercountry a { color: #fff; display: inline-block; padding: 4px; width: 100%; }

.inercountry a img{ width:20px; float:left; margin-right: 7px; padding-top: 3px;}

.inercountry a span{ float:left;color: #70778b; display: block; line-height: 18px;}

.inercountry a:hover span{ color:#009cee; }