header{ width:100%; float:left; position: relative; z-index:2; transition: -webkit-transform .3s ease; transition: transform .3s ease; }
.hdrTop{ width:100%; padding:20px 0px; float:left; background:rgba(0, 255, 0, 0.2); }
.hdrBtm{ width:100%; padding:0px; float:left; position: relative; background:rgba(0, 255, 255, 0.7); }
.StickyElementAfterScroll{ transition: -webkit-transform .3s ease; transition: transform .3s ease; transition: transform .3s ease,-webkit-transform .3s ease; }
.Sticky{ /*-webkit-transform: translateY(-60px); transform: translateY(-60px); */	position: fixed; top:0; left:0; }

#preloader { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: #fff; z-index: 999; }