* { padding: 0px; margin: 0px; outline: none; }

/* placeholder and Selection css */
::selection { color: #fff; background: #2c2c2c; }

::-moz-selection { color: #fff; background: #2c2c2c; }

::-webkit-input-placeholder { color: #2c2c2c; text-overflow: ellipsis; font-size: 16px; }

::-moz-placeholder { color: #2c2c2c; text-overflow: ellipsis; opacity: 0.5; font-size: 16px; }

:-ms-input-placeholder { color: #2c2c2c; text-overflow: ellipsis; opacity: 0.5; font-size: 16px; }

/* body css property */
body, html { height: 100%; -moz-osx-font-smoothing: grayscale; }

body { font-family: 'Raleway', sans-serif; height: 100%; font-size: 15px; line-height: 26px; font-weight: 400; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; }

/* typography css */
h1, h2, h3, h4, h5, h6 { margin-top: 0px; }

p { margin: 0 0 25px; line-height: 26px; }

b, strong { font-weight: 600; }

ul, ol, dl { list-style-position: outside; margin-bottom: 15px; padding: 0px; list-style: none; }

/* video and audio */
img { max-width: 100%; height: auto; }

video { background-size: cover; display: table-cell; vertical-align: middle; width: 100%; }

iframe { border: 0; }

/* Button and link css */
a, a:hover, a:focus { text-decoration: none; }

a:hover, a:active { text-decoration: none; }

/* common animation css */
.transition *{ transition: all ease 0.4s; -webkit-transition: all ease 0.4s; -ms-transition: all ease 0.4s; }



.code-previewer-area{ width:100%; position: relative; margin-top:20px; }

.code-previewer-area .tn-group-toggle{ position: relative; z-index: 1; }

.code-previewer-area .code-previewer-content-area{ width:100%; display: inline-block; position: relative; margin-top: 10px; }

.code-previewer-area .code-previewer-content{ width:100%; position: absolute; top:0px; left:0px; border:#b1b1b1 solid 1px; padding:20px; border-radius: 4px; background: #fff; overflow: hidden; height:0px; }

.code-previewer-area .code-previewer-content.active{ position: relative; z-index: 1; height:auto; }


.section-rows{ padding:30px 0px; position: relative; }

.section-rows .section-row-heading{ font-weight:700; margin-bottom:20px; }

.design-preview-section{ position: relative; }
